﻿<%@ Page Language="C#"  Title="" MasterPageFile="~/AdminWeb/MasterPageAdmin1.master"  AutoEventWireup="true" CodeFile="adminHome.aspx.cs" Inherits="adminWeb_adminHome" %>
 

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">


    <asp:Label ID="Label1" runat="server"> </asp:Label>
    <asp:Label ID="Label2" runat="server"> </asp:Label>

</asp:Content>


