﻿<%@ Page Title="" Language="C#" MasterPageFile="~/adminWeb/MasterPageAdmin1.master" AutoEventWireup="true" CodeFile="invList.aspx.cs" Inherits="adminWeb_invList"     EnableEventValidation="false" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <script> 
        function CheckNull(tbx) {
            console.log(tbx.id);
            tbxSort = $("#" + tbx.id);

            if (!tbxSort.val() == "") {
                // alert("กรุณาระบุ ลำดับด้วย");  
                if (isDecimal(tbxSort.val()) == false) {
                    alert("กรุณาระบุ ให้ถูกต้อง และมีทศนิยมได้ไม่เกิน 3 ตำแหน่ง"); return false;
                }
            }
            return true;
        }


        function isDecimal(_val) {
            patt = /^[0-9]+([.,][0-9]{1,3})?$/;
            re = patt.test(_val);
            return re;
        }

        function validateNumber(event) {
            var key = window.event ? event.keyCode : event.which;
            if (event.keyCode == 8 || event.keyCode == 46
             || event.keyCode == 37 || event.keyCode == 39) {
                return true;
            }
            else if (key < 48 || key > 57) {
                return false;
            }
            else return true;
        }
    </script>


</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="Server">
    <div id="page-prdList">
     <div id="manageArea">
            <div  class="colLeft">
       <h1 class="subject1">
          ข้อมูลนักลงทุน</h1>
   
                <div class="navManage">
            <asp:Button ID="btnAddContent" runat="server" Text="เพิ่มรายการ" class="btn-default"  Style="margin-right: 5px;" />
 
        </div>

                </div><!-- end  class="colLeft" --> 
<div class="colRight">
<div class="areaSearch">
<table width="100%" >
<tr>
<td align="right" >ประเภท : </td>
<td   width="5%"  >
<asp:DropDownList ID="ddlSearchCat" runat="server">
<asp:ListItem Value="">-- โปรดระบุ  --</asp:ListItem>
</asp:DropDownList> 
</td>     
<td    width="5%"  ><asp:TextBox ID="tbxKeySearch" runat="server"></asp:TextBox>
</td>
                              
<td   width="5%"   > <asp:Button ID="btnSearch" runat="server" Text="ค้นหา" class="btn-default  btn-small"   OnClick="btnSearch_Click"  UseSubmitBehavior="False"  />
</td>              
</tr>
              
          
</table>
 
<!-- End  class="areaSearch" --> 
       <div class="notaion"> *** การแสดงหน้าเวบ 1.ต้องมีการเปิดการใช้งาน </div>
</div><!-- end  class="colRight" -->
</div><!-- End  id="manageArea" -->

    <style> 
    /*===== Control  GridView1  Width (support IE9 & Over) =====*/ 
    [id*=GridView] th:nth-child(1) {width: 5% ; }
    [id*=GridView] th:nth-child(2) { }
    [id*=GridView] th:nth-child(3) { width:18%;   }
    [id*=GridView] th:nth-child(4) {width:8%; }
    [id*=GridView] th:nth-child(5) {width:5%; } 
    [id*=GridView] th:nth-child(6) {width: 10% }  
       [id*=GridView] th:nth-child(7) {width: 5% } 
               [id*=GridView] th:nth-child(8) {width: 13% } 
    </style>

<asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="False"  Width="100%" EnableModelValidation="True" 
    DataKeyNames="InvId"
    OnRowDataBound="GridView1_RowDataBound" 
    OnRowDeleting="GridView1_Deleting" 
    OnPageIndexChanging="GridView1_IndexChanging" 
    OnRowEditing="modEditCommand"
    OnRowUpdating="modUpdateCommand"
    OnRowCancelingEdit="modCancelCommand"
>
     
            <Columns>

                <asp:TemplateField HeaderText="ID">
                    <%-- แสดงเวลาปรกติ --%>
                    <ItemTemplate >
                        <div style="float:right">
                        <asp:Label ID="lblId" runat="server"  ></asp:Label></div>
                    </ItemTemplate>
                </asp:TemplateField>

                  <asp:TemplateField HeaderText="หัวข้อ"  >
                    <ItemTemplate  >
                        <asp:HyperLink ID="hplTopic" runat="server"  > 
                        </asp:HyperLink>
                    </ItemTemplate>
                </asp:TemplateField>

                <asp:TemplateField HeaderText="ประเภท"  >
                    <ItemTemplate  >
                           <div style="text-align:center">
                        <asp:Label ID="lblCat" runat="server"  > </asp:Label>
                            </div> 
                    </ItemTemplate>
                </asp:TemplateField>  
               
           <asp:TemplateField HeaderText="ภาษา"  >
                    <ItemTemplate  >
                           <div style="text-align:center">
                        <asp:Label ID="lblLanguage" runat="server"  ></asp:Label> 
                            </div> 
                    </ItemTemplate>
                </asp:TemplateField> 

                  <asp:TemplateField HeaderText="แสดงลำดับ"  >
                    <ItemTemplate  >
                           <div style="text-align:center">
                        <asp:Label ID="lblSort" runat="server"  > </asp:Label>
                            </div>
                        
                    </ItemTemplate>
                </asp:TemplateField> 

                 <asp:TemplateField HeaderText="วันเวลา<br>อัพเดท"  >
                    <ItemTemplate  >
                           <div style="text-align:center">
                        <asp:Label ID="lblDateInput" runat="server"  > </asp:Label>
                            </div>
                        
                    </ItemTemplate>
                </asp:TemplateField>  

            

                <asp:TemplateField HeaderText="สถานะ">
                    <ItemTemplate>
                          <div style="text-align:center"> 
                        <asp:Image ID="imgStatus" runat="server"  /> 
                          </div>
                    </ItemTemplate>

                     <EditItemTemplate>
                            <asp:Label ID="lblHdStatus" runat="server"   Visible="false"></asp:Label>
                          <asp:DropDownList ID="ddlStatus" runat="server"   > </asp:DropDownList>
                    </EditItemTemplate>

                </asp:TemplateField> 



       
  
                
                             
                <asp:TemplateField HeaderText="จัดการ" ShowHeader="False">
                    <ItemTemplate>
                        <div style="text-align: center">
                            <asp:Button ID="btnRowEdit" runat="server" Text="ตั้งค่า" class="btn-default btn-small " CommandName="Edit" />
                            <%--  --%>
                        </div>
                    </ItemTemplate>


                    <EditItemTemplate>
                        <div style="text-align: center">
                     
                        <asp:Button ID="btnRowUpdate" runat="server" Text="บันทึก" class="btn-default btn-small " CommandName="Update" />
                               <asp:Button ID="btnRowCancel" runat="server" Text="ยกเลิก" class="btn-default btn-small " CommandName="Cancel" />
                     
                        </div>
                    </EditItemTemplate>
                </asp:TemplateField>


            </Columns>
            <PagerSettings Mode="NumericFirstLast" />
            <RowStyle Height="20px" />
        </asp:GridView>



        <br />
        <br />

     

    </div>
    <!-- end  id="page-prdList" --> 

     
    </div>
</asp:Content>



