﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPageAdmin1.master.cs" Inherits="MasterPageAdmin1" %><!DOCTYPE html> 
<html>
<head id="Head1" runat="server" >
<meta http-equiv="X-UA-Compatible" content="IE=IE9" />
<meta  charset=utf-8" /> 
<myUc:backendScript runat="server" /> 
<myUc:script_CKEditorCKFinder runat="server" />
     
<asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
</asp:ContentPlaceHolder>   

</head>
<body>
    <form id="form1" runat="server">
    <div id="container" >
        <div id="header">
            <div class="logo">
              <a href="<%=Config.BackendUrl%>Default.aspx"><span>สินมั่นคงประกันภัย</span></a>
            </div> 
        </div>
        <!-- End id="header" -->
         <div class="clear"></div> 
    <myuc:backendNavTop runat="server" /> 
        <div class="clear"></div> 
        
        <div id="warper">
            
                <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
             
                </asp:ContentPlaceHolder> 
       
            <div class="clear"> </div>
         </div> <!-- End id="warper" -->
        <div class="clear"></div>
        
  <myuc:backendfooter   runat="server" /> 

          
    </div>  <!-- End id="container"-->
    </form>
</body>
</html>

