<link rel="stylesheet" href="example1/colorbox.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="colorbox/jquery.colorbox.js"></script>

<script>

jQuery(document).bind('cbox_close', function () {
jQuery.colorbox.remove();
});

jQuery(document).ready(function () {

jQuery(".iframe").click(function () {
jQuery("#colorboxcss").attr({ href: "example1/colorbox.css" });
jQuery.colorbox.init();
jQuery(".iframe").colorbox({ width: '45%', height: '70%', iframe: true, onClosed: function () { jQuery.colorbox.remove(); } });
});


jQuery("a#colorboxlink").click(function () {
jQuery("#colorboxcss").attr({ href: "example2/colorbox.css" });
jQuery.colorbox.init();
jQuery("a#colorboxlink").colorbox({ onClosed: function () { jQuery.colorbox.remove(); } });
});
});


</script>




<div class="iframe">11111111111111</div>
<br><br><br><br>

 
<div><a id="colorboxlink">222222222222222</a></div>


