﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageFront2_th.master" AutoEventWireup="true" CodeFile="buyCompulsary_step3.aspx.cs" Inherits="buyCompulsary_step3" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
    <div id="page-online-insCar">
        <h1 class="subject1">ทำประกันออนไลน์ </h1>
        การทำรายการประกันภัยของท่านเรียบร้อยแล้ว หากท่านมีข้อสงสัยเพิ่มเติม สามารถติดต่อสอบถามได้ที่ 02-378-7167<br />
        <br />        
        <div class="prc-row">        
        <h2>
        เลขที่อ้างอิง : <asp:Label ID="lblRefNo" runat="server" Text=""></asp:Label>
        </h2>
        <h2 class="subject-detail">รายละเอียดผู้เอาประกัน</h2>
        <table width="630px">
            <tr>
                <td valign="top">
                    <table class="tb-online-insCar">              
                        <tr>
                            <td class="label" >
                                ชื่อ :
                            </td>
                            <td >
                                <asp:Label ID="lblFName" runat="server" Text=""></asp:Label>
                            </td>    
                            <td class="label">
                                นามสกุล :
                            </td>
                            <td>
                                <asp:Label ID="lblLName" runat="server" Text=""></asp:Label>
                            </td>                            
                        </tr>
                        <tr>
                            <td class="label">
                                ที่อยู่ :
                            </td>
                            <td colspan="3">
                                <asp:Label ID="lblAddress" runat="server" Text=""></asp:Label>
                            </td>
                        </tr>
                        <tr>                    
                            <td class="label"  >
                                ตำบล / แขวง :
                            </td>
                            <td colspan="3">
                                <asp:Label ID="lblSubDistrict" runat="server" Text=""></asp:Label>
                            </td>
                        </tr>
                        <tr>
                            <td class="label" >
                                อำเภอ / เขต :
                            </td>
                            <td width="150px">
                                <asp:Label ID="lblDistrict" runat="server" Text=""></asp:Label>
                            </td>      
                            <td class="label">
                                จังหวัด :
                            </td>
                            <td  >
                                <asp:Label ID="lblProvince" runat="server" Text=""></asp:Label>
                            </td>                          
                        </tr>
                        <tr>
                            <td class="label">
                                รหัสไปรษณีย์ :
                            </td>
                            <td width="130px">
                                <asp:Label ID="lblPostCode" runat="server" Text=""></asp:Label>
                            </td>      
                            <td class="label">
                                <div style="display:none">เลขที่บัตรประชาชน :</div>
                            </td>
                            <td  >
                                <div style="display:none"><asp:Label ID="lblIDCard" runat="server" Text=""></asp:Label></div>
                            </td>                         
                        </tr>
                        <tr>
                            <td class="label">
                                เบอร์โทรศัพท์บ้าน :
                            </td>
                            <td>
                                <asp:Label ID="lblTelephone" runat="server" Text=""></asp:Label>
                            </td> 
                            <td class="label">
                                <div style="display:none">เบอร์โทรศัพท์มือถือ :</div>
                            </td>
                            <td>
                                <div style="display:none"><asp:Label ID="lblMobile" runat="server" Text=""></asp:Label></div>
                            </td>                                                                               
                        </tr>
                        <tr>
                            <td class="label">
                                อีเมล์ :
                            </td>
                            <td>
                                <asp:Label ID="lblEmail" runat="server" Text=""></asp:Label>
                            </td>                    
                        </tr>                        
                    </table>
                </td>
            </tr>            
            <tr>
                <td>&nbsp;</td>
            </tr>
        </table>
        
        <h2 class="subject-detail">รายละเอียดรถยนต์</h2>
        <table width="630px">
            <tr>
                <td valign="top">
                    <table class="tb-online-insCar">                
                        <tr>
                            <td class="label">
                                ยี่ห้อรถ :
                            </td>
                            <td  >
                                <asp:Label ID="lblCarName" runat="server" Text=""></asp:Label>
                            </td>                                
                            <td class="label">
                                ประเภท :
                            </td>
                            <td>
                                <asp:Label ID="lblCarType" runat="server" Text=""></asp:Label>
                            </td>                                
                        </tr>
                        <tr>
                            <td class="label">
                                รหัสรถ :
                            </td>
                            <td>
                                <asp:Label ID="lblCarUseDesc" runat="server" Text=""></asp:Label>
                            </td>                                
                            <td class="label">
                                ลักษณะตัวรถ :
                            </td>
                            <td>
                                <asp:Label ID="lblCarSize" runat="server" Text=""></asp:Label>
                            </td>                                
                        </tr>
                        <tr>
                            <td class="label">
                                จังหวัดจดทะเบียน :
                            </td>
                            <td>
                                <asp:Label ID="lblLicenseProvice" runat="server" Text=""></asp:Label>
                            </td>                                
                            <td class="label">
                                เลขทะเบียน :
                            </td>
                            <td>
                                <asp:Label ID="lblLicenseNo" runat="server" Text=""></asp:Label>
                            </td>                                
                        </tr>
                        <tr>
                            <td class="label">
                                ปีจดทะเบียน :
                            </td>
                            <td>
                                <asp:Label ID="lblCarRegisYear" runat="server" Text=""></asp:Label>
                            </td>                                                    
                            <td class="label">
                                หมายเลขเครื่อง :
                            </td>
                            <td>
                                <asp:Label ID="lblEngineNo" runat="server" Text=""></asp:Label>
                            </td>                                
                        </tr>                        
                        <tr>
                            <td class="label">
                                หมายเลขตัวถัง  :
                            </td>
                            <td>
                                <asp:Label ID="lblChasis" runat="server" Text=""></asp:Label>
                            </td>                               
                        </tr>
                    </table>
                </td>                
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </table>            
        </div>                
        <h2 class="subject-detail">รายละเอียดการชำระเงินและการจัดส่งเอกสาร</h2>
        <table width="630px">
            <tr>
                <td valign="top">
                    <table class="tb-online-insCar">
                        <tr>
                            <td>วันที่เริ่มคุ้มครอง</td>
                            <td>&nbsp;</td>
                            <td class="label"></td>
                            <td>
                                <asp:Label ID="lblStartDate" runat="server" Text=""></asp:Label>
                            </td>                            
                        </tr>
                        <tr>
                            <td class="label"   >เบี้ยสุทธิ :</td>
                            <td>
                                <asp:Label ID="lblPremium" runat="server" Text=""></asp:Label>
                            </td>
                            <td class="label">อากร :</td>
                            <td>
                                <asp:Label ID="lblStamp" runat="server" Text=""></asp:Label>
                            </td>
                        </tr>
                        <tr>
                            <td class="label"   >ภาษี :</td>
                            <td  >
                                <asp:Label ID="lblVat" runat="server" Text=""></asp:Label>
                            </td>
                            <td class="label">เบี้ยรวม :</td>
                            <td>
                                <asp:Label ID="lblGrossPremium" runat="server" Text=""></asp:Label>
                            </td>
                        </tr> 
                        <tr>
                            <td colspan="6">
                                <table>
                                    <tr>
                                        <td class="label" valign="top">วิธีการชำระเบี้ยประกันภัย :</td>
                                        <td colspan="4">
                                            <asp:Label ID="lblPaidMethod" runat="server" Text=""></asp:Label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label"><div style="display:none">สถานที่จัดส่งเอกสาร :</div></td>
                                        <td colspan="4">
                                            <asp:Label ID="lblSendDoc" runat="server" Text="" Visible="false"></asp:Label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="4">
                                            <asp:Label ID="lblDocAddress1" runat="server" Text=""></asp:Label>
                                        </td>
                                    </tr>
                                </table>
                            </td>                            
                        </tr>                        
                    </table>
                </td>
            </tr>
        </table>
        
        <strong>ขอบคุณที่ท่านไว้วางใจเลือกใช้บริการกับ บริษัท สินมั่นคงประกันภัย จำกัด (มหาชน)</strong>
        <br />
        <br />
        <div style="margin: 0px auto; width: 190px;  margin-top: 15px;">
            <asp:LinkButton ID="LinkButton1" runat="server" OnClick="btnPrint_Click">รูปแบบ pdf</asp:LinkButton>&nbsp;                       
            <a href="home.aspx">กลับสู่หน้าแรก</a><br />
        </div>
    </div>
    <!-- End  <div class="context page-app"> -->
    <asp:Literal ID="litScript" runat="server"></asp:Literal>
</asp:Content>

