﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="buyInsureCarVoucher.aspx.cs" Inherits="buyOnlineInsCarVoucher" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
      <title>รายละเอียด ความคุ้มครอง</title>
    <link href="css/reset.css" rel="stylesheet" />
    <link href="css/font.css" rel="stylesheet" />
    <style>

#page-Voucher { font-size: 13px; background: url('images/voucher1.jpg') no-repeat  left 30px;  position:relative; width:626px; height:340px; }
#page-Voucher .subject1 { font-size: 23px; color: #0b36c9; margin: 8px 0px 5px 0px; font-family: 'RSULight'; clear: both; margin: 0px; border-bottom:1px solid  #ffde00 ; width: 600px ;height: 25px;margin-bottom:10px;  } 

#page-Voucher  .areaDetail {  position:absolute;top:180px; left:320px;}
#page-Voucher .areaDetail .nameVoucher { font-family: 'RSULight';font-size: 23px;color:#000; list-style: disc ; line-height:24px;}
#page-Voucher .areaDetail  .priceVoucher{  font-family: 'RSULight';font-size: 26px;color:red; margin-bottom:5px; line-height:25px;}  
    </style>
</head>
<body>
    <form id="form1" runat="server">

<div id="page-Voucher">
 
<div class="subject1">Gif-Voucher</div> 

<div class="areaDetail"> 
<asp:Label ID="lblVoucherGar" runat="server"  ></asp:Label>
<asp:Label ID="lblVoucherService" runat="server"  ></asp:Label> 
</div>
  
</div> <!--- end id="page-Voucher"-->
    </form>
</body>
</html>
