﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageFront2_th.master" AutoEventWireup="true" CodeFile="buyInsureCar_step4.aspx.cs" Inherits="buyInsureCar_step4" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="Server">
    <div id="page-online-insCar">
        <h1 class="subject1">ทำประกันออนไลน์ </h1>


        การทำรายการประกันภัยของท่านเรียบร้อยแล้ว หากท่านมีข้อสงสัยเพิ่มเติม สามารถติดต่อสอบถามได้ที่ 02-378-7167<br />
        <br />
        <strong>ขอบคุณที่ท่านไว้วางใจเลือกใช้บริการกับ บริษัท สินมั่นคงประกันภัย จำกัด</strong>
        <br />
        <br />





        <div style="margin: 0px auto; width: 190px;  margin-top: 15px;">
            <a href="home.aspx">กลับสู่หน้าแรก</a><br />


        </div>



    </div>
    <!-- End  <div class="context page-app"> -->



</asp:Content>

