﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageFront2_th.master" AutoEventWireup="true"
    CodeFile="investInfo_05.aspx.cs" Inherits="investInfo_05" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="Server">
    <div class="subject1">การกำกับดูแลกิจการ</div>
    <div class="subject2">นโยบายเกี่ยวกับการกำกับดูแลกิจการ</div>
   <p>ตลอดระยะเวลาที่ผ่านมา บริษัทฯ ดำเนินธุรกิจโดยยึดหลักความมีคุณธรรม ความซื่อสัตย์และความยุติธรรม
    และเชื่อว่าสิ่งเหล่านี้เป็นปัจจัยสำคัญที่จะดำรงไว้ซึ่งชื่อเสียงและความศรัทธาของผู้เกี่ยวข้อง
    ซึ่งรวมถึงลูกค้า, คู่ค้า ตลอดจนผู้ถือหุ้นและผู้ลงทุน บริษัทฯ จึงบริหารงานและเปิดเผยข้อมูลด้วยความโปร่งใส
    ยึดถือระบบ, หลักการ, เหตุผลและความถูกต้องเสมอมา และได้ปฏิบัติตามหลักการกำกับดูแลกิจการที่ดีตามแนวทางของตลาดหลักทรัพย์แห่งประเทศไทย
    </p> 
    <p>บริษัทฯ มีนโยบายในการเปิดเผยข้อมูลอย่างเพียงพอแก่ผู้เกี่ยวข้องทุกฝ่าย และยึดถือการปฏิบัติให้เป็นไปตามกฎหมาย
    และกฎระเบียบที่เกี่ยวข้องของหน่วยงานที่ดูแล</p> 
    <div class="subject2">ผู้ถือหุ้น : สิทธิและความเท่าเทียมกัน</div>
    <p>คณะกรรมการบริษัทฯ มีนโยบายที่จะปฏิบัติต่อผู้ถือหุ้นอย่างเท่าเทียมกัน จึงได้ดำเนินการตามกฎหมายและข้อกำหนดที่เกี่ยวข้องอย่างเคร่งครัด
    เพื่อให้ผู้ถือหุ้นได้รับข้อมูลข่าวสารทันเวลาครบถ้วนและเท่าเทียมกัน โดยเฉพาะอย่างยิ่งสิทธิในการออกเสียงลงคะแนนในที่ประชุมผู้ถือหุ้น
    เพื่อตัดสินใจในเรื่องสำคัญซึ่งคณะกรรมการต้องขอความเห็นชอบจากที่ประชุมผู้ถือหุ้น
    สิทธิในการเลือกตั้งและถอดถอนกรรมการ และสิทธิในส่วนแบ่งกำไร 
    
    <p>นอกจากนี้ บริษัทฯยังเปิดโอกาสให้ผู้ถือหุ้นสามารถเสนอวาระในการประชุมสามัญผู้ถือหุ้นประจำปี
    และเสนอชื่อบุคคลเพื่อเข้ารับการเลือกตั้งเป็นกรรมการบริษัทฯด้วย โดยในการประชุมผู้ถือหุ้นที่ผ่านมาทุกครั้ง
    ได้จัดขึ้นในท้องที่อันเป็นที่ตั้งของสำนักงานใหญ่ โดยแสดงแผนที่ของสถานที่ประชุมไว้ในเอกสารประกอบการประชุม
    เพื่อเปิดโอกาสให้ผู้ถือหุ้นสามารถเข้าร่วมประชุมได้อย่างสะดวก อีกทั้งสนับสนุนให้ผู้ถือหุ้นเข้าร่วมประชุมใช้สิทธิออกเสียงลงคะแนนในที่ประชุมผู้ถือหุ้น
    หรือใช้สิทธิออกเสียงลงคะแนนโดยการมอบฉันทะในกรณีที่ไม่สามารถเข้าร่วมประชุมได้ รวมทั้งเปิดโอกาสให้ผู้ถือหุ้นได้แสดงความคิดเห็น
    ขอคำอธิบาย หรือตั้งคำถามใด ๆ ได้อย่างเท่าเทียมกัน
    
    <div class="subject2">สิทธิของผู้มีส่วนได้เสีย</div>
    <p>บริษัทฯ ได้ให้ความสำคัญต่อสิทธิของผู้มีส่วนได้เสียทุกกลุ่ม โดยเฉพาะบริษัทฯ ดำเนินธุรกิจในการรับประกัน
    บริษัทฯ จึงให้ความสำคัญด้านการให้ความคุ้มครองที่มีคุณภาพและเป็นธรรม รวมถึงการจัดการค่าสินไหมทดแทนและการพิจารณาข้อร้องเรียน
    โดยบริษัทฯ ได้จัดตั้งแผนกลูกค้าสัมพันธ์ เพื่อรับเรื่องร้องเรียนและแก้ปัญหาให้กับผู้เอาประกัน
    ตลอดจนคู่ค้า ไม่ว่าจะเป็นตัวแทนหรืออู่ โดยขั้นตอนการดำเนินการอยู่บนพื้นฐานของความเป็นกลาง
    และกำหนดระยะเวลาที่เหมาะสมในการจัดการเรื่องร้องเรียน ตลอดจนรายงานให้กรรมการได้รับทราบถึงจำนวนเรื่องร้องเรียนและวิธีดำเนินการจัดการและแก้ไขข้อร้องเรียนทุกเรื่อง
    <p>ในส่วนของพนักงานนั้น บริษัทฯ ได้ปฏิบัติกับพนักงานอย่างเท่าเทียมและเป็นธรรม ตลอดจนจัดให้มีการฝึกอบรมทั้งภายในและภายนอก
    และจัดให้มีการทำ Job Rotation เพื่อเป็นการเสริมสร้างความรู้และประสบการณ์ในการทำงานให้ทั่วถึงตามความเหมาะสม
    และความสามารถของพนักงานในแต่ละระดับชั้น ในส่วนของผู้ถือหุ้น บริษัทฯ ได้คำนึงและยึดถือความโปร่งใสเป็นนโยบายในการดำเนินงาน
    และตระหนักถึงความรับผิดชอบในการปฏิบัติหน้าที่อย่างมีประสิทธิภาพ เพื่อเพิ่มมูลค่าทางเศรษฐกิจให้แก่กิจการ
    และผลประโยชน์ให้กับผู้ถือหุ้น
    <div class="subject2">การประชุมผู้ถือหุ้น</div>
    <p> 2551 บริษัทฯ มีการประชุมผู้ถือหุ้น จำนวน 1 ครั้ง ซึ่งเป็นการประชุมสามัญผู้ถือหุ้นประจำปี
    โดยการประชุมดังกล่าวได้จัด ณ สำนักงานใหญ่ของบริษัทฯ เลขที่ 313 ถนนศรีนครินทร์ แขวงหัวหมาก
    เขตบางกะปิ กรุงเทพมหานคร และบริษัทฯ ได้จัดส่งหนังสือเชิญประชุมพร้อมทั้งข้อมูลประกอบการประชุมตามวาระต่าง
    ๆให้แก่นายทะเบียนผู้ถือหุ้น เพื่อนำส่งให้แก่ผู้ถือหุ้นทราบล่วงหน้าก่อนวันประชุมประมาณ
    14 วัน โดยในแต่ละวาระการประชุมมีความเห็นของคณะกรรมการประกอบ ในการประชุมนี้มีกรรมการเข้าร่วมประชุมจำนวน
    5 ท่าน ซึ่งรวมถึงกรรมการตรวจสอบ ตลอดจนผู้สอบบัญชีและที่ปรึกษากฎหมายของบริษัทฯ ก็ได้เข้าร่วมในการประชุมเพื่อตอบข้อซักถามของผู้ถือหุ้นในประเด็นที่เกี่ยวข้องและอยู่ในความรับผิดชอบ
    โดยประธานที่ประชุมได้เปิดโอกาสให้ผู้ถือหุ้นทุกรายมีสิทธิเท่าเทียมกันในการตรวจสอบการดำเนินงานของบริษัทฯ
    สอบถาม แสดงความคิดเห็นและข้อเสนอแนะต่าง ๆ อีกทั้งคณะกรรมการบริษัทฯ ยังจัดให้มีการบันทึกการประชุมอย่างถูกต้อง
    ครบถ้วน เพื่อให้ผู้ถือหุ้นสามารถตรวจสอบได้
    <div class="subject2">ภาวะผู้นำและวิสัยทัศน์</div>
    <p>ผลการดำเนินงานของบริษัทฯ ในปีที่ผ่านมา มีการขยายตัวอย่างต่อเนื่องและมั่นคง และนอกจากการเติบโตที่น่าพอใจ
    บริษัทฯ ได้มีการปรับตัวทางธุรกิจอย่างสม่ำเสมอ ดังจะเห็นว่า บริษัทฯ ได้เพิ่มสัดส่วนการรับประกัน
    Non-Motor ได้มากขึ้น จากเดิมที่การประกันภัยรถยนต์ มีสัดส่วนการประกันเกือบร้อยเปอร์เซ็นต์
    ในปี 2551 บริษัทฯ มีสัดส่วนการรับประกันภัยรถยนต์ ร้อยละ 85.89 และมีส่วนแบ่งการตลาดการประกันภัยอิสรภาพเป็นอันดับหนึ่ง
    ซึ่งเป็นกรมธรรม์แบบใหม่ เป็นอันดับหนึ่ง จากการวางแผนเข้าถึงกลุ่มลูกค้าได้อย่างถูกต้องและรวดเร็ว
    สะท้อนให้เห็นถึงการมีวิสัยทัศน์ของคณะกรรมการ และความสามารถในการปรับตัวได้เป็นอย่างดีขององค์กรและทีมงาน
    <div class="subject2">ความขัดแย้งทางผลประโยชน์</div>
    <p>คณะกรรมการทราบถึงรายการที่มีความขัดแย้งทางผลประโยชน์และรายการที่เกี่ยวโยงกัน รวมทั้งมีการปฏิบัติตามหลักเกณฑ์ของตลาดหลักทรัพย์
    โดยราคาและเงื่อนไขเสมือนทำรายการกับบุคคลภายนอก นอกจากนี้บริษัทฯ มีการเปิดเผยรายการที่เกี่ยวโยงกันและรายการระหว่างกันไว้ในแบบแสดงรายการข้อมูลประจำปี
    (แบบ 56-1) และรายงานประจำปี (แบบ 56-2)
    <div class="subject2">จริยธรรมธุรกิจ</div>
    <p>บริษัทฯ ได้จัดทำจริยธรรมในการดำเนินธุรกิจ และหลักการบรรษัทภิบาล ออกมาเป็นลายลักษณ์อักษรและบรรจุอยู่ในคู่มือบริษัทฯ
    เพื่อเป็นแนวทางในการปฏิบัติของกรรมการ ผู้บริหาร และพนักงานทุกท่าน โดยมีการเผยแพร่ในระบบ
    Intranet ซึ่งเป็นเว็บไซต์ที่ใช้ภายในองค์กร และจัดพิมพ์แจกจ่ายให้แก่ผู้บริหาร และพนักงานทุกคนของบริษัทฯ
    เพื่อให้ยึดถือเป็นแนวทางในการปฏิบัติหน้าที่ตามพันธกิจที่มีด้วยความซื่อสัตย์สุจริตและเที่ยงธรรม
    ซึ่งบริษัทฯ เชื่อว่าแนวทางดังกล่าวจะก่อให้เกิดความเป็นธรรมแก่ทุกฝ่ายที่เกี่ยวข้องกับบริษัทฯ
    ทั้งลูกค้าและคู่ค้า ตลอดจนผู้ถือหุ้นของบริษัทฯ
    <div class="subject2">การถ่วงดุลของกรรมการที่ไม่เป็นผู้บริหาร</div>
    <p>คณะกรรมการบริษัทฯ ได้จัดให้มีจำนวนกรรมการที่เหมาะสมกับขนาดของกิจการบริษัทฯ โดยปัจจุบันมีจำนวนกรรมการ
    9 ท่าน ประกอบด้วยกรรมการที่เป็นผู้บริหารจำนวน 2 ท่าน กรรมการที่ไม่เป็นผู้บริหาร
    7 ท่าน ซึ่งในจำนวนนี้มีกรรมการอิสระตามข้อกำหนดของตลาดหลักทรัพย์จำนวน 3 ท่าน เทียบเป็นร้อยละ
    33.33 ของกรรมการทั้งคณะ ซึ่งเป็นไปตามแนวทางการถ่วงดุลกรรมการที่ไม่เป็นผู้บริหาร
    กรรมการอิสระของบริษัทฯ ที่กล่าวข้างต้น ประกอบกันขึ้นเป็นคณะกรรมการตรวจสอบ ซึ่งมีบทบาทหน้าที่ในการดูแลกระบวนการจัดทำและการเปิดเผยข้อมูล
    ในรายงานทางการเงินของบริษัทฯ ให้มีความถูกต้อง ครบถ้วนเป็นที่เชื่อถือได้ ตลอดจนดูแลให้มีระบบการควบคุมภายในและการตรวจสอบภายในที่เหมาะสมและมีประสิทธิภาพ
    <div class="subject2">การรวมหรือแยกตำแหน่ง</div>
    <p>ประธานกรรมการไม่เป็นบุคคลเดียวกันกับกรรมการผู้จัดการ แต่ทั้งสองท่านเป็นตัวแทนจากกลุ่มผู้ถือหุ้นใหญ่กลุ่มเดียวกัน
    อย่างไรก็ตามโครงสร้างคณะกรรมการของบริษัทฯ ประกอบด้วยกรรมการที่เป็นอิสระตามความหมายของตลาดหลักทรัพย์แห่งประเทศไทย
    และไม่มีความสัมพันธ์ใด ๆ กับฝ่ายบริหาร จำนวนร้อยละ 33.33 ซึ่งทำให้เกิดการถ่วงดุลและการสอบทานการบริหารงาน
    <div class="subject2">ค่าตอบแทนกรรมการและผู้บริหาร</div>
    บริษัทฯ ได้กำหนดนโยบายค่าตอบแทนกรรมการไว้อย่างชัดเจนและโปร่งใส โดยค่าตอบแทนอยู่ในระดับที่ไม่สูงกว่าอุตสาหกรรมเดียวกัน
    และได้ขออนุมัติจากที่ประชุมผู้ถือหุ้นแล้ว ในปี 2551 บริษัทฯ ได้จ่ายค่าตอบแทนต่าง
    ๆ ให้กรรมการและผู้บริหารมีปรากฏในหัวข้อการจัดการในหมวด (3) เรื่องค่าตอบแทน ซึ่งได้กล่าวมาเบื้องต้น
    <div class="subject2"> การประชุมคณะกรรมการ</div>
    <p>คณะกรรมการบริษัทฯ กำหนดให้มีการประชุมอย่างน้อยไตรมาสละครั้ง และมีการกำหนดวาระการประชุมชัดเจน
    ล่วงหน้า อีกทั้งมีวาระพิจารณาติดตามผลการดำเนินงานประจำทุกไตรมาส ซึ่งเลขานุการบริษัท
    ได้จัดส่งหนังสือเชิญประชุมพร้อมระเบียบวาระการประชุม และเอกสารประกอบก่อนการประชุมล่วงหน้าประมาณ
    7 วัน เพื่อให้คณะกรรมการบริษัทฯ ได้มีเวลาศึกษาข้อมูลอย่างเพียงพอก่อนเข้าร่วมประชุม
    ปกติการประชุมแต่ละครั้งจะใช้เวลาประมาณ 2 ชั่วโมง
    <p>ในปี 2551 คณะกรรมการบริษัทฯ มีการประชุมตามวาระปกติ รวมทั้งสิ้นจำนวน 4 ครั้ง โดยการเข้าร่วมประชุมของคณะกรรมการบริษัทฯ
    แต่ละท่านสรุปได้ดังนี้
    <table class="tb-ver-center">
        <tr>
            <th width="40%">
                รายชื่อ
            </th>
            <th  >
                การเข้าร่วมประชุม / การประชุมทั้งหมด
            </th>
            <th  >
                หมายเหตุ
            </th>
        </tr>
        <tr>
            <td class="align-left">
                นายเรืองวิทย์ ดุษฎีสุพจน์
            </td>
            <td>
                4 / 4
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td class="align-left">
                นายเรืองเดช ดุษฎีสุรพจน์
            </td>
            <td>
                4 / 4
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td class="align-left">
                นางสุวิมล ชยวรประภา
            </td>
            <td>
                4 / 4
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td class="align-left">
                นายไนเจล&nbsp; &nbsp;จอห์น สมิธ
            </td>
            <td>
                3 / 4
            </td>
            <td>
                อยู่ต่างประเทศ
            </td>
        </tr>
        <tr>
            <td class="align-left">
                นายประดิษฐ รอดลอยทุกข์
            </td>
            <td>
                4 / 4
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td class="align-left">
                นางอัญชุลี คุณวิบูลย์
            </td>
            <td>
                1 / 4
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td class="align-left">
                นายอนุชาต ชัยประภา
            </td>
            <td>
                4 / 4
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td class="align-left">
                นายวิเศษ ภานุทัต
            </td>
            <td>
                4 / 4
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td class="align-left">
                นายสุวิชากร ชินะผา
            </td>
            <td>
                2 / 4
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    </table>
    <p>การประชุมคณะกรรมการบริษัทฯ ส่วนใหญ่เป็นการประชุมเพื่อรับทราบรายงานผลการดำเนินงานของบริษัทฯ
    ในแต่ละไตรมาสของปี 2551
     
    <p>ทั้งนี้ ในการประชุมทุกครั้งได้มีการจดบันทึกการประชุมเป็นลายลักษณ์อักษร และมีการจัดเก็บรายงานการประชุมที่ผ่านการรับรองจากคณะกรรมการบริษัทฯ
    พร้อมให้คณะกรรมการบริษัทฯ และผู้ที่เกี่ยวข้องตรวจสอบได้
    <p>
    นอกจากการประชุมดังกล่าวข้างต้นแล้ว คณะกรรมการบริหาร มีการประชุม จำนวน 38 ครั้ง โดยการเข้าร่วมประชุมของคณะกรรมการบริหารแต่ละท่านสรุปได้ดังนี้
    <table class="tb-ver-center">
        <tr>
            <th width="172">
                รายชื่อ
            </th>
            <th width="253">
                การเข้าร่วมประชุม&nbsp; /&nbsp;การประชุมทั้งหมด&nbsp;(ครั้ง)
            </th>
        </tr>
        <tr>
            <td class="align-left">
                นายเรืองเดช&nbsp;ดุษฎีสุรพจน์
            </td>
            <td>
                38 / 38
            </td>
        </tr>
        <tr>
            <td class="align-left">
                นางสุวิมล&nbsp;ชยวรประภา
            </td>
            <td>
                38 / 38
            </td>
        </tr>
        <tr>
            <td class="align-left">
                นายประดิษฐ&nbsp;รอดลอยทุกข์
            </td>
            <td>
                38 / 38
            </td>
        </tr>
    </table>
    <p>ในการประชุมของคณะกรรมการบริหารดังกล่าวข้างต้น ส่วนใหญ่เป็นการประชุมเพื่อพิจารณาเปิดบัญชีเงินฝากธนาคารของที่ทำการสาขาต่างๆของบริษัทฯ
    และเพื่อกำหนดหรือเปลี่ยน แปลงผู้รับมอบอำนาจ และวงเงินในการลงนามสั่งจ่ายเช็ค เพื่อใช้เดินบัญชีสำหรับสาขาบริษัทฯ
    ซึ่งเป็นไปตามข้อกำหนดของธนาคารที่ให้ยื่นสำเนารายงานการประชุมคณะกรรมการบริษัทฯ ประกอบ
    การเปิดบัญชีและแต่งตั้งผู้รับมอบอำนาจ
   <p>
    นอกจากนี้ยังมีการประชุมคณะกรรมการตรวจสอบ ซึ่งมีการประชุม รวม 9 ครั้ง โดยการเข้าร่วมประชุมของคณะกรรมการตรวจสอบแต่ละท่านสรุปได้ดังนี้
    <table class="tb-ver-center">
        <tr>
            <th width="172">
                รายชื่อ
            </th>
            <th width="253">
                การเข้าร่วมประชุม&nbsp; /&nbsp;การประชุมทั้งหมด&nbsp;(ครั้ง)
            </th>
        </tr>
        <tr>
            <td class="align-left">
               นายอนุชาต  ชัยประภา
            </td>
            <td>
                9 / 9
            </td>
        </tr>
        <tr>
            <td class="align-left">
                นายวิเศษ  ภานุทัต
            </td>
            <td>
                 9 / 9
            </td>
        </tr>
        <tr>
            <td class="align-left">
                นายสุวิชากร  ชินะผา
            </td>
            <td>
                   9 / 9
            </td>
        </tr>
    </table>
    <p>ในการประชุมของคณะกรรมการตรวจสอบดังกล่าวข้างต้น ส่วนใหญ่เป็นการประชุมเพื่อสอบทานงบการเงินของบริษัทฯ
    ในแต่ละไตรมาสของปี 2551 และสอบทานรายงานการตรวจสอบ
 <p>
    การประชุมคณะกรรมการลงทุน ซึ่งมีรวม 18 ครั้งโดยการเข้าร่วมประชุมของคณะกรรมการลงทุนแต่ละท่านสรุปได้ดังนี้
   
   <table class="tb-ver-center">
        <tr>
            <th width="172">
                รายชื่อ
            </th>
            <th width="253">
                การเข้าร่วมประชุม&nbsp; /&nbsp;การประชุมทั้งหมด&nbsp;(ครั้ง)
            </th>
        </tr>
        <tr>
            <td class="align-left">
                นายเรืองเดช ดุษฎีสุรพจน์
            </td>
            <td>
                14 / 18
            </td>
        </tr>
        <tr>
            <td class="align-left">
                นางสุวิมล ชยวรประภา
            </td>
            <td>
                17 / 18
            </td>
        </tr>
        <tr>
            <td class="align-left">
                นายประดิษฐ รอดลอยทุกข์
            </td>
            <td>
                17 / 18
            </td>
        </tr>
              <tr>
            <td class="align-left">
               นางสาวถนอมศรี สินสุขเพิ่มพูน
            </td>
            <td>
                15 / 18
            </td>
        </tr>
        
    </table>
    <p>การประชุมของคณะกรรมการด้านการลงทุนดังกล่าวข้างต้น เป็นการประชุมเพื่อพิจารณาจัดสรรเงินลงทุนและคัดเลือกหลักทรัพย์เพื่อเข้าลงทุน
    รวมทั้งติดตามข้อมูลสภาวะด้านการลงทุนที่เปลี่ยนแปลงเพื่อปรับกลยุทธ์และลดความเสี่ยงจากการลงทุน
    <p>
    การประชุมคณะกรรมการบริหารความเสี่ยง ซึ่งมีรวม 3 ครั้ง โดยการเข้าร่วมประชุมของคณะกรรมการบริหารความเสี่ยงแต่ละท่านสรุปได้ดังนี้
    
    <table class="tb-ver-center">
        <tr>
            <th width="172">
                รายชื่อ
            </th>
            <th width="253">
                การเข้าร่วมประชุม&nbsp; /&nbsp;การประชุมทั้งหมด&nbsp;(ครั้ง)
            </th>
        </tr>
        <tr>
            <td class="align-left">
                นายประดิษฐ รอดลอยทุกข์
            </td>
            <td>
                3 / 3 
            </td>
        </tr>
        <tr>
            <td class="align-left">
               นายอนุชาต  ชัยประภา
            </td>
            <td>
                3 / 3
            </td>
        </tr>
        <tr>
            <td class="align-left">
                นายวิเศษ  ภานุทัต
            </td>
            <td>
               3 / 3
            </td>
        </tr>
    </table>
    <p>ในการประชุมของคณะกรรมการบริหารความเสี่ยงดังกล่าวข้างต้น เป็นการประชุมเพื่อพิจารณา
    ขอบเขต อำนาจ หน้าที่และโครงสร้าง ของหน่วยงานบริหารความเสี่ยง รวมทั้งพิจารณาระบุความเสี่ยงที่สำคัญของบริษัทฯ
    <div class="subject2"> คณะอนุกรรมการ</div>
    <p>การแต่งตั้งคณะกรรมการตรวจสอบ เพื่อความชัดเจนและโปร่งใส บริษัทฯ ได้แต่งตั้งคณะกรรมการตรวจสอบ
    โดยคัดเลือกจากกรรมการอิสระ คณะกรรมการตรวจสอบจะได้รับข้อมูลโดยตรงจากผู้ตรวจสอบภายนอกและตรวจสอบภายใน
    คณะกรรมการตรวจสอบมีองค์ประกอบ คุณสมบัติ หน้าที่ และความรับผิดชอบตามหลักการกำกับดูแลกิจการที่ดี
    เพื่อทำหน้าที่กำกับดูแลให้บริษัทฯ มีระบบการควบคุมภายในที่เหมาะสมและมีประสิทธิภาพ
    มีรายงานทางการเงินที่ถูกต้องครบถ้วนและเชื่อถือได้ ดูแลให้บริษัทฯ ปฏิบัติตามข้อกำหนดของทางการและกฎหมายที่เกี่ยวข้อง
    ตลอดจนให้ฝ่ายจัดการแก้ไขข้อบกพร่องที่ตรวจพบโดยมีการติดตามและประเมินผลการปฏิบัติงานที่คณะกรรมการตรวจสอบเห็นว่าสำคัญ
    รวมทั้งภารกิจอื่น ๆ ตามที่คณะกรรมการบริษัทฯ มอบหมาย
    <div class="subject2">ระบบการควบคุมและการตรวจสอบภายใน</div>
    <p>คณะกรรมการบริษัทกำกับดูแลให้บริษัทมีระบบการควบคุมภายในที่เพียงพอ และมีระบบการติดตามควบคุมดูแลการดำเนินงานของบริษัท
    โดยมอบหมายให้คณะกรรมการตรวจสอบ สอบทานความเหมาะสมและความมีประสิทธิผลของระบบการควบคุมภายในที่ฝ่ายบริหารจัดให้มีขึ้น
    เพื่อให้ระบบการควบคุมภายในของบริษัทเหมาะสม เพียงพอ สำหรับ การตรวจสอบงบการเงินของบริษัทโดยผู้สอบบัญชีรับอนุญาต
    ผู้สอบบัญชีได้สอบทานระบบการควบคุมภายในด้านบัญชีและการเงินของบริษัทเพื่อกำหนดแนวทางการตรวจสอบ
    ระยะเวลา และขอบเขตในการปฏิบัติงานในปี 2551 ผู้สอบบัญชีไม่พบสาระสำคัญเพื่อเสนอแนะให้บริษัทปรับปรุงระบบการควบคุมภายในแต่อย่างใด
    ทั้งนี้การจัดระบบควบคุมภายในของบริษัท เป็นไปตามแนวทางของ COSO (The Committee of
    Sponsoring Organizations of the Treadway Commission) ซึ่งประกอบด้วยการจัดการในเรื่องดังนี้
    <div class="subject3" style="text-indent:20px;" >องค์กรและสภาพแวดล้อม</div>
    <p>คณะกรรมการบริษัทและผู้บริหารร่วมกันจัดองค์กร และสภาพแวดล้อมอย่างเหมาะสม โดยคณะกรรมการบริษัทจัดโครงสร้างองค์กร
    และปรับปรุงให้เหมาะสมกับสภาพแวดล้อมที่เปลี่ยนแปลงไป กำหนดเป้าหมายการดำเนินธุรกิจประจำปีของบริษัทไว้ชัดเจน
    และผู้บริหารแจ้งให้พนักงานทุกคนทราบเพื่อปฏิบัติงานในความรับผิดชอบของแต่ละคนได้บรรลุเป้าหมาย
    บริษัทมีนโยบายและระเบียบปฏิบัติหรือคำสั่งต่างๆไว้ชัดเจน
    <div class="subject3" style="text-indent:20px;" >การประเมินความเสี่ยงและการจัดการความเสี่ยง</div>
    <p>บริษัทใช้การประเมินความเสี่ยงเป็นข้อมูลประกอบในการจัดระบบการควบคุมภายใน เพื่อให้มีการควบคุมที่เพียงพอและเหมาะสมในเรื่องที่มีความเสี่ยงสูง
    ในกระบวนการบริหารความเสี่ยง บริษัทจัดให้ผู้บริหารระดับสูงของบริษัทเป็นคณะทำงาน เพื่อให้การกำกับดูแลเรื่องการบริหารความเสี่ยงครอบคลุมเป็นกรอบเดียวกันทั้งบริษัท
    การบริหารความเสี่ยงของบริษัทมีการจัดทำทั้งระดับองค์กร คือ ภาพรวมของบริษัทและดำเนินการในระดับกิจกรรมของแต่ละฝ่าย
    โดยจัดให้มีการประเมินความเสี่ยง วิเคราะห์สาเหตุของความเสี่ยงและผลกระทบ กำหนดมาตรการและกิจกรรมที่จะป้องกัน
    หรือลดความเสี่ยงนั้น ระบุผู้รับผิดชอบดำเนินการ ตลอดจนจัดให้มีสัญญาณเตือนภัยล่วงหน้าเพื่อจะได้ทราบเหตุการณ์
    หรือรายการผิดปกติสำคัญที่อาจเกิดขึ้นและแก้ไขได้อย่างทันท่วงทีโดยมีฝ่ายตรวจสอบภายในติดตามการดำเนินงาน
    ทบทวน ประเมินผล และรายงานผลการบริหารความเสี่ยงต่อคณะกรรมการบริหารสม่ำเสมอ
    <div class="subject3" style="text-indent:20px;" >กิจกรรมควบคุม</div>
    <p>เพื่อให้บริษัทมั่นใจว่าแนวทางและนโยบายที่คณะกรรมการบริษัท และฝ่ายบริหารกำหนดไว้นั้นได้รับการปฏิบัติตามโดยพนักงาน
    ฝ่ายบริหารจึงจัดระบบการควบคุมทางการเงิน การดำเนินงาน และการกำกับดูแลการปฏิบัติงานโดยกำหนดระเบียบ
    คำสั่งปฏิบัติ คำอธิบายลักษณะงานแสดงการแบ่งแยกหน้าที่ความรับผิดชอบของแต่ละหน้าที่งานอย่างชัดเจน
    กำหนดอำนาจและระดับการอนุมัติรายการต่างๆ ของผู้บริหารไว้เป็นลายลักษณ์อักษรรวมทั้งกำหนดขั้นตอน
    และวิธีการในการทำธุรกรรมทางด้านการลงทุนทางการเงินอย่างเพียงพอและเหมาะสมก่อนนำเสนอผู้มีอำนาจอนุมัติรายการเหล่านั้น
    โดยมีหน่วยงานรับผิดชอบติดตามดูแลการดำเนินงานตลอดจนกำหนดมาตรการ และผู้รับผิดชอบที่จะติดตามและรายงาน
    เพื่อให้การดำเนินงานของบริษัท เป็นไปตามวัตถุประสงค์ และสอดคล้องกับกฎหมายที่เกี่ยวข้อง
    <div class="subject3" style="text-indent:20px;" >ระบบสารสนเทศและการสื่อสารข้อมูล</div>
    <p>บริษัทจัดระบบสารสนเทศให้มีข้อมูลสำคัญที่เพียงพอต่อการตัดสินใจของคณะกรรมการ และของฝ่ายบริหารโดยรวบรวมข้อมูลที่สำคัญต่างๆ
    ได้แก่ ข้อมูลและรายงานด้านบัญชี การเงิน เก็บไว้ในระบบข้อมูลเพื่อการบริหาร (Management
    Information System) โดยมีผู้รับผิดชอบดูแลระบบให้ข้อมูลเป็นปัจจุบัน และกำหนดผู้มีสิทธิเข้าใช้ข้อมูลตามลำดับชั้น
    ในเรื่องการสื่อสารข้อมูล บริษัทจัดให้มีการเผยแพร่ข้อมูลอย่างเพียงพอและชัดเจนสำหรับพนักงานและผู้ถือหุ้น
    มีข้อมูลด้านต่างๆ ที่เป็นปัจจุบันใน Websiteของบริษัท เพื่อให้ผู้ถือหุ้น นักลงทุน
    สามารถได้รับข้อมูลของบริษัทตลอดเวลา
    <div class="subject3" style="text-indent:20px;" >การติดตามและการประเมินผล</div>
    <p>บริษัทจัดให้มีการติดตามและประเมินผลสม่ำเสมอ โดยคณะกรรมการบริหารจัดให้มีการประชุมเป็นประจำเพื่อพิจารณาผลการดำเนินงานของบริษัทเปรียบเทียบกับเป้าหมายการดำเนินธุรกิจที่กำหนดไว้
    และสั่งการให้ปรับปรุง หรือแก้ไขเมื่อผลการดำเนินงานแตกต่างจากเป้าหมายที่กำหนด และรายงานผลต่อคณะกรรมการบริษัท
    และในระดับปฏิบัติงานบริษัทจัดให้มีฝ่ายตรวจสอบภายในทำหน้าที่สอบทานความเพียงพอเหมาะสมของระบบการควบคุมภายใน
    และตรวจสอบการปฏิบัติตามระบบของบริษัทอย่างสม่ำเสมอ รวมทั้งติดตามการดำเนินการปรับปรุง/แก้ไขของฝ่ายบริหารและรายงานผลการปฏิบัติงานตรงต่อคณะกรรมการตรวจสอบ
    <div class="subject2">รายงานของคณะกรรมการ</div>
    <p>คณะกรรมการเน้นระบบการควบคุมภายในที่มีประสิทธิภาพ เพื่อให้มั่นใจได้ถึงความถูกต้องและครบถ้วน
    ทันเวลาของข้อมูลที่นำมาบันทึกและประมวลผลทางบัญชี ซึ่งการบันทึกบัญชีทุกรายการต้องมีเอกสารหลักฐานประกอบการลงบัญชีครบถ้วนทุกประการ
    ตามพระราชบัญญัติการบัญชี พ.ศ. 2543 และสามารถตรวจสอบได้ ซึ่งคณะกรรมการบริษัทฯ ได้แต่งตั้งคณะกรรมการตรวจสอบเป็นผู้ดูแลรับผิดชอบคุณภาพของรายงานทางการเงินและความเห็นของคณะกรรมการตรวจสอบเกี่ยวกับเรื่องนี้ปรากฏในรายงานของคณะกรรมการตรวจสอบซึ่งแสดงไว้ในรายงานประจำปี
    คณะกรรมการบริษัทฯ มีความเห็นว่า ผลสอบทานงบการเงินปี 2551 ที่คณะกรรมการตรวจสอบได้สอบทานร่วมกับผู้จัดการฝ่ายบัญชี
    ผู้ตรวจสอบภายใน ตลอดจนผู้สอบบัญชีภายนอก ไม่มีข้อสังเกตใดที่ผิดปกติ และระบบควบคุมภายในของบริษัทฯ
    มีความเพียงพอเหมาะสม และได้มาตรฐานเป็นที่น่าพอใจ
    <div class="subject2">ความสัมพันธ์กับผู้ลงทุน</div>
    <p>คณะกรรมการตระหนักดีว่า ข้อมูลของบริษัทฯ ทั้งรายงานข้อมูลทางด้านการเงินและทั่วไปมีความสำคัญต่อผู้ลงทุน
    บริษัทฯ จึงให้ความสำคัญต่อการเปิดเผยข้อมูลที่ถูกต้อง ครบถ้วน โดยข้อมูลข่าวสารดังกล่าว
    ผู้ลงทุนและผู้เกี่ยวข้องสามารถรับทราบผ่านช่องทางและสื่อการเผยแพร่ข้อมูลของตลาดหลักทรัพย์และเวบไซต์ของบริษัทฯ
    www.smk.co.th ส่วนงานผู้ลงทุนสัมพันธ์นั้นบริษัทฯ มอบหมายให้เลขานุการบริษัท เป็นผู้ดูแลประสานงาน
</asp:Content>
