﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageFront2_th.master" AutoEventWireup="true" CodeFile="investInfo_01.aspx.cs" Inherits="investInfo_01" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
<div id="page-invest">
<div class="subject1">บริษัท สินมั่นคงประกันภัย จำกัด (มหาชน) </div>

<p>เป็นบริษัทที่ดำเนินธุรกิจด้านการบริการ รับประกันวินาศภัยเป็นหลัก เริ่ม ดำเนินธุรกิจ ตั้งแต่วันที่ 27 มกราคม พ.ศ. 2494 ด้วยทุนจดทะเบียนเริ่มแรก 2 ล้านบาท ภายใต้ชื่อ บริษัท บ้วนฮงเซ้งประกันภัย จำกัด ต่อมาภายหลังเปลี่ยนชื่อเป็น บริษัท สินมั่นคงประกันภัย จำกัด ดำเนินธุรกิจรับประกันวินาศภัย 4 ประเภท ได้แก่</p>
 
<ul class="dis2" style="margin :10px 20px 10px 20px;">
<li>การประกันภัยทางรถยนต์</li>
<li>การประกันอัคคีภัย</li>
<li>การประกันภัยทางทะเลและขนส่ง</li>
<li>การประกันภัยเบ็ดเตล็ด</li>
</ul>
 
<p>บริษัทฯ ได้เพิ่มทุนอย่างสม่ำเสมอเพื่อรองรับการขยายตัวของธุรกิจประกันภัย ปัจจุบันบริษัทฯมีทุนจดทะเบียน 200 ล้านบาท และ เมื่อพิจารณาในส่วนเงินกองทุน ปี 2549 บริษัทฯมีเงินกองทุนจำนวนเท่ากับ 1,114.18 ล้านบาท ในส่วนนี้เป็นเงินกองทุนที่บริษัทฯ ต้อง ดำรงไว้ตามพระราชบัญญัติประกันวินาศภัย พ.ศ. 2535 เป็นจำนวนเท่ากับ 333.78 ล้านบาท ส่วนที่เหลือจำนวน 780.40 ล้านบาท ถือเป็น เงินกองทุนส่วนเกิน ซึ่งสามารถรองรับการขยายงานในอนาคต</p>
<p>บริษัทฯเป็นบริษัทประกันวินาศภัยที่รับประกันรถยนต์เป็นหลักบริษัทฯ แรกที่ได้รับความไว้วางใจให้จดทะเบียนในตลาดหลัก ทรัพย์แห่งประเทศไทย ปัจจุบันจัดอยู่ในสี่อันดับแรกของบริษัทฯ ที่มีเบี้ยประกันภัยรับสูงสุด โดยมีก้าวสำคัญในประวัติการดำเนินงานดังนี้ </p>

<div class="subject2">ก้าวย่างที่สำคัญ </div>
<table  class="tb-hor-left " >
  <tr>
    <th width="15%" >ปี พ.ศ. 2534</th>
    <td  ><ul class="dis1"><li>จดทะเบียนในตลาดหลักทรัพย์แห่งประเทศไทย</li></ul></td>
  </tr>
  <tr>
    <th >ปี พ.ศ. 2535</th>
    <td><ul class="dis1"><li>ย้ายสำนักงานใหญ่มาอยู่ที่ อาคารสินมั่นคงประกันภัย ถนนศรีนครินทร์</li></ul></td>
  </tr>
  <tr>
    <th >ปี พ.ศ. 2537</th>
    <td><ul class="dis1"><li>จดทะเบียนแปรสภาพเป็น บริษัทมหาชนจำกัด</li></ul></td>
  </tr>
  <tr>
    <th >ปี พ.ศ. 2538</th>
    <td><ul class="dis1"><li>การร่วมทุนกับ Royal Insurance PLC ในปี  2538 บริษัท สินมั่นคงประกันภัย จำกัด (มหาชน)  ได้มีการเซ็นสัญญาร่วมทุนกับ Royal Insurance PLC. โดยเข้ามาร่วมถือหุ้นในสัดส่วนร้อยละ 20 ของจำนวนหุ้นทั้งหมด ต่อมา Royal Insurance PLC. ได้ควบรวมกับบริษัท Sun Alliance Insurance และเปลี่ยนชื่อเป็น Royal & Sun Alliance ในปี 2549 กลุ่ม Royal & Sun Alliance ครองส่วนแบ่งตลาดสูงที่สุด(ร้อยละ 13) ในธุรกิจ commercial line insurance ในประเทศอังกฤษ อีกทั้งมีส่วนแบ่งตลาดสูงเป็นอันดับที่ 3 ในธุรกิจประกันภัยส่วนบุคคลของประเทศอังกฤษ มีเบี้ยประกันภัยสุทธิรวมทั้งสิ้นประมาณ 5,484 ล้านปอนด์ เทียบเป็นจำนวนเงิน 387,790 ล้านบาท มีเครือข่ายสาขากว่า 50 ประเทศทั่วโลก และมีพนักงงานทั่วโลกทั้งสิ้นประมาณ 24,000 คน </li> 
<li>การร่วมทุนกันในครั้งนั้นเป็นการเอื้อธุรกิจด้วยกันทั้งสองฝ่าย ทาง Royal & Sun Alliance ได้ขยายตลาดการบริการสู่ประเทศไทย โดยอาศัยฐานและเครือข่ายทางธุรกิจอันแข็งแกร่งของบริษัท สินมั่นคงประกันภัย จำกัด(มหาชน) ในฐานะหนึ่งในบริษัทประกันภัยชั้นนำของไทย ส่วนทางสินมั่นคงนั้นนอกจากจะได้ประโยชน์จากเครือข่ายและประสบการณ์ในธุรกิจประกันภัยของ Royal & Sun Alliance ยังเป็นการขยายการดำเนินงานให้กว้างไกลยิ่งขึ้น ดังนั้นการร่วมมือกันในครั้งนั้น จึงเป็นการร่วมมือของสองบริษัทที่กอปรด้วยประวิติศาสตร์แห่งความสำเร็จอันยาวนานที่จะร่วมใจกันก้าวสู่เป้าหมายในศตวรรษหน้า</li></ul></td>
  </tr>
  <tr>
    <th >ปี พ.ศ. 2540</th>
    <td><ul class="dis1"><li>ท่านกรรมการผู้จัดการ ได้รับรางวัลยกย่องเชิดชูเกียรติจากสถาบันผู้พิทักษ์สิทธิผู้บริโภค และสมาคม
สหประชาชาติ ในฐานะที่นำองค์กรสู่ความเป็นผู้นำทางธุรกิจ มีการจัดวางโครงสร้างและแบบแผนในการพัฒนา
บุคลากรที่ดี มีแนวทางในการบริหารและให้บริการที่ดี</li></ul></td>
  </tr>
  <tr>
    <th >ปี พ.ศ. 2543</th>
    <td>	<ul class="dis1"><li>ใช้ระบบ intranet เพื่อติดต่อสื่อสารภายในองค์กร</li>
	<li>เพิ่มช่องทางการจำหน่ายผ่านทางอินเทอร์เน็ตที่เวบไซต์ www.smk.co.th ซึ่งลูกค้าสามารถซื้อ กรมธรรม์และชำระเงินผ่านอินเทอร์เน็ตครบวงจรทั้งลูกค้าใหม่และลูกค้าเก่า</li>
<li>เป็นเจ้าแรกที่มีศูนย์ Call Center 1596 เบอร์เดียวทั่วไทย ที่ลูกค้าสามารถแจ้งได้ทั้งเรื่องอุบัติเหตุ
และการทำประกัน ไม่ว่าจะอยู่จังหวัดไหน อำเภอใด</li></ul></td>
  </tr>
  <tr>
    <th >ปี พ.ศ. 2545</th>
    <td>	<ul class="dis1"><li>เป็นบริษัทประกันวินาศภัยแห่งแรกในประเทศที่ริเริ่มโครงการรับประกันเวลาเดินทางถึงที่ เกิดเหตุภายใน 25 นาที ชื่อโครงการคือ SMK SPEED GUARANTEE 1</li>
	<li>เป็นบริษัทประกันวินาศภัยแห่งแรกในประเทศที่ริเริ่มโครงการรับประกันมาตรฐานระยะเวลา ซ่อมและคุณภาพการซ่อมรถยนต์ ชื่อโครงการคือ SMK SPEED GUARANTEE 2</li>
	<li>เพิ่มช่องทางให้อู่สามารถนำส่งข้อมูลการซ่อมรถยนต์ผ่านระบบ Internet Web Application</li>
	<li>นำระบบ Document Image Processing (DIP) และ กล้องดิจิตอล เข้ามาใช้ในงานสินไหม ในเขตกรุงเทพฯอย่างเต็มระบบ</li></ul></td>
  </tr>
    <tr>
    <th >ปี พ.ศ. 2546</th>
    <td><ul class="dis1"><li>เปิดตัวโครงการประกันอุบัติเหตุเอื้อสุข</li>
	<li>ได้ทดลองและทดสอบโครงการ SMK SPEED GUARANTEE 1 และ 2 ตามสาขาภูมิภาค</li>
	<li>ขยายการใช้กล้องดิจิตอลสำหรับงานด้านตรวจสอบอุบัติเหตุไปยังสาขาภูมิภาค</li></ul></td>
  </tr>
  <tr>
    <th >ปี พ.ศ. 2547</th>
    <td><ul class="dis1"><li>ขยายตลาดในส่วนที่เป็นผลิตภัณฑ์ใหม่ เช่น การประกันภัยอิสรภาพ</li>
	<li>ได้นำระบบ E-Agent มาใช้กับตัวแทน</li>
	<li>ขยายรูปแบบการประชาสัมพันธ์ธุรกิจ โดยใช้สื่อป้ายโฆษณาขนาดใหญ่หลายแห่งในกรุงเทพฯ</li></ul></td>
  </tr>
  <tr>
    <th >ปี พ.ศ. 2548</th>
    <td><ul class="dis1"><li>ยกระดับมาตรฐานเวลาในทุกขั้นตอนของการให้บริการ</li>
	<li>ได้นำระบบ E-Agent มาใช้กับตัวแทน</li>
	<li>ขยายรูปแบบการประชาสัมพันธ์ธุรกิจ โดยใช้สื่อป้ายโฆษณาขนาดใหญ่หลายแห่งในกรุงเทพฯ</li></ul></td>
  </tr>
  <tr>
    <th >ปี พ.ศ. 2549</th>
    <td><ul class="dis1"><li>มีการโฆษณาผ่านสื่อโทรทัศน์เป็นครั้งแรก โดยมุ่งเน้นให้ทราบถึงคุณค่าของ Brand “มาเร็ว เคลมเร็ว ซ่อมเร็ว"</li>
	<li>เริ่มทดลองทำตลาดผ่านช่องทาง Telemarketing โดยเริ่มจาก การนำเสนอขายผลิตภัณฑ์ ที่เข้าใจได้ง่าย เช่น กรมธรรม์ ประกันอุบัติเหตุส่วนบุคคล</li>
<li>ย้ายศูนย์คอมพิวเตอร์สำรองจากสถานที่เดิมซึ่งเป็นอาคารเช่า มาไว้ที่อาคารสาขาเทพารักษ์ ซึ่งเป็นอาคารที่สร้างบนพื้นที่ทรัพย์สินของบริษัทฯเอง</li></ul></td>
  </tr>
  <tr>
    <th >ปี พ.ศ. 2550</th>
    <td><ul class="dis1"><li>เปิดตัวผลิตภัณฑ์ใหม่ 2 ผลิตภัณฑ์ คือ ประกัน 3 คุ้ม และ ประกันตามใจ</li>
	<li>เริ่มพัฒนาระบบ CRM (Customer Relationship Management) เพื่อจะได้เข้าใจลูกค้าอย่างลึกซึ้ง และ สามารถตอบสนองความต้องการของลูกค้าให้ได้ดีที่สุด</li></ul></td>
  </tr>
  <tr>
    <th >ปี พ.ศ. 2551</th>
    <td><ul class="dis1"><li>ขยายตลาดประกันภัยมะเร็ง โดยกรมธรรม์ของบริษัทฯมีจุดเด่นที่บริษัทฯให้ความคุ้มครองต่อเนื่องอัตโนมัติ จนถึงอายุ 65 ปี และหากเลือกทำประกันแบบครอบครัว บริษัทฯจะให้ความคุ้มครองบุตรอายุ 1 – 22 ปีที่ยังไม่ได้สมรสฟรี โดยไม่จำกัดจำนวนบุตร</li>
	<li>ขยายการบริการด้านสินไหมควบคู่การขยายตลาดให้ครอบคลุมพื้นที่ต่างๆ อีกทั้งขยายช่องทางการจำหน่ายใหม่ไปยังห้างสรรพสินค้าและไฮเปอร์มาร์ท</li></ul></td>
  </tr>
  <tr>
    <th >ปี พ.ศ. 2552</th>
    <td><ul class="dis1"><li>บริษัทฯเป็น 1 ใน 15 สถาบันที่ได้รับความเห็นชอบจากสำนักงานคณะกรรมการกำกับและส่งเสริมการ ประกอบธุรกิจประกันภัยให้เป็นสถาบันจัดอบรมและออกหนังสือรับรองการผ่านการอบรมตัวแทนประกันวินาศภัย เพื่อรองรับและพัฒนายกระดับมาตรฐานคนกลางประกันภัย โดยบริษัทฯได้จัดอบรมตัวแทนของบริษัทฯ ในปี 2552 จำนวน 55 ครั้ง ทั่วประเทศ มีตัวแทนผ่านการอบรมและได้รับการรับรองผ่านการอบรมจากบริษัทฯจำนวนทั้งสิ้น 2,292 คน</li></ul></td>
  </tr>
  <tr>
    <th >ปี พ.ศ. 2553</th>
    <td><ul class="dis1"><li>บริษัทฯได้ดำเนินการตามนโยบายการมีส่วนร่วมในการพัฒนาชุมชนและสังคม โดยได้มอบหมายให้ สำนักงานภาคของบริษัทฯทั้ง 4 สำนักงานภาคร่วมกับพนักงาน ลูกค้า คู่ค้า และพันธมิตรทางการค้าของบริษัทฯใน แต่ละภาคจัดทำกิจกรรมดูแลสังคมในปี 2553 ตามภูมิภาคต่างๆ รวมทั้ง บริษัทฯได้ร่วมบริจาคเงินเพื่อช่วยเหลือ ผู้ประสบภัยน้ำท่วม ในเดือน ตุลาคม 2553 เป็นจำนวนเงิน 1 ล้านบาท โดยมอบผ่านทางครอบครัวข่าว 3 (ไทยทีวีสีช่อง 3) และ มีคุณสรยุทธ์ สุทัศนจินดา พิธีกรชื่อดังทางช่อง 3 เป็นตัวแทนผู้รับมอบ</li></ul></td>
  </tr>
 
</table>
</div><!-- end id="page-invest" -->

</asp:Content>

