﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageFront2_th.master" AutoEventWireup="true" CodeFile="investInfo_16.aspx.cs" Inherits="investInfo_16" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
<div class="subject1">การเสนอวาระและชื่อกรรมการ</div> 
   <p>  เพื่อเป็นการส่งเสริมการกำกับดูแลกิจการที่ดี บริษัทฯจึงเปิดโอกาสให้ผู้ถือหุ้นของบริษัทฯสามารถเสนอ
วาระในการประชุมสามัญผู้ถือหุ้นประจำปี 2556 และเสนอชื่อบุคคลเพื่อเข้ารับการคัดเลือกเป็นกรรมการบริษัทได้ โดยมี
หลักเกณฑ์ ดังนี้</p>
 
<ol>
<li>ผู้ถือหุ้นที่จะเสนอ ต้องถือหุ้นบริษัทฯไม่ต่ำกว่า 10,000 หุ้น </li>
<li>การถือหุ้นในข้อ 1 ต้องถือต่อเนื่องย้อนหลังไม่น้อยกว่า 12 เดือน </li>
<li>การเสนอวาระในการประชุม ต้องไม่ขัดกับกฎหมาย ประกาศ ข้อบังคับ กฎและระเบียบต่างๆของหน่วยงานราชการ และเป็นไปตามวัตถุประสงค์ ข้อบังคับ การกำกับดูแลกิจการที่ดีของบริษัทฯ </li>
<li>บุคคลที่ได้รับการเสนอชื่อ เพื่อคัดเลือกเป็นกรรมการจะต้องมีคุณสมบัติครบถ้วนตาม<a href="downloads/investment/SMK_Rules_and_Regulations_th.pdf" >ข้อบังคับของบริษัทฯ</a> และกฎ ระเบียบต่างๆของหน่วยงานราชการที่เกี่ยวข้อง </li>
<li>ผู้ถือหุ้นต้องกรอกข้อมูลในแบบฟอร์มให้ครบถ้วน และระบุที่อยู่พร้อมเบอร์โทรศัพท์ที่สามารถติดต่อได้ </li>
</ol>
<br />

 <p>  ผู้ถือหุ้นสามารถ Download <a href="downloads/investment/SMK_Agenda_Proposal_Form_th.pdf" >แบบเสนอวาระการประชุมผู้ถือหุ้น</a> และ <a href="downloads/investment/SMK_Candidate_Proposal_Form_th.pdf" >แบบเสนอชื่อบุคคลเพื่อรับการคัดเลือกดำรงตำแหน่งกรรมการบริษัทฯ </a>
เพื่อกรอกข้อมูลและส่งกลับ โดยจ่าหน้าซองถึง </p>
<p style="color:Red"> เลขานุการบริษัท บริษัท สินมั่นคงประกันภัย จำกัด (มหาชน) เลขที่ 313 ถนนศรีนครินทร์ แขวงหัวหมาก <br />เขตบางกะปิ กรุงเทพฯ 10240
 (ภายในวันที่ 4 กุมภาพันธ์ 2556) </p> 
 
<p>ทั้งนี้คณะกรรมการบริษัทฯจะพิจารณากลั่นกรองข้อเสนอของผู้ถือหุ้น เพื่อเลือกข้อเสนอที่น่าจะเป็น
ประโยชน์แก่บริษัทฯบรรจุในวาระการประชุมสามัญผู้ถือหุ้นประจำปี 2556 ในกรณีที่ข้อเสนอไม่ได้รับการบรรจุ
ในวาระการประชุม หรือรายชื่อบุคคลเพื่อเข้ารับการคัดเลือกเป็นกรรมการไม่ได้รับการเสนอ บริษัทฯจะทำการ
แจ้งเหตุผลให้ผู้ถือหุ้นที่เสนอรับทราบ</p>


</asp:Content>

