﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPageFront1_th.master.cs" Inherits="MasterPageFront1_th" %><!DOCTYPE html>
<html>
<head id="Head1" runat="server">
    <title>สินมั่นคงประกันภัย - เราประกัน..คุณมั่นใจ - ทำประกันภัยออนไลน์ ต่ออายุประกันภัยออนไลน์</title>
    <myUc:metaTag_th runat="server" />
     <myUc:script_th  runat="server"   />

    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
    </asp:ContentPlaceHolder>

</head>
<body>
    <form id="form1" runat="server">
        <div id="container">


            <myUc:header_th runat="server" />

            <myUc:navTop_th runat="server" />
            
            <myUc:slidePic_th runat="server" />
            
            

            <div class="clear"></div>
            <div id="warper">
                <!-- end class="breadcrumb" -->
                <div id="side-left">
                    <myUc:sideLeft1_th runat="server" />
                </div>
                <!-- End id="side-left" -->
                <div id="side-right">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
                    </asp:ContentPlaceHolder>

                </div>
                <!-- End id="right" -->
                <div class="clear">
                </div>
            </div>
            <!-- End id="warper" -->
            <div class="clear">
            </div>
            <myUc:catLink_th runat="server" />
            <div class="clear">
            </div>

            <myUc:footer_th runat="server" />

        </div>
        <!-- End id="container"-->
    </form>
</body>
</html>
