﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PayCreditCard.aspx.cs" Inherits="Module_Paid_PayCreditCard" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html><body>
Kasikorn Bank PaymentGateway System
<form name=sendform method="post" action="https://rt05.kasikornbank.com/pgpayment/payment.aspx">
<font size = "2">
<INPUT type="hidden" runat="server" id="MERCHANT2" name="MERCHANT2" value="401001666477001">
<INPUT type="hidden" runat="server" id="TERM2" name="TERM2" value="74400101">
Amount :    <INPUT type="text" runat="server" id="AMOUNT2"  name="AMOUNT2" value="">
             <INPUT type="hidden" runat="server" id="URL2" name="URL2" value="">
            <INPUT type="hidden" runat="server" id="RESPURL" name="RESPURL" value="http://inet6.smk.co.th/WebSMK/SendBack.aspx">
            <INPUT type="hidden" runat="server" id="IPCUST2" name="IPCUST2" value="">
<br /> Detail :    <INPUT type="text" runat="server" id="DETAIL2" name="DETAIL2" value="SMK Insurance">
<br /> Invoice No :<INPUT type="text" runat="server" id="INVMERCHANT" name="INVMERCHANT" value=""> 
</font>
</form>
<button onclick="document.sendform.submit();">Submit</button>
<!--<script>document.sendform.submit();</script>--></body>