﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageFront2_th.master" AutoEventWireup="true" CodeFile="productView.aspx.cs" Inherits="viewPrd" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">


</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
    <div id="page-prd-view"> 
            <div class="content-top">
                <div class="content-order-btn">

<asp:HyperLink ID="hplPrdBuy" runat="server" class="btn-default   btn-iconOrder">สั่งซื้อ<span></span> 
</asp:HyperLink>

                </div>
<div class="prd-view-title">
<asp:Label ID="lblTitle" runat="server" Text="Label"></asp:Label>  
</div>
<div class="DateCreate">
<asp:Label ID="lblDateShow" runat="server" Text="Label"></asp:Label>
</div> 
                <div class="content-pic-frame">
                    <div class="content-pic">
                        <asp:Image ID="imgPrdPicBig" runat="server" /> 
                         
                    </div>
                </div>
            </div>
            <!-- End class="content-top" -->
            <div class="content-view">
         

                <asp:Label ID="lblDetail" runat="server" Text="Label"></asp:Label>



            </div>
            <!-- End class="content-view" -->
       
    </div>
     <!-- End id="page-pro-detail" -->
</asp:Content>





