﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageFront2_th.master" AutoEventWireup="true" CodeFile="response.aspx.cs" Inherits="response" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">

     

    <br /><div style="text-align:center;">
ทางบริษัท สินมั่นคงประกันภัย ได้รับข้อมูลของท่านแล้วและทางบริษัทจะรีบติดต่อกลับไป <br />
      ขอบคุณสำหรับข้อมูลของท่าน </div>

 <div style="margin:0px auto; width:100px;margin-top:50px;">  <asp:Button ID="btn" runat="server" Text="กลับหน้าแรก" OnClientClick="location='home.aspx';return false; "    class="btn-default  btn-small"   />
</div> 
</asp:Content>

