﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageFront2_th.master" AutoEventWireup="true" CodeFile="speedApp.aspx.cs" Inherits="speedApp" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">

    <div class="subject1">SMK speed app</div>
    
    <div>
        เคลมผ่านสมาร์ทโฟนได้ด้วยตนเองกรณีไม่มีคู่กรณี ใช้ง่าย เร็ว สะดวก ด้วยเทคโนโลยีแอพฯ จากนอร์เวย์
        <br />
        เทคโนโลยีหนึ่งดียวที่สามารถรองรับการทำเคลมได้รวดเร็ว แม่นยำ
    </div>

<div class="subject2">ขั้นตอนการใช้ </div >

    <div class="bold">วิธีที่ 1 </div>
<ul>
  <li>ลูกค้าสามารถ Download ได้เองผ่าน website บริษัทฯ www.smk.co.th และติดตั้งโปรแกรม </li>
  <li>เมื่อรถเกิดเหตุแล้วประสงค์จะทำเคลมเอง  ลูกค้ายังคงต้องโทรแจ้งบริษัทฯเพื่อลงทะเบียนการใช้ทั้งนี้เพื่อให้เป็นระบบที่บริษัทฯสามารถดูแลได้อย่างมีประสิทธิภาพและตามมาตรฐานความปลอดภัย </li>
  <li>ลูกค้าทำการเข้าโปรแกรม SMK speed app กดเมนูถ่ายรูป ทำการถ่ายรูปทะเบียนรถและจุดที่เสียหายของตัวรถ ระบบจะทำการส่งรูปเข้า server ของสินมั่นคงอัตโนมัติแบบ real time ใช้เวลาไม่ถึง 1 นาที </li>
  <li>สินมั่นคงจะพิจารณาความเสียหายจากรูปและออกใบเคลมจากระบบ </li>
  <li>เมื่อพิจารณารูปถ่ายเสร็จ สินมั่นคงจะทำการส่ง SMS แจ้งจำนวนรายการความเสียหายพร้อมเลขเคลมเข้ามือถือของลูกค้า พร้อมกับส่งใบเคลมเป็น PDF file เข้าโปรแกรม SMK speed app ซึ่งลูกค้าสามารถกดดูใบเคลมได้จากโปรแกรมนี้ </li>
  <li>เมื่อลูกค้านำรถเข้าซ่อม อู่ในเครือข่ายของสินมั่นคง จะสามารถดูรายการความเสียหายและใบเคลมจากระบบ Online ของบริษัทได้ทันที </li>
</ul>
<div class="bold">วิธีที่ 2 </div>
<ul>
  <li>กรณีไม่ได้ Download ก่อนเกิดเหตุ ณ สถานที่เกิดเหตุ ลูกค้าโทรศัพท์แจ้งเคลมที่ศูนย์ Call Center  โทร.1596 พนักงานจะสอบถามเกี่ยวกับระบบโทรศัพท์ของลูกค้า </li>
  <li>หากลูกค้าใช้ Smart Phone บริษัทจะส่ง Link โปรแกรม SMK speed app ให้ลูกค้า Download และติดตั้งโปรแกรมพร้อมกับลงทะเบียนการเริ่มใช้ระบบ เป็นการติดตั้งเพียงครั้งเดียว และสามารถใช้งานได้ตลอดไป </li>
</ul>
<div class="subject2">สรุปความแตกต่างหลักทางเทคโนโลยี และ การบริการ </div>
<ol>
  <li>เป็นระบบทำงานเชื่อมโยงสมบูรณ์แบบ ลูกค้าไม่ต้องเดินทาง หรือรอรับเอกสารหรือยื่นเอกสารให้ฝ่ายใดเลยไม่ว่า จะกับบริษัทฯหรืออู่ซ่อมรถ ทุกขั้นตอนเบ็ดเสร็จใน smart phone เพียงปลายนิ้วคลิ๊ก </li>
  <li>ระบบ SMK speed app เป็นระบบที่ใช้ในการส่งรูปที่มีการระบุตำแหน่งดาวเทียมหรือที่เรียกว่า Geo-Tagging   ได้ถูกพัฒนาจากโครงการ GEO-PICTURE ซึ่งเป็นโครงการที่ทาง AnsuR พัฒนาร่วมกับ องค์การสหประชาชาติ ทีมงานประเมินผลกระทบจากภัยพิบัติแห่งองค์การสหประชาชาติซึ่งทาง UN ใช้เป็นเครื่องมือในการประเมินความเสียหายจากภัยที่เกิดขึ้นทั่วโลก </li>
  <li>เป็นระบบที่ใช้งานได้รวดเร็วและง่ายต่อการใช้งานกับทุกระบบการสื่อสาร </li>
  <li>สามารถใช้งานได้ ทั้งในระบบ Android และ iOS </li>

<li>การพัฒนาในเฟสต่อไปจะครอบคลุมในเรื่อง
  <ul>
    <li>การตรวจสอบสภาพรถก่อนทำประกัน </li>
    <li>การต่ออายุกรมธรรม์ </li>
    <li>การตรวจสอบและอนุมัติการซ่อมรถให้อู่ในเครือข่ายแบบ Real Time </li>
    <li>การโฆษณา ประชาสัมพันธ์ ตลอดจนการแจ้งโปรโมชั่น </li>
    <li>การช่วยเหลือสังคม เช่น ให้ความอุ่นใจสำหรับผู้โดยสารที่ใช้บริการรถรับจ้าง เช่น รถแท็กซี่  สามารถถ่ายทะเบียนรถแท็กซี่และส่งเข้า Server บริษัทฯเพื่อเป็นหลักฐาน เป็นต้น </li>
  </ul>
</li>
</ol>
</asp:Content>

