﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageFront2_th.master" AutoEventWireup="true" CodeFile="suppport_01.aspx.cs" Inherits="suppport_01" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="Server">

    <h1 class="subject1">วิธีการชำระเบี้ย</h1>

    <ol>
        <li>ชำระเงินด้วยเงินสดหรือเช็ค ที่บริษัทสินมั่นคงประกันภัยจำกัด (มหาชน) ได้ที่  
        <ul>
            <li>ชำระด้วยเงินสด หรือเช็ค ชำระได้ที่สำนักงานใหญ่ หรือสาขาทั่วประเทศ</li>
            <li>ชำระด้วยบัตรเครดิต วีซ่า และมาสเตอร์ ของทุกธนาคาร ที่สำนักงานใหญ่และสาขาในเขตกรุงเทพฯ และปริมณฑล</li>
        </ul>
        </li>

        <li>ชำระเงินที่เคาน์เตอร์ธนาคาร หรือหน่วยงานเอกชน ด้วยเงินสด/เช็ค ผ่าน ธ.กรุงเทพ ธ.ไทยพาณิชย์ ธ.กรุงศรีอยุธยา ธ.ทหารไทย ธ.เพื่อการเกษตรและสหกรณ์การเกษตร ทุกสาขา และเพย์สเตชั่น สำนักบริการเอไอเอส และเทเลวิซทั่วประเทศ โดยยื่นเงินสด/เช็ค และธนาคารจะคืนส่วนที่ 1 ให้ท่านเก็บไว้เป็นหลักฐานการรับเงินของธนาคาร </li>

        <li>ชำระทางไปรษณีย์ ด้วย เช็คขีดคร่อม “A/C PAYEE ONLY” ขีด “หรือผู้ถือ” สั่งจ่าย บมจ.สินมั่นคงประกันภัย (ระบุเลขกรมธรรม์ ด้วยบัตรเครดิต ที่ชื่อเจ้าของบัตรตรงกับชื่อผู้เอาประกัน โดยการกรอกรายละเอียดของเช็ค หรือบัตรเครดิต ในแบบฟอร์ม ที่แนบมา (ไม่ต้องติดอากรแสตมป์) ส่งให้บริษัทฯ ทางไปรษณีย์ </li>

        <li>ชำระผ่านระบบโทรศัพท์ของธนาคาร โดยทำตามขั้นตอนที่ระบุในระบบโทรศัพท์ของแต่ละธนาคาร  
        <ul>
            <li>ธ.ไทยพาณิชย์ (SCB Easy Phone) โทร.02-7777777</li>
            <li>ธ.กรุงศรีอยุธยา (Krungsri Phone) โทร.1572</li>
            <li>ธ.กรุงเทพ (Bualuang Phone) โทร.1333</li>
        </ul>
        </li>

        <li>ชำระผ่านตู้ ATM ของธนาคาร โดยทำตามขั้นตอนที่ระบุไว้ในตู้ ATM ของ ธ.ไทยพาณิชย์ ธ.กรุงศรีอยุธยา และธ.กรุงเทพ </li>

        <li>ชำระผ่านระบบ internet ของธนาคาร
            <ul>
                <li>ธ.ไทยพาณิชย์ สามารถชำระได้ที่ www.scbeasy.com</li>
                <li>ธ.กรุงศรีอยุธยา สามารถชำระได้ที่ www.krungsrionline.com</li>
            </ul>
        </li>
    </ol>



</asp:Content>

