﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageFront3_en.master" AutoEventWireup="true" CodeFile="investment.aspx.cs" Inherits="investment" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">

  <h1><asp:Label ID="lblPageName" runat="server"  ></asp:Label></h1> 

    <asp:Label ID="lblDetail" runat="server"  ></asp:Label>
</asp:Content>

