﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageFront2_en.master" AutoEventWireup="true" 
    CodeFile="newsView.aspx.cs" Inherits="newsView"   
    %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">


</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
    <div id="page-prd-view"> 
            <div class="content-top">
                
<div class="prd-view-title">
<asp:Label ID="lblTitle" runat="server" Text="Label"></asp:Label>  
</div>
<div class="DateCreate">
<asp:Label ID="lblDateShow" runat="server" Text="Label"></asp:Label>
 </div>
            
<%
//====== Content Is Ad Youtube ( Show  VDO )
if (CatId == "3") { 
%>
  <div class="content-vdo" style="margin-top:15px;"> 
<asp:Literal ID="ltlVdo" runat="server"></asp:Literal>         
</div>       
<% 
//======= Content Is Agent & Content Is Static  ( Not Show  Pic) 
} else if (CatId == "4" || CatId == "5") { 
%> 
           
<%
 //======= Content Knowleage & News ( Show  Pic  )
} else { 
%>      
 <div class="content-pic-frame">
<div class="content-pic">
<asp:Image ID="imgPrdPicBig" runat="server" />  
</div>
</div> 

<%} %>
          
            <!-- End class="content-top" -->
            <div class="content-view">
          <asp:Label ID="lblDetail" runat="server" Text="Label"></asp:Label>
          </div>
            <!-- End class="content-view" -->
       
    </div>
            </div>

     <!-- End id="page-pro-detail" -->
</asp:Content>





