﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageFront2_en.master" AutoEventWireup="true" CodeFile="payment.aspx.cs" Inherits="payment" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
<h1>Payment</h1>
      <div style="color:blue; font-weight:bold"><strong>ท่านสามารถเลือกวิธีการชำระเบี้ยประกันภัยกับ บริษัท สินมั่นคงประกันภัย จำกัด (มหาชน)<br />
ด้วยวิธีใดวิธีหนึ่งจากตัวเลือกข้างล่างนี้</strong></div>

<ol>
	<li>ชำระเงินด้วยเงินสดหรือเช็ค ที่บริษัทสินมั่นคงประกันภัยจำกัด (มหาชน) ได้ที่&nbsp;
	<ul>
		<li>สำนักงานใหญ่ (ถนนศรีนครินทร์) โทร. 379-3140</li>
		<li>สาขาสวนมะลิ (ยสเส) โทร 2261646-54, 2250076</li>
		<li>สาขาดอนเมือง โทร. 5334053, 5334050, 5334059</li>
		<li>สาขาบางแค โทร. 4543959-66 FAX:5453967</li>
		<li>สาขารัตนาธิเบศร์ โทร. 9217582-9 FAX:9217581</li>
		<li>สาขาชลบุรี โทร. (038) 791672-9 FAX : (038) 270363</li>
		<li>สาขาพิษณุโลก โทร. (055) 216978-82 FAX : (055) 242239</li>
		<li>สาขาเชียงใหม่ โทร. (053) 409410-8 FAX : (055) 409419</li>
		<li>สาขาหาดใหญ่ โทร. (074) 343650-8 FAX : (074) 343657 (074) 343659</li>
		<li>สาขาสุราษฎร์ธานี โทร. (044) 261795-803 FAX : (044) 261804</li>
		<li>สาขานครปฐม โทร. (034) 284754-6 FAX : (034) 284758สาขาขอนแก่น โทร. (043) 324720-7 FAX : (043) 324728</li>
	</ul>
	</li>
	<li>ชำระเงินด้วยบัตรเครดิต VISA , Master Card ได้ที่ สำนักงานใหญ่</li>
	<li>ชำระเงินด้วยวิธีการโอนเข้าบัญชีของบริษัทสินมั่นคงประกันภัย จำกัด (มหาชน) ;
	<ul>
		<li><img src="<%=Config.SiteUrl%>images/iconbank_01.gif" />&nbsp;ธนาคารกรุงเทพฯ จำกัด (มหาชน) สาขาถนนพัฒนาการ (Br. No. 198) บัญชีกระแสรายวัน เลขที่ 198-3-04200-1&nbsp;</li>
		<li><img src="<%=Config.SiteUrl%>images/iconbank_02.gif" />&nbsp;ธนาคารไทยพาณิชย์ จำกัด (มหาชน) สาขาศรีนครินทร์ บัญชีกระแสรายวัน เลขที่ 080-3-00250-2 (Tr.code :3650)&nbsp;</li>
		<li><img src="<%=Config.SiteUrl%>images/iconbank_03.gif" />&nbsp;ธนาคารกรุงศรีอยุธยา จำกัด (มหาชน) สาขาถนนศรีนครินทร์ กรุงเทพๆกรีฑาบัญชีกระแสรายวัน เลขที่ 307-0-00444-4</li>
	</ul>
	</li>
	<li>ชำระเงินผ่านทาง www.scbeasy.com&nbsp;(ต้องสมัครเป็นสมาชิกของ scbeasy ก่อน)<br />
	เลขที่บัญชีของ บมจ.สินมั่นคงประกันภัย(080-3-00250-2) ,ชื่อลูกค้า (เป็นภาษาอังกฤษ) และ CUST_NO (จากเลขที่อ้างอิง ที่จะได้รับในหน้าถัดไป)</li>
	<li>ชำระเงินด้วย บริการจัดส่งและจัดเก็บเบี้ยประกันถึงบ้าน(เฉพาะภายในเขตกรุงเทพฯ)</li>
</ol>
<br />
&nbsp;
</asp:Content>

