﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="navLeft.ascx.cs" Inherits="uc_navLeft" %>

 
<div class="banner">
  <a href="<%=Config.SiteUrl%>buyInsureCar_step1.aspx">  <img src="<%=Config.SiteUrl%>images/banner-insure-online.gif" /></a>
</div>
<div id="navLeft">
<div class="title">เลือกชนิดประกันภัย</div>
 
<ul>
<li><a href="<%=Config.SiteUrl%>insHealth.aspx">ประกันสุขภาพ</a></li>
<li><a href="<%=Config.SiteUrl%>insCar.aspx">ประกันรถยนต์</a></li>
<li><a href="<%=Config.SiteUrl%>insCancer.aspx">ประกันมะเร็ง</a></li>
<li><a href="<%=Config.SiteUrl%>insAccident.aspx">ประกันอุบัติเหตุ</a></li>
<li><a href="<%=Config.SiteUrl%>insFire.aspx">ประกันอัคคีภัย</a></li>
<li><a href="<%=Config.SiteUrl%>insTravel.aspx">ประกันการเดินทาง</a></li>
<li><a href="<%=Config.SiteUrl%>insOther.aspx">ประกันประเภทอื่นๆ</a></li>
</ul>  
</div>

<div class="speedApp"> 
<div class="speedApp-title">เคลมผ่านมือถือด้วย <br />สินมั่นคง  Mobile App</div>
<div class="qrCode" ><img src="<%=Config.SiteUrl%>images/speedApp.jpg" /> </div> 
<div><a href="#" >คลิ๊ก ดาว์โหลด (For Andriod)</a></div>
</div> 

<div class="banner">
<a href="<%=Config.SiteUrl%>callcenter.aspx">
<img src="<%=Config.SiteUrl%>images/banner1.png" />
</a>
</div>

<div class="banner">
<a href="#">
<img src="<%=Config.SiteUrl%>images/banner2.png" />
</a>
</div>

