﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="backendFooter.ascx.cs" Inherits="adminWeb_uc_backendFooter" %>
 

<div id="footer">  
<div class="copy">Copyright &#64; 2013 Syn Mun Kong Co.th.Ltd All Rights Reserved.</div>
<div class="policy">   T.D. Software Co.,Ltd. </div>
</div>   <!-- End id="footer"-->
 