﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="sessionShow.ascx.cs" Inherits="adminWeb_uc_sessionShow" %>



<div style="margin: 0px auto; width:600px;" >   
 <asp:Label ID="lblSessShow" runat="server"> </asp:Label> 
</div> 
    