﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucDepartment.ascx.cs" Inherits="adminWeb_uc_ucDepartment" %>

 <asp:DropDownList ID="ddlDepartment" runat="server"  >
<asp:ListItem Value="" Selected="True" >-- โปรดระบุ  --</asp:ListItem>
<asp:ListItem>คลองเตย</asp:ListItem>
<asp:ListItem>คลองสาน</asp:ListItem>
<asp:ListItem>คลองสามวา</asp:ListItem>
<asp:ListItem>คันนายาว</asp:ListItem>
<asp:ListItem>จตุจักร</asp:ListItem>
<asp:ListItem>จอมทอง</asp:ListItem>
<asp:ListItem>ดอนเมือง</asp:ListItem>
<asp:ListItem>ดินแดง</asp:ListItem>
<asp:ListItem>ดุสิต</asp:ListItem>
<asp:ListItem>ตลิ่งชัน</asp:ListItem>
<asp:ListItem>ทวีวัฒนา</asp:ListItem>
<asp:ListItem>ทุ่งครุ</asp:ListItem>
<asp:ListItem>ธนบุรี</asp:ListItem>
<asp:ListItem>บางเขน</asp:ListItem>
<asp:ListItem>บางแค</asp:ListItem>
<asp:ListItem>บางกอกใหญ่</asp:ListItem>
<asp:ListItem>บางกอกน้อย</asp:ListItem>
<asp:ListItem>บางกะปิ</asp:ListItem>
<asp:ListItem>บางขุนเทียน</asp:ListItem>
<asp:ListItem>บางคอแหลม</asp:ListItem>
<asp:ListItem>บางซื่อ</asp:ListItem>
<asp:ListItem>บางนา</asp:ListItem>
<asp:ListItem>บางบอน</asp:ListItem>
<asp:ListItem>บางพลัด</asp:ListItem>
<asp:ListItem>บางรัก</asp:ListItem>
<asp:ListItem>บึงกุ่ม</asp:ListItem>
<asp:ListItem>ปทุมวัน</asp:ListItem>
<asp:ListItem>ประเวศ</asp:ListItem>
<asp:ListItem>ป้อมปราบศัตรูพ่าย</asp:ListItem>
<asp:ListItem>พญาไท</asp:ListItem>
<asp:ListItem>พระโขนง</asp:ListItem>
<asp:ListItem>พระนคร</asp:ListItem>
<asp:ListItem>ภาษีเจริญ</asp:ListItem>
<asp:ListItem>มีนบุรี</asp:ListItem>
<asp:ListItem>ยานนาวา</asp:ListItem>
<asp:ListItem>ราชเทวี</asp:ListItem>
<asp:ListItem>ราษฎร์บูรณะ</asp:ListItem>
<asp:ListItem>ลาดกระบัง</asp:ListItem>
<asp:ListItem>ลาดพร้าว</asp:ListItem>
<asp:ListItem>วังทองหลาง</asp:ListItem>
<asp:ListItem>วัฒนา</asp:ListItem>
<asp:ListItem>สวนหลวง</asp:ListItem>
<asp:ListItem>สะพานสูง</asp:ListItem>
<asp:ListItem>สัมพันธวงศ์</asp:ListItem>
<asp:ListItem>สาทร</asp:ListItem>
<asp:ListItem>สายไหม</asp:ListItem>
<asp:ListItem>หนองแขม</asp:ListItem>
<asp:ListItem>หนองจอก</asp:ListItem>
<asp:ListItem>หลักสี่</asp:ListItem>
<asp:ListItem>ห้วยขวาง</asp:ListItem>
</asp:DropDownList>