﻿<%@ Page Title="" Language="C#" MasterPageFile="~/adminWeb/MasterPageAdmin1.master" AutoEventWireup="true" CodeFile="test.aspx.cs" Inherits="ckfinder__samples_test" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server"> 
     
<!-- ======================  CKEditor - Config   --> 
<script>
        $(function () {
            CKEDITOR.replace('txaPrdConDetailShort', cke_config_small);
            CKEDITOR.replace('txaPrdConDetailLong', cke_config_medium); 
            // CKFinder.setupCKEditor('txaPrdConDetailLong, '../'); 
            if (typeof CKEDITOR != 'undefined') {
                alert("ok");             } 
        }) 
</script>	 

<!-- ======================  CKFinder - Config   -->    
<script>
    function BrowseServer(startupPath, functionData) {
        var finder = new CKFinder();
        finder.basePath = '../'; // The path for the installation of CKFinder (default = "/ckfinder/").
        finder.startupPath = startupPath;
        finder.selectActionFunction = SetFileField;
        finder.selectActionData = functionData;
        //  finder.selectThumbnailActionFunction = ShowThumbnails;
        finder.popup();
    }


    function SetFileField(fileUrl, data) {
        //document.getElementById(data["selectActionData"]).value = fileUrl;
        $("[id*=ckfinderUpload]").val() = fileUrl;
    }



</script>	 
 










<input id="ckfinderUpload1" name="FilePath" type="text" size="60" />
<input type="button" value="Browse Server" onclick="BrowseServer();" />
<hr />
<input id="ckfinderUpload2" name="FilePath" type="text" size="60" />
<input type="button" value="Browse Server" onclick="BrowseServer();" />
<hr />
<asp:TextBox ID="tbxPrdConTopic" runat="server" Width="730px"  class="ckeditor" ></asp:TextBox>
        
    
    
    
    
       
</asp:Content>

