﻿.TEXTAREA {
	BORDER-RIGHT: #7b9ebd 1px solid; BORDER-TOP: #7b9ebd 1px solid; FONT-SIZE: 8pt;  BORDER-LEFT: #7b9ebd 1px solid; WIDTH: 100%; BORDER-BOTTOM: #7b9ebd 1px solid
}

.TEXTAREADIS {
	BORDER-RIGHT: #7b9ebd 1px solid; 
	BORDER-TOP: #7b9ebd 1px solid; 
	FONT-SIZE: 8pt;  
	BORDER-LEFT: #7b9ebd 1px solid; 
	WIDTH: 100%; 
	BORDER-BOTTOM: #7b9ebd 1px solid;
	background-color:#D5D8D4;
}

.TEXTBOX
{
	border-right: #7b9ebd 1px solid;
	border-top: #7b9ebd 1px solid;
	font-size: 8pt;
	border-left: #7b9ebd 1px solid;
	border-bottom: #7b9ebd 1px solid;
	height: 16px;	

}
.TEXTBOXDIS
{
	border-right: #7b9ebd 1px solid;
	border-top: #7b9ebd 1px solid;
	font-size: 8pt;
	border-left: #7b9ebd 1px solid;
	border-bottom: #7b9ebd 1px solid;
	height: 16px;	
    background-color:#D5D8D4;
}

.TEXTBOXHILIGHT
{
	border-right: #7b9ebd 1px solid;
	border-top: #7b9ebd 1px solid;
	font-size: 10pt;
	border-left: #7b9ebd 1px solid;
	border-bottom: #7b9ebd 1px solid;
	height: 16px;	
    background-color:#D5D8D4;
    color: #0000FF;
    text-align:right;
    font-weight:bold;
}

.TEXTBOXLABEL
{
	/*border-right: #7b9ebd 1px solid;
	border-top: #7b9ebd 1px solid;
    border-left: #7b9ebd 1px solid;
	border-bottom: #7b9ebd 1px solid;
background-color:#D5D8D4;
*/
	font-size: 8pt;
	border : 0;
	height: 16px;	
    
}
.TEXTBOXCENTERDIS
{
	border-right: #7b9ebd 1px solid;
	border-top: #7b9ebd 1px solid;
	font-size: 8pt;
	border-left: #7b9ebd 1px solid;
	border-bottom: #7b9ebd 1px solid;
	height: 16px;	
    background-color:#D5D8D4;
    text-align:center;
}
.TEXTBOXMONEYDIS
{
	border-right: #7b9ebd 1px solid;
	border-top: #7b9ebd 1px solid;
	font-size: 8pt;
	border-left: #7b9ebd 1px solid;
	border-bottom: #7b9ebd 1px solid;
	height: 16px;	
    background-color:#D5D8D4;
    text-align:right;
}
.TEXTBOXMONEYBOLDDIS
{
	border-right: #7b9ebd 1px solid;
	border-top: #7b9ebd 1px solid;
	font-size: 10pt;
	font-weight : bold;
	border-left: #7b9ebd 1px solid;
	border-bottom: #7b9ebd 1px solid;
	height: 16px;	
    background-color:#D5D8D4;
    text-align:right;
}
.TEXTBOXMONEY
{
	border-right: #7b9ebd 1px solid;
	border-top: #7b9ebd 1px solid;
	font-size: 8pt;
	border-left: #7b9ebd 1px solid;
	border-bottom: #7b9ebd 1px solid;
	height: 16px;	
    text-align : right;
    padding-right:3px;
}
.TEXTBOXLABELMONEY
{
	border-width:1px;	
	vertical-align : top;	
    text-align : right;
    font: 100% Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
}

.TEXTBOXQUODIS
{
	border-right: #7b9ebd 1px solid;
	border-top: #7b9ebd 1px solid;
	font-size: 10pt;
	font-weight : bold;
	border-left: #7b9ebd 1px solid;
	border-bottom: #7b9ebd 1px solid;
	height: 16px;	
    background-color:#D5D8D4;
    color : #001CEB;
}
.TEXTBOXAPPSDIS
{
	border-right: #7b9ebd 1px solid;
	border-top: #7b9ebd 1px solid;
	font-size: 10pt;
	font-weight : bold;
	border-left: #7b9ebd 1px solid;
	border-bottom: #7b9ebd 1px solid;
	height: 16px;	
    background-color:#D5D8D4;
    color : red;
}
.TEXTBOXPOLICYDIS
{
	border-right: #7b9ebd 1px solid;
	border-top: #7b9ebd 1px solid;
	font-size: 10pt;
	font-weight : bold;
	border-left: #7b9ebd 1px solid;
	border-bottom: #7b9ebd 1px solid;
	height: 16px;	
    background-color:#D5D8D4;
    color : green;
}

.BUTTONBRAND
{
	
	border-right: gray 1px solid;
	border-top: gray 1px solid;
	border-left: gray 1px solid;
	border-bottom: gray 1px solid;
    /*
    width:85px;
    height:20px;
    background:url(../images/bg_button.gif) no-repeat center;
    background-position:0px 0px;
    color:#000000;
    text-align:center;
    margin:0px;
    border-width:0;*/
}
 /*
.BUTTON
{	   
    width:120px;
    height:22px;
    background:url(../images/bg_button.gif) no-repeat center;    
    background-position:0px 0px;
    color:#000000;
    text-align:center;
    margin:0px;
    border-width:0;       
}
*/
.BUTTONINVISIBLE
{	   
    width:0px;
    height:22px;
    /*background:url(../images/bg_button.gif) no-repeat center;    */
    background-position:0px 0px;
    color:#000000;
    text-align:center;
    margin:0px;
    border-width:0;       
}
.BUTTONASLINK
{
    background-color:Transparent;
    color:blue;
    text-decoration:underline;    
    border-width:0;
    text-align:left;
    cursor:hand;
}
.labelRemark
{
    color: gray;
}

/*  for datagrid */
.gridhead 
{  
    height:20px; background-color:#2667DF; color:#fff ;   
            padding:5px 10px  2px 10px; font-size:13px;  vertical-align:top ; 
            /*
    background-color:#EEEDFE; 
    height:25px; 
    font-weight: normal; 
    text-align: center ; 
*/
} 
.gridrow0
{
    HEIGHT: 20px;
    BACKGROUND-COLOR: #ADD2EA;
    vertical-align :text-top;
    padding:2px 5px;
}
.gridrow1
{
    HEIGHT: 20px;
    BACKGROUND-COLOR: #ffffff;
    vertical-align :text-top;
    padding:2px 5px;
}
.gridrow2
{
    HEIGHT: 20px;
    BACKGROUND-COLOR: #88E9F7;
    vertical-align :text-top;
}
.gridrowSelect
{
    HEIGHT: 20px;
    BACKGROUND-COLOR: #88E9F7;
    vertical-align :text-top;
}
.gridfooter 
{  
    background-color:#EEEDFE; 
    height:25px; 
    font-weight: bold;  
} 
/*  table pa_promotion */
.tb-papromotion-Info {background-color: white;  margin-bottom: 20px;width:100% ; margin-top:5px;}
.tb-buy-Info-head{  color: #fff;     vertical-align:top; font-size: 13px;
border: 1px solid #c9c7c7 ;  background-color:#485ed1 ; text-align: center; padding:3px 5px 3px 5px ;}

.tb-papromotion-Info th.pad-zero{padding:0px;margin:0px;}


div.indent{
	margin:9px 0px 0px 25px;
}
.tdCell1{
	background-image:url(../images/bg_Cell1.gif);
	background-repeat:repeat-x;
}
.tdCell2{
	background-image:url(../images/bg_Cell2.gif);
	background-repeat:repeat-x;
}
.tdCell1Color{
	background-color:#C3E3E8;
}
.tdCell2Color{
	background-color:#9CD0D8;
}
.tdCell1subColor
{
    background-color:rgb(220,220,220);	
}
.tdCell2subColor{
	background-color:rgb(224,233,255);
}
.trData
{
	background-color:#ECF6F8;
}
.trHead
{
	color:#106A78;
	background-color:#ECF6F8;
	font-family : "Tahoma", Ms Sans Serif, Thonburi;
	font-size : 8.5pt;
	font-weight:800;	
}
.head{
	font-family : "Tahoma", Ms Sans Serif, Thonburi;
	font-size : 8.5pt;
	font-weight:800;
}
/* end table*/