/* ############################   RESET   ####################################  */ 
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, 
blockquote, fieldset, input, img 
{
	padding: 0px;
	margin : 0px;
 
}
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, th { font-size: 12px; font-weight: normal; font-style: normal; }
 ul, ol , li{ list-style: none; } 
fieldset, img { border-style: none; border-color: inherit; border-width: medium;  }
 table { border-collapse: collapse; border-spacing: 0; }   


 
















