﻿@charset "utf-8";
/*----- Font Face ---------------------------------------------------------------*/ 
@font-face { font-family: 'DBHelvethaicaX45Li'; 
             src: url('font/DBX45/db_helvethaica_x_li_v3.2-webfont.eot'); 
             src: url('font/DBX45/db_helvethaica_x_li_v3.2-webfont.eot?#iefix') format('embedded-opentype'),  
             url('font/DBX45/db_helvethaica_x_li_v3.2-webfont.ttf') format('truetype'), 
             url('font/DBX45/db_helvethaica_x_li_v3.2-webfont.svg#DBHelvethaicaX45Li') format('svg'); 
             font-weight: normal; font-style: normal; }
/*------ Ganeral ------------------------------------------------------*/ 
body { font-family:  Tahoma, Verdana, Arial ;   font-size: 13px;  color: #333; background: #FFFFFF url(../images/bg-body.jpg) repeat-x left top; }
a:link, a:visited { color: #50a3fc; border: none; text-decoration: none; color: #485ed1}
a:hover, a:active { color: #073c75; border: none; text-decoration: underline; color: #2c3056;  } 

.clear { clear: both }
a span{display:none;}

h1 { color: #485ed1; padding-bottom: 0px; font-family: 'DBHelvethaicaX45Li'; font-size: 35px; font-weight: normal }
h2 { color: #485ed1; margin-bottom: 0px; padding-bottom: 10px; font-family: Verdana, Geneva, sans-serif; font-size: 19px; font-weight: lighter; }
h3 { }
p {  margin-bottom: 5px; }

       
/*------ Layout ------------------------------------------------------*/ 
#container { width: 870px; margin: 0px auto; }
#header { height: 63px; position: relative;  display: block; top: 0px; left: 0px;   }
#header .callcenter { position: absolute; right: 0px; top : 0px; background: url(../images/header_callcenter.jpg) no-repeat left top; width:251px ; height: 63px; }
#header  .logo  { position: absolute; left: 0px; top : 5px;  width:240px;  height:54px; background:  url(../images/logo_sinmonkong.jpg) no-repeat left 3px ;   } 
#header  .logo  a   { width:215px; height:54px; display:block;  }
#header  .logo  span{display:none; }   
#header  .lang-select {position:absolute;right:110px; bottom:7px;z-index:11;   }
#header  .lang-select  a{text-decoration:underline; color:#485ed1; font-weight:bold ; }
#header  .lang-select  a:hover{color:#000; } 

#warper { height: auto !important; min-height: 280px; height: 280px; margin-bottom: 10px;
 width: 854px; border : 1px solid #ddd; border-radius: 8px; padding: 8px 8px 8px 8px; background-color: #fff;margin-top:10px }
#side-right { width: 650px; float: right; height: auto !important; height: 310px; min-height: 310px; /* border: 1px solid #eee; */ }
#side-left { width: 195px; float:left ; display: block; height: auto !important; height: 300px; min-height: 300px; /* border: 1px solid #eee; */ margin-top: 0px; }
#footer { height: 50px; display: block; margin-bottom: 20px; padding-top: 20px; width: 870px; }
#footer .footlink { margin-bottom: 10px; clear: both; height: 30px; text-align: center; margin: 0px auto; display: block; width: 500px; }
#footer .footlink li { float: left; font-size: 12px; }
#footer .footlink li a { text-align: center; padding: 0px 5px; color: #2852cd; }
#footer .footlink li a:hover { color: #24439d; }
#footer .copy { color: #525253; font-size: 11px; float: left; text-align: center; margin-bottom: 10px; }
#footer .policy { margin-bottom: 5px; float: right; font-size: 11px; }
#footer .policy li { float: left; }
#footer .policy a { color: #525253; padding: 0px 5px; }
#footer .policy a:hover { color: #ccc; }

/****** SitemapPath ******/   
.breadcrumb { clear: both; width: 800px; height: 20px; margin-left:5px;  }
.breadcrumb ul li { display: inline; }
.breadcrumb ul li a { float: left; text-decoration: underline; }
/****** NavTop  ******/
#nav-top { clear: both; width: 870px; height: 33px; font-family: 'DBHelvethaicaX45Li'; font-size: 23px;  margin-bottom:10px; }
#nav-top ul {  height: 38px;    }
#nav-top ul li {   position:relative ; float:left; }
#nav-top ul li a { float: left; text-decoration: none;  height : 28px;  border-right: 1px solid #fff; 
background : url('../images/nav-top.jpg') no-repeat  -10px top; color: #fff;  height: 30px;  /* padding:8px 28px 0px 29px  ; */
padding:8px 34px 0px 34px  ;  }
#nav-top ul li a:hover, .navMain ul li .active { background : url('../images/nav-top.jpg') no-repeat  -10px -38px; } 
#nav-top ul li  a.first {padding-left:26px; background : url('../images/nav-top.jpg') repeat-x left top;}
#nav-top ul li  a.first:hover {  background : url('../images/nav-top.jpg') repeat-x left -38px;}
#nav-top ul li  a.last {padding-right:36px;background : url('../images/nav-top.jpg') repeat-x right top;}
#nav-top ul li  a.last:hover { background : url('../images/nav-top.jpg') repeat-x right -38px; }
#nav-top ul li  a.last{border-right:none; } 
/* NavTop - Sub  */
#nav-top ul.subNav{position:absolute; left:0px; top:35px; z-index:111; border:1px solid #ccc ; 
background-color:#fff ;   padding:10px; /*border-radius: 8px; */ padding-right: 0px;   } 
#nav-top  ul.subNav li {float:left;  height:auto;  }
#nav-top  ul.subNav li a{  background: url('../images/bullet1.png') no-repeat left 3px;  margin: 0px ; padding:0px;
text-indent:15px; height : 20px;  color:#666;  width:130px; font-size:18px;  font-family:Tahoma; font-size:13px; /* border:1px solid #ccc ; */ } 
#nav-top  ul.subNav li a:hover{ color:Blue; background: url('../images/bullet1.png') no-repeat left -18px;  } 
#nav-top  ul.subNav-01  {width:270px; height: 75px;}/*Control Sub Width */
#nav-top  ul.subNav-02  {width:180px; height: 80px;}/*Control Sub Width */
#nav-top  ul.subNav-02 li  a{width:80px; /*border:solid 1px red ; */} 
#nav-top  ul.subNav-03  {width:110px; height: 80px;}/*Control Sub Width */
#nav-top  ul.subNav-03 li  a{   }
#nav-top  ul.subNav-04  {width:110px; height: 40px;}/*Control Sub Width */
#nav-top  ul.subNav-04 li  a{   }
#nav-top  ul.subNav-05 {width:450px; height: 180px; left:-200px;}/*Control Sub Width */  
#nav-top  ul.subNav-05 li  a{width:220px; /*border:solid 1px red ; */} 
#nav-top  ul.subNav-06 {width:130px; height: 180px;}/*Control Sub Width */
#nav-top  ul.subNav-06 li  a{  /*border:solid 1px red ; */} 

/****** NavLeft  ******/
#navLeft{font-family: 'DBHelvethaicaX45Li'; margin-top:5px; /* border:solid 1px red; */  
 height:235px; width:180px;margin-left:10px;  }
#navLeft .title{font-size: 26px;    height:28px; margin-bottom:7px; color:#fff; padding-left:10px; background :  url(../images/nav-top.jpg) repeat-x -10px 0px  ; display:block; padding-top:2px;  } 
#navLeft ul {margin-bottom:20px;   }
#navLeft ul li{ width:190px;  height:26px ; width:180px;}
#navLeft ul li a {display:block;  background: #fff url(../images/bullet2.png) no-repeat 7px  9px ;border-bottom: solid 1px  #ced4ff ;  text-decoration:none; text-indent:22px;      font-size: 23px; color:#0087d5 ;  border-radius: 0px  0px 3px 3px; }
#navLeft ul li a:hover { background: /*#f8f7f5*/   url(../images/bullet2.png) no-repeat 7px -10px ;
border-bottom: solid 1px #0622f2 ; color:#333;  } 


/****** UC Cat Link ******/  
.cat-link-warp { border: 1px solid #ddd; border-radius: 8px; padding: 10px 10px; }
.cat-link { float: left; width: 190px; border: 1px solid #ddd ; border-radius: 8px; padding: 5px; height: auto !important;  height: 170px; min-height: 170px;position:relative; /* background-color: #f9fbff;  background-color: #fff ; */}
.cat-link-margin { margin-right: 12px; }
.cat-link h1 { font-family: 'DBHelvethaicaX45Li'; font-size: 29px; padding-left: 40px;  color:#666; }
.cat-link h1.icon1 { background : url('../images/icon-footer-1.png') no-repeat left top; }
.cat-link h1.icon2 { background : url('../images/icon-footer-2.png') no-repeat left top; }
.cat-link h1.icon3 { background : url('../images/icon-footer-3.png') no-repeat left top; }
.cat-link h1.icon4 { background : url('../images/icon-footer-4.png') no-repeat left top; }
.cat-link .row-list { margin-bottom:20px;}
.cat-link .row-list li { background : url('../images/bullet4.png') no-repeat left 6px; padding-left: 18px; line-height: 20px; }
.cat-link .row-list li a { text-decoration: none; color: #2852cd; }
.cat-link .row-list li a:hover { color: #333; text-decoration: underline; }
.cat-link  .btn-more a{ position:absolute; right:8px; bottom:5px;  color:#63605e  ;  display:block; color: #0087d5 ; font-weight:bold;    }
.cat-link  .btn-more a:hover{ color:#494848;text-decoration:none ; }



/*------  Content CMS ( in Only Side-Right ) --------------------------------------------------------------------------------*/ 
#content{ line-height:22px; position:relative ; font-size: 13px; }
#content .content-border { border: 1px solid #ddd ;  border-radius: 9px; clear:both;margin-bottom:10px;padding :10px; height: auto !important; height: 690px; min-height: 690px; }

#content p{ text-indent:20px;}
    #content a { text-decoration: underline; }

#content ul {margin-left:20px;}
#content ul li{ list-style-type:disc ; line-height:22px; }
#content ul li a{  line-height:12px; }
#content ol {margin-left:20px;}
#content ol li{ list-style-type: decimal; line-height:22px; }
#content ol li ul li { list-style-type: disc;    } 

#content .content-title{font-size:30px; font-family:  'DBHelvethaicaX45Li'; width:520px;color:#0b36c9; }
/*
#content .content-pic-frame { background: url('../images/prd-detail-bg.jpg') no-repeat left top; margin-bottom: 20px; padding-left: 20px; padding-top: 20px; width: 380px; height: 220px; margin: 0px auto; } 
*/
#content  .content-pic { width:400px; height:251px ;  overflow:hidden;   margin: 0px auto;  
                         border : 5px solid #fff ; box-shadow: 0px 0px 15px #bbb; margin-bottom:20px;  }
    #content .content-pic img {width:400px;  }
#content  .content-order-btn{position:absolute; right: 0px; top:10px; } 
 
#content ul.dis1  { margin-left:  0px;  }
#content ul.dis1   li {  background : url('../images/bullet4.png') no-repeat  3px 5px;padding-left:20px;list-style-type:none;}
#content ul.dis2  { padding-left:   0px; }
#content ul.dis2   li {  background : url('../images/bullet3.png') no-repeat  3px 5px; list-style-type:none; padding-left:20px;}
 
 
/*------ Share All Page  -------------------------------------------------------------------------------*/ 
.speedApp{ color:#0436c9; text-align:center; margin-bottom:5px;   padding-top:7px;  height:175px;  border-radius:  5px; background-color:#f3f3f3; background-color: #f9fbff ; /* border : solid 1px #ddd  ;*/ }
.speedApp-title{ color:#353537 ; font-size:26px;font-family: 'DBHelvethaicaX45Li';  line-height:22px; margin-bottom:5px;}
.speedApp .qrCode{margin-bottom:5px; }
.speedApp a { text-decoration:underline ;  }  

.subject1 { font-size:30px; font-family: 'DBHelvethaicaX45Li'; color:#0b36c9; margin : 5px 0px 15px 0px; line-height:18px;  clear:both; }
.subject2 {  font-size:24px; color:#0b36c9; margin : 8px 0px 5px 0px; font-family: 'DBHelvethaicaX45Li';  clear:both; }
.subject3 {font-weight:bold ;  margin : 5px 0px 5px 0px;  clear:both; }
.fontSize12{font-size:12px;}
.tab {text-indent:200px;  } 
.bold{ font-weight:bold; }  
.ita { font-style: italic; text-decoration: underline; }
.star {color:Red;  } 

.notation { font-size: 12px; color:#1285c1; line-height: 15px; margin-top: 5px; margin-bottom: 5px;display:block; }
.notation2 { font-size: 12px; color: #000; line-height: 15px; margin-top: 5px; margin-bottom: 5px;display:block; }
.date-update { font-size: 12px; color: #999;  margin-top: 5px; margin-bottom: 5px;display:block;  
height:30px;   position:absolute; top:10px; right:20px; }
 


/*------ Btn ALL  --------------------------------------------------------------------------------------*/ 
.btn-selectdata-th { background : url('../images/btn-selectdata-th.png') no-repeat left top; width: 87px; height: 24px; border: none; float: right; padding-right: 5px; margin-top: 5px; cursor:pointer;  }
.btn-confirm-mini-th { background : url('../images/btn-confirm-mini-th.png') no-repeat left top; width: 57px; height: 24px; border: none; float: right; padding-right: 5px; margin-top: 5px; cursor:pointer;  }
.btn-more-th  { background : url('../images/btn-more-th.png') no-repeat left top; width: 65px; height: 28px; padding: 0px 10px; color: #fff; font-family: 'DBHelvethaicaX45Li'; font-size: 24px; border: none; border-radius: 5px; height: 28px; display:block; float:left ;margin-right:5px; }
.btn-order-th  { background : url('../images/btn-order-th.png') no-repeat left top; width: 82px; height: 28px; padding: 0px 10px; color: #fff; font-family: 'DBHelvethaicaX45Li'; font-size: 24px; border: none; border-radius: 5px; height: 28px; float:left ;}
.btn-detail-th {background : url('../images/btn-detail-th.jpg') no-repeat left top; width: 85px; height: 28px; padding: 0px 10px; color: #fff; font-family: 'DBHelvethaicaX45Li'; font-size: 24px;  border: none; border-radius: 5px; height: 28px; float:left ;margin-right:5px; }
.btn-order-mini-th{  background : url('../images/btn-order-mini-th.png') no-repeat left top;width: 55px;  height: 28px; border: none; float:left ;  }  
.btn-order-mini-th:hover{ background : url('../images/btn-order-mini-th.png') no-repeat left -27px; }
.bgClame1{ background-color:#fffeb3; }
.bgClame2{background-color:#e4f2fd; }  


/*------ Page-Home ------------------------------------------------------*/ 
#page-home{ }  
#key { height: 220px; width: 870px; border : 1px solid #ddd; display: block; border-radius: 8px; overflow: hidden; margin-bottom: 10px; }
.cat-show { width: 300px; float: left;   border : 1px solid   #ddd; border-radius: 8px; padding: 5px 8px 8px 8px; height: auto !important; height: 160px; min-height: 180px; margin-bottom: 10px; position:relative; } 
.cat-show .cat-purchase{ position:absolute;left:8px;bottom:8px; }
.cat-show-margin { margin-right: 10px; }
.cat-col-left .cat-show h1 { font-family: 'DBHelvethaicaX45Li'; font-size: 28px; margin-bottom: 0px; }
.cat-col-left { float: left; width: 152px;   }
.cat-col-left h1{ color: #485ed1; padding-bottom: 0px; font-family: 'DBHelvethaicaX45Li'; font-size: 35px; font-weight: normal  }
.cat-col-left .cat-des { width: 130px; margin-bottom: 10px; height: 70px; }
.cat-col-left .cat-type { width: 130px; margin-bottom: 10px; }
.cat-col-left .cat-type a { text-decoration: underline; background : url('../images/bullet-1.png') no-repeat left 4px; padding-left: 15px; }
.cat-col-left .cat-type a:hover { color: #0f5ce7; }
.cat-col-right { float: right; height: 150px; overflow: hidden; width: 150px; position:absolute;right:0px; top:0px; z-index:-111;}
.cat-col-right img { width: 150px;  opacity:0.8;   /* For IE8 and earlier */}
 
 
/*---- Page Prd-List  -------------------------------------------------*/
 
#page-prd-list{ }
#page-prd-list   h1{font-size:33px; font-family: 'DBHelvethaicaX45Li'; line-height:20px;   }  
#page-prd-list   h2{font-size:30px; font-family: 'DBHelvethaicaX45Li'; line-height:18px;  } 

#page-prd-list .product-row{ border: 1px solid #ddd ;  border-radius: 9px;  clear:both;margin-bottom:10px;padding :10px;   }
#page-prd-list .product-row .colLeft{float:left; width:200px;height:125px; display:block;margin-right:10px; border:1px solid #ccc ;  } 
#page-prd-list .product-row .colLeft img{width:200px;height:125px; }
#page-prd-list .product-row .colRight{float:left; width:400px; display:block; position:relative;  height: auto !important; height: 128px; min-height: 128px; }

#page-prd-list .product-row .colRight  .btnRow { position:absolute; left:0px ; bottom:0px; }

/*------ Page Prd-View ------------------------------------------------------*/ 
#page-prd-view{ } 
#page-prd-view  .prd-view-title {font-size:30px; font-family: 'DBHelvethaicaX45Li'; width:520px;color:#0b36c9;  margin-bottom:10px; }

/*------ Page Contact  ------------------------------------------------------*/ 
#page-contact{ }
#page-contact td.label { width:160px; text-align:right; }
#page-contact  input[type='text'] {width:180px;  } 
#page-contact  input[type='checkbox'] {margin-right:10px  } 
#page-contact  table label {margin-right:5px  } 
#page-contact .btn-submit{ margin-left: 160px; width:190px;margin-top:5px;}

/*------ Page Callcenter ------------------------------------------------------*/ 
#page-callcenter{ }
#page-callcenter td.label { width:160px; text-align:right; }
#page-callcenter h1{font-size:33px; font-family: 'DBHelvethaicaX45Li'; line-height:20px;  }  
#page-callcenter h2{font-size:30px; font-family: 'DBHelvethaicaX45Li'; line-height:18px;  } 
#page-callcenter  input[type='text'] {width:180px;  } 
#page-callcenter  input[type='checkbox'] {margin-right:10px  } 
#page-callcenter  table label {margin-right:5px  }
#page-callcenter  .btn-submit{ margin-left: 160px; width:190px;margin-top:5px;}
 

/*------ Page OnlineIns ------------------------------------------------------*/ 
#page-onlineIns  { }
#page-onlineIns  td.label { width:160px; text-align:right; }
 #page-onlineIns  input[type='text'] {width:180px;  } 
#page-onlineIns  input[type='checkbox'] {margin-right:10px  } 
#page-onlineIns  table label {margin-right:5px  } 
#page-onlineIns  input[type='select'] {margin-right:10px  } 
#page-onlineIns  .btn-submit{ margin-left: 160px; width:190px;margin-top:5px;} 



/*------ Page Online Insure Car------------------------------------------------------*/
#page-online-insCar { }
#page-online-insCar  .stepOnline{ margin-bottom:10px; }    
#page-online-insCar  input[type='text'] {width:100px; margin-right:10px;font-size:12px; }
#page-online-insCar  input[type='checkbox'] {  margin-right:5px;  }
#page-online-insCar input[type='radio']{   margin-right:5px;  margin-top:5px; }
#page-online-insCar select {width:100px;  margin-right:10px; font-size:12px;  }

.subject-detail{font-size:12px;border-bottom:1px solid #64acf4 ; color: #ef980f;padding-bottom:5px; margin-bottom:10px; margin-left: 5px;width:620px; font-weight:bold ; }

.tb-online-insCar   {font-size:13px;width:100%;}
.tb-online-insCar   td{ height:23px;padding:0px;  color:#000 ; margin:0px;height:22px; }
.tb-online-insCar   .label{text-align:right; margin-right:10px;display:block; }
.tb-online-insCar   table.tb-radioList{float:left; margin-right:10px;  } 
.tb-online-insCar   table.tb-radioList  label{ margin-right:5px;  } 
 

.tb-prd-result { font-size:13px;width:100%;text-align:center;vertical-align:top;  }
.tb-prd-result th{color:#fff; background-color:#2d3e85; padding: 5px 0px; border:1px solid #fff ; }
.tb-prd-result td{color:#000;  border:1px solid #999 ;vertical-align:top;  }
.tb-prd-result  .product-name {color:#5f33ff ; text-align:left;padding-left:5px;   }
.tb-prd-result td a{text-decoration:underline; color:#527dc8;     }
.tb-prd-result td a:hover{ color:#2d3e85;     } 
.tb-prd-result  .break-line{background-color:#ffa200 ; height:3px;}
 

.btn-carbrand{ background : url('../images/btn-carbrand.png') no-repeat left top;  width: 55px; 
height:24px;  border: none; color:#fff; font-size:11px; text-align:center;  }   
.btn-conferm-th{background : url('../images/btn-confirm-th.png') no-repeat left top; width: 65px; 
height: 30px;  border: none; }
.btn-edit-th{background : url('../images/btn-edit-th.png') no-repeat left top; width: 70px; 
height: 30px;  border: none; }
.btn-cancle-th{background : url('../images/btn-cancle-th.png') no-repeat left top; width: 65px; 
height: 30px;  border: none; }
.btn-cal-th{background : url('../images/btn-cal-th.png') no-repeat left top; width: 100px; 
height:30px;  border: none; } 

/*------Page Investment  ------------------------------------------------------*/ 
#page-invest{ }

/* CSS Control Table  here effect with any page use  #page-invest for contain content */
/*------- table verticle control ---------*/
.tb-ver-center { text-align: center; background-color: white;  margin-bottom: 20px;width:100% ; margin-top:5px;  }
.tb-ver-center th{  color: #fff;     vertical-align:top; font-size: 13px;
border: 1px solid #c9c7c7 ;  background-color:#485ed1 ; text-align: center; padding:3px 5px 3px 5px ;}
.tb-ver-center td{ height: 18px;      padding:3px 5px 3px 5px ;font-size: 13px;
vertical-align:top;  border: 1px solid #c9c7c7 ;  /*background-color: #f9fbff ; */  }  
.tb-ver-center th.pad-zero{padding:0px;margin:0px;}

/*------- table horizontal control ---------*/
.tb-hor-left { text-align: left; background-color: white; font-size: 12px; margin-bottom: 20px;width:100% ;  margin-top:5px;  }
.tb-hor-left th{color: white;  vertical-align:top; 
border: 1px solid #c9c7c7 ; color:#485ed1 ; background-color:#f2f9ff;     margin:0px; padding:3px 5px 3px 5px ;   }
.tb-hor-left td{  height: 23px;     padding:3px 5px 3px 5px ;
vertical-align:top;  border: 1px solid #c9c7c7 ; /* background-color: #f9fbff */ ; margin:0px; } 

/*------- table border bottom ---------*/
.tb-border-bottom { text-align: center; background-color: #fff ;  margin-bottom: 20px;width:100% ;  }
.tb-border-bottom th{  color: #fff;      vertical-align:top; font-size: 12px;
border: 1px solid #c9c7c7 ;  background-color:#485ed1 ; text-align: center; padding:3px 5px 3px 5px ;}
.tb-border-bottom td{ height: 18px;      padding:3px 5px 3px 5px ;font-size: 12px;
vertical-align:top;   border-bottom: 1px solid #e5e5e5 ;  }  
.tb-border-bottom td.no-border{  border-bottom:none ; }  

/*------- table Quarter ---------*/ 
.tb-quarter { text-align: center; background-color: white;  margin-bottom: 20px;width:100% ;  }
.tb-quarter th{  color: #485ed1; vertical-align:top; font-size: 13px;  text-align: center; padding:3px 5px 3px 5px ;  background-color: #485ed1 ;
color:#fff;  border-left: 1px solid #d1d8ff ;border-right: 1px solid #d1d8ff ; }
.tb-quarter td{ height: 18px;      padding:0px 5px 0px 5px ;
vertical-align:middle;   border-left : 1px solid  #e5e5e5 ;  border-right : 1px solid  #e5e5e5 ;
 border-bottom : 1px solid #e5e5e5 ; border-top: 1px solid #e5e5e5 ;}  
.tb-quarter td a{font-size:12px; line-height:16px; color: #485ed1 ; text-decoration:underline;  }
.tb-quarter td a:hover{color: #2c3056;}

/*------- table Padding Zero ---------*/
.tb-padding-zero { text-align: center; background-color: white;  margin-bottom: 20px;width:100% ; margin-top:5px;  }
.tb-padding-zero  th{  color: #fff;     vertical-align:top; font-size: 12px;
border: 1px solid #c9c7c7 ;  background-color:#485ed1 ; text-align: center; padding: 0px ;}
.tb-padding-zero  td{ height: 18px;      padding:0px ;font-size: 12px;
vertical-align:top;  border: 1px solid #c9c7c7 ;  /*background-color: #f9fbff ; */  }  
.tb-padding-zero  th.pad-zero{padding:0px;margin:0px;} 
 
 /*------- config Table  ---------*/
.tb-fontSmall {font-size: 12px;}
.align-left{text-align:left;}
.align-right{text-align:right;} 
.align-center{text-align:center;} 
td.hilight1{ background-color: #ddf6fc; border-bottom:none;  color:#485ed1; }
td.hilight2{ background-color: #909bd4;  border-bottom:none; color:#fff ;  }
td.no-border{  border :none ; } 
td.no-border-leftright {  border-right:none ; border-left:none ; }
td.no-borderleft {  border-left:none ; }  
td.no-borderright {  border-right:none ; } 
th.align-left{text-align:left;}
 
/*------ Accordient  ------------------------------------------------------*/ 
#accordion {  padding-left: 10px; }
.acc-row { position:relative;clear:both ; }
.acc-title {   color: #000; border-bottom: solid 1px #f3f3f3;  
 height: auto !important; height: 28px; min-height: 28px;   position:relative;  }
.acc-title:hover { cursor: pointer; background-color: #f2f9ff; } 
.acc-detail { display: none;   height: auto !important; height: 28px; min-height: 28px; 
              font-size: 13px; line-height: 23px;  position:relative; 
       border-bottom: solid 1px #ced4ff;  
}
.acc-icon {background:   url(../images/accordion-icon.png) no-repeat 0px -5px; } 
.acc-icon2 {background:   url(../images/accordion-icon.png) no-repeat 0px -52px;
 /*--- increase for active ---*/
  border-bottom: solid 1px #ced4ff; background-color: #f2f9ff;} 

/*------ Page FAQ ------------------------------------------------------*/ 
#page-faq { }
#page-faq .acc-title { width: 540px;   padding : 5px  10px  0px 65px    ;  font-size:21px;font-family: 'DBHelvethaicaX45Li'; }
#page-faq .acc-detail { padding :10px 10px 10px 65px    ;  }
.caption1 { color:#9899c9 ; font-size:23px;font-family: 'DBHelvethaicaX45Li';  position:absolute ; left: 20px; top:6px; }
.caption2 { color:#f1c105 ; font-size:23px;font-family: 'DBHelvethaicaX45Li';  position:absolute ; left: 20px; top:10px; }
.quiz { float:left;}
.ans { float:left; }

/*------ Page jobOfficerRequire -----------------------------------------------*/ 
#page-jobOfficerRequire { } 
#page-jobOfficerRequire .acc-title { width: 590px;   padding : 5px  10px  0px 20px  ; font-size:21px;font-family: 'DBHelvethaicaX45Li';  }
#page-jobOfficerRequire  .acc-detail { padding :10px 10px 10px 20px    ;  }
 
#page-jobOfficerRequire  .btn-jobOfficerRequire {  position:absolute; right:10px; top:12px;     } 
#page-jobOfficerRequire  .btn-jobOfficerRequire  a {background-color:#2852cd ; padding:1px 7px;color: #fff;  text-decoration: none; font-size:21px; font-family:  'DBHelvethaicaX45Li'; border-radius: 3px; }
#page-jobOfficerRequire .btn-jobOfficerRequire  a:hover {  background-color:#13248d  }
 
.position-jobOfficerRequire { width:470px;   display:block;  padding:0px; margin:0px; float:left ;} 
.quantity-jobOfficerRequire {  text-align:right;   float:right; width:100px;    margin-right:10px;  }
.num-jobOfficerRequire{ font-size: 27px; margin-right:10px; }

/*------  Page jobOfficerApply ------------------------------------------------------*/
#page-jobOfficerApply { }
#page-jobOfficerApply  .acc-title {width:550px; }
 

/*------ Page Network ------------------------------------------------------*/
#page-network { }
#page-network  .network-name { font-size: 13px; font-weight:bold; background: url('../images/bullet1.png') no-repeat left 5px; padding-left :18px; color:#0b36c9;  }
#page-network  .network-address {padding-left :18px; line-height:15px; }
#page-network  .network-tel {padding-left :18px; font-weight:bold; line-height:15px;font-size: 12px;margin-top:5px;  }
#page-network   .search-area { float:right ;margin-bottom:10px;  } 

.tb-network { text-align: center; background-color: white;  margin-bottom: 20px;width:100% ; margin-top:5px;  }
.tb-network th{  color: #fff;     vertical-align:top; font-size: 13px;
border: 1px solid #c9c7c7 ;  background-color:#485ed1 ; text-align: center; padding:3px 5px 3px 5px ;}
.tb-network td{ height: 18px;      padding:3px 5px 3px 5px ;font-size: 13px;
vertical-align:top;  border: 1px solid #c9c7c7 ;  /*background-color: #f9fbff ; */  }  
.tb-network th.pad-zero{padding:0px;margin:0px;}

/*---- Page  Buy Insure  ------------------------------------------------------*/ 
#page-buy-insure { } 
/* CSS Control Table  here effect with any page use  #page-buy-insure   for contain content */
/*------- table verticle control ---------*/
.tb-buy-insure  {   background-color: white;  margin-bottom: 20px;width:100% ; margin-top:5px;  }
.tb-buy-insure   .label{text-align:right; margin-right:5px;  }
.tb-buy-insure   td{ height: 18px;      padding:3px 5px 3px 5px ;font-size: 13px;  vertical-align:top;   margin-bottom:0px;   }  
.tb-buy-insure   td input[type='text'] {width:120px; float:left;  margin-right:5px; }  
.tb-buy-insure   td input[type='select'] {margin-right:10px ;width:120px; margin-right:5px;  float:left; } 
.tb-buy-insure   td textarea {width:280px;  height:25px;margin-right:5px;float:left;  } 
.tb-buy-insure   td .btn-submit{ margin-left: 120px; width:190px;margin-top:5px;} 
.tb-buy-insure   td input[type='radio']{   margin-right:5px;  margin-top:5px; }

.tb-buy-Info { text-align: center; background-color: white;  margin-bottom: 20px;width:100% ; margin-top:5px;  }
.tb-buy-Info th{  color: #fff;     vertical-align:top; font-size: 13px;
border: 1px solid #c9c7c7 ;  background-color:#485ed1 ; text-align: center; padding:3px 5px 3px 5px ;}
.tb-buy-Info td{ height: 18px;      padding:3px 5px 3px 5px ;font-size: 13px;
vertical-align:top;  border: 1px solid #c9c7c7 ;  /*background-color: #f9fbff ; */  }  
.tb-buy-Info th.pad-zero{padding:0px;margin:0px;}

 

/*
input[type='text'] {  }
input[type='checkbox'] {   }
input[type='radio']{   }
select {   }
*/
  