﻿@charset "utf-8";
/* ========== Font Face ==================================================*/ 
@font-face { font-family: 'DBHelvethaicaX45Li'; 
src: url('font/DBX45/db_helvethaica_x_li_v3.2-webfont.eot'); 
src: url('font/DBX45/db_helvethaica_x_li_v3.2-webfont.eot?#iefix') format('embedded-opentype'),  
url('font/DBX45/db_helvethaica_x_li_v3.2-webfont.ttf') format('truetype'), 
url('font/DBX45/db_helvethaica_x_li_v3.2-webfont.svg#DBHelvethaicaX45Li') format('svg'); 
font-weight: normal; font-style: normal; }
 
@font-face { font-family: 'RSULight'; 
src: url('font/RSULight/rsu_light-webfont.eot'); 
src: url('font/RSULight/rsu_light-webfont.eot?#iefix') format('embedded-opentype'),  
url('font/RSULight/rsu_light-webfont.ttf') format('truetype'), 
url('font/RSULight/rsu_light-webfont.svg#RSULight') format('svg'); 
font-weight: normal; font-style: normal; }
/* ========== Ganeral =====================================================*/ 
body { font-family:  Tahoma, Verdana, Arial ;   font-size: 13px;  color: #333; background: #FFFFFF url(../images/bg-body.jpg) repeat-x left top; }
a:link, a:visited { color: #50a3fc; border: none; text-decoration: none; color: #485ed1}
a:hover, a:active { color: #073c75; border: none; text-decoration: underline; color: #2c3056;  } 
.clear { clear: both }
/*a span{display:none;}*/
h1 { color: #092896;   font-family: 'RSULight'; font-size: 23px; font-weight: normal ;line-height: 20px;}
h2 { color: #1089CE; margin-bottom: 0px; padding-bottom: 5px; font-family: Verdana, Geneva, sans-serif; font-size: 19px; font-weight: lighter; }
h3 { }
p {  margin-bottom: 5px; } 
       
/* ============== Layout  SMK ========================================*/ 
#container { width: 870px; margin: 0px auto; }
#header { height: 63px; position: relative;  display: block; top: 0px; left: 0px;   }
#header .callcenter { position: absolute; right: 0px; top : 0px; background: url(../images/header_callcenter.jpg) no-repeat left top; width:251px ; height: 63px; }
#header  .logo  { position: absolute; left: 0px; top : 5px;  background:  url(../images/logo_sinmonkong_th.jpg) no-repeat left 3px ;   } 
#header  .logo  a   { width:300px; height:54px; display:block;  }
#header  .logo  span{display:none; }   
#header  .lang-select {position:absolute;right:110px; bottom:7px;z-index:11;   }
#header  .lang-select  a{text-decoration:underline; color:#485ed1; font-weight:bold ; }
#header  .lang-select  a:hover{color:#000; } 
#warper { height: auto !important; min-height: 280px; height: 280px; margin-bottom: 8px;
width: 858px; border : 1px solid #ddd;  padding: 7px 5px; background-color: #fff;margin-top:3px ;
border-radius: 8px;
behavior: url(css/PIE-1/PIE.htc); top: 0px; left: 0px; /* IE8 CSS3 HACK */ 
}
#side-right { width: 650px; float: left; height: auto !important; height: 310px; min-height: 310px; /* border: 1px solid #eee; */ }
#side-left { width: 193px; float:left ; display: block; height: auto !important; height: 300px; min-height: 300px; /* border: 1px solid #eee; */ margin-top: 0px;margin-right:12px; }
#footer { height: 50px; display: block; margin-bottom: 20px; padding-top: 20px; width: 870px; }
#footer .footlink { margin-bottom: 10px; clear: both; height: 30px; text-align: center; margin: 0px auto; display: block; width: 500px; }
#footer .footlink li { float: left; font-size: 12px; }
#footer .footlink li a { text-align: center; padding: 0px 5px; color: #2852cd; }
#footer .footlink li a:hover { color: #24439d; }
#footer .copy { color: #525253; font-size: 11px; float: left; text-align: center; margin-bottom: 10px; }
#footer .policy { margin-bottom: 5px; float: right; font-size: 11px; }
#footer .policy li { float: left; }
#footer .policy a { color: #525253; padding: 0px 5px; }
#footer .policy a:hover { color: #ccc; }
/* ======= SitemapPath ============================== */   
.breadcrumb { clear: both; width: 800px; height: 20px; margin-left:5px;  }
.breadcrumb ul li { display: inline; }
.breadcrumb ul li a { float: left; text-decoration: underline; }

/* ======= NavTop ====================================== */
#nav-top { clear: both;    font-family: 'RSULight';  height: 38px; margin-bottom: 7px;}
#nav-top > ul > li { position: relative; float: left;   }
/*
#nav-top ul > li { top: 0px; left: 0px; border-top-left-radius: 5px; behavior: url(css/PIE-1/PIE.htc);  IE8 CSS3 HACK  }  
*/
#nav-top a { font-size: 19px;
float: left; text-decoration: none;   border-right: 1px solid #fff;   color: #fff;   
padding:5px 27px 0px 27px ;   height: 33px;  
/*background : linear-gradient( 0deg, #0e3ce7   0%, #2f75f1 50%  );*/   /* IE9 &  Over */  
background-color: #2f75f1; /* IE8 & Below  */ 
behavior: url(css/PIE-1/PIE.htc);   /* IE8 CSS3 HACK */ 
}
#nav-top a:hover , #nav-top a.selected    { background-color:#2922D1  ; }  
#nav-top ul .first  {  
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
behavior: url(css/PIE-1/PIE.htc);   /* IE8 CSS3 HACK */
}
#nav-top ul  .last   { border: none; 
 border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
behavior: url(css/PIE-1/PIE.htc); /* IE8 CSS3 HACK */
}
 
/* ======  NavTop - Sub   */ 
#nav-top  .subNav{position:absolute; left:0px; top:38px; z-index:111; border:1px solid #ccc ; 
background-color:#fff ;   padding:10px; padding-right: 0px;  /*width:160px;*/ height:auto !important;  height: 40px; min-height:40px; padding-bottom:10px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
behavior: url(css/PIE-1/PIE.htc);   /* IE8 CSS3 HACK */
} 
#nav-top   .subNav li {float:left;  height:auto; padding-left:2px; }
#nav-top   .subNav li a{  background: url('../images/bullet1.png') no-repeat 2px 4px;  margin: 0px ; padding:0px;
text-indent:15px; height : 20px;  color:#666;  width:150px; font-size:18px;  font-family:Tahoma; font-size:13px;  border:none; 
 /*padding-left:2px;*/
font-family: 'RSULight';
font-size: 15px;
} 
#nav-top   .subNav li a:hover{ color:Blue; background: #E5EEFF  url('../images/bullet1.png') no-repeat 2px -16px;  } 
#nav-top   .subNav-01  {width:320px; height: 75px;} 
#nav-top   .subNav-02  {width:280px; height: 80px;}  
#nav-top   .subNav-02 li  a{width:130px;  } 
 
#nav-top   .subNav-03  {width:130px;  }  
#nav-top   .subNav-03 li  a{width:120px;  }  

#nav-top   .subNav-05 {width:160px; height: 180px; left: 0px;} 
#nav-top   .subNav-05 li  a{width:150px;  }  
/* ======= NavLeft====================================== */
#navProduct{font-family: 'RSULight'; margin-top:0px; /* border:solid 1px red; */  
/*height:227px;*/ width:180px;margin-left:10px;  margin-bottom:10px; }
#navProduct .title{font-size: 20px;    height:23px; margin-bottom:0px; color:#fff;  background :  url(../images/nav-top.jpg) repeat-x -10px 0px  ; display:block; padding-top:2px; text-align: center; line-height: 25px; } 
#navProduct ul {margin-bottom: 0px;   }
#navProduct ul li{ width:190px;  height:26px ; width:180px;}
#navProduct ul li a {display:block;  background: #fff url(../images/bullet2.png) no-repeat 7px  9px ;border-bottom: solid 1px  #ced4ff ;  text-decoration:none; text-indent:22px;      font-size: 19px; color:#0A65C0  ; line-height: 25px;  /*border-radius: 0px  0px 3px 3px;*/ /*height:25px;*/ }
#navProduct ul li a:hover { background: #DAE2FC    url(../images/bullet2.png) no-repeat 7px -10px ;
/*border-bottom: solid 1px #0622f2 ;*/ color:#333;  } 
#navProduct ul li a.active { background:  #DAE2FC  url(../images/bullet2.png) no-repeat 7px -10px ;
/*border-bottom: solid 1px #0622f2 ;*/ color:#333;  } 
 


/* ======= NavInvestment ====================================== */
#navInvestment{font-family: 'RSULight'; margin-top:0px;  width:200px;margin-left:2px;  margin-bottom:10px; }
#navInvestment .title{font-size: 20px;    height:24px; margin-bottom:0px; color:#fff; background : url(../images/nav-top.jpg) repeat-x -10px 0px  ; display:block; padding-top:2px; text-align: center; line-height: 25px; } 
#navInvestment h3 { font-size: 17px; color: #4661CC; border-bottom: 1px solid #D9DEF1; text-indent :3px;
 /*background-color: #EAEEFC*/   
}  
#navInvestment h3 a {  text-decoration: none;   color:#0A65C0 ;  display: block; height: 28px; text-indent: 14px;line-height: 30px;
  background :  #fff url(../images/bullet2.png) no-repeat 3px 9px;  /*background-color: #E4EDFC ;*/  
} 
#navInvestment h3 a:hover { background : #DAE2FC url(../images/bullet2.png) no-repeat 3px -10px; color:  #000; /*background-color: #D9E0F8;*/ }
#navInvestment h3 .active { color: #000 ;  background : #DAE2FC  url(../images/bullet2.png) no-repeat 3px -10px; /*background-color :  #D9E0F8 ;*/ }
#navInvestment ul {margin-bottom: 0px; /*list-style: none;*/   }
#navInvestment ul li{     /*width:200px;*/   }
#navInvestment ul li a {font-family: 'thaoma'; display:block;  /*border-bottom: solid 1px  #ced4ff ;*/  text-decoration:none; font-size: 13px;  display: block;  padding-left: 14px; 
                        line-height: 18px; background : #fff   url(../images/bullet5.png) no-repeat 5px 9px; color: #0A65C0 ;
                        padding-top:5px;
}
#navInvestment ul li a:hover {  color:#000 ; background : #F4F5F3  url(../images/bullet5.png) no-repeat 5px -37px; 
                               /*border-bottom: solid 1px #949FEC; color:#0131EB ;*/ } 
#navInvestment ul li a.active {color: #0A65C0 ; background : #E5EBFC  url(../images/bullet5.png) no-repeat 5px -37px;  
                               /*border-bottom: solid 1px  #5063F7 ;*/ color:#000 ;
}

 
/*======== Tabs Overlapping ( Page - buyInsureCar_step1.aspx ) ===========================*/
#tabOvl-onlineInsureCar { position:relative; width:700px; height:40px;  } 
#tabOvl-onlineInsureCar  ul.obtabs { list-style: none;   position:absolute; left:38px; margin-left: 0px; } 
#tabOvl-onlineInsureCar  ul.obtabs li { float: left; display: block; height: 40px; 
position: relative; background: url(../images/overlabTab-right1.png) 100% 0 no-repeat;  
padding-right: 15px;  /*    tune  area background  right   */
margin-left: -35px; /*  tune  for overlab each tab */
}
#tabOvl-onlineInsureCar ul.obtabs span { height: 30px; line-height: 24px; padding-top:10px;background: url(../images/overlabTab-left1.jpg) no-repeat; 
padding-left:50px;  /*  tune  area background left   */
}
html > body #tabOvl-onlineInsureCar  ul.obtabs span { display: block; }
#tabOvl-onlineInsureCar ul.obtabs li.current { z-index: 1; font-weight: bolder;  height: 40px; background-image: url(../images/overlabTab-right2B.png ) ; }
#tabOvl-onlineInsureCar ul.obtabs li.current span { background-image: url(../images/overlabTab-left2B.jpg )  ; }
#tabOvl-onlineInsureCar  ul.obtabs a {text-decoration:none;   text-decoration:none; color:#fff; padding-top:10px;  display:block ; 
                    font-family: 'RSULight'; font-size: 21px; font-weight:normal ;
width:120px;   /*  tune area  mouse over */
}
/*=============Tabs Overlapping  ( Page - network Cat = 4 ) */
#tabOvl-network1 { position:relative; width:700px; height:45px;  } 
#tabOvl-network1 ul.obtabs { 
list-style: none;   
position:absolute;   
margin-left: 0px;
margin-left: 15px; 
} 
#tabOvl-network1  ul.obtabs li { 
float: left; 
display: block; 
height: 45px; 
position: relative; 
background: url(../images/tabOvl2-right1.png) 85% 0px no-repeat;  
/* padding-right: 53px;     // tune  area background  right   */
margin-left: -10px;  
width: 86px;   /*  tune Size Tab */ 
}
#tabOvl-network1 ul.obtabs span {
height: 45px;
line-height: 24px;
background: url(../images/tabOvl2-left1.jpg) no-repeat; 
}
html > body #tabOvl-network1  ul.obtabs span { display: block; }
#tabOvl-network1  ul.obtabs li#current { 
z-index: 1; 
background-image: url(../images/tabOvl2-right2.png ) ; 
}
#tabOvl-network1  ul.obtabs li#current span { background-image: url(../images/tabOvl2-left2.jpg )  ; }
#tabOvl-network1 ul.obtabs a {
text-decoration:none;  
color:#fff;   
text-align:center;
display:block ;  
line-height:15px; 
height:35px; 
padding-top: 10px; 
width:75px;   /*  tune area  mouse over */
}
/*============ Tabs Overlapping  ( Page - network cat = All )  */
#tabOvl-network2 { position:relative; width:700px; height:45px;  } 
#tabOvl-network2 ul.obtabs { 
list-style: none;   
position:absolute;   
margin-left: 0px;
margin-left: 15px; 
} 
#tabOvl-network2  ul.obtabs li { 
float: left; 
display: block; 
height: 45px; 
position: relative; 
background: url(../images/tabOvl2-right1.png) 85% 0px no-repeat;  
/* padding-right: 53px;     // tune  area background  right   */
margin-left: -10px;  
width: 97px;   /*  tune Size Tab */ 
}
#tabOvl-network2 ul.obtabs span {
height: 45px;
line-height: 24px;
background: url(../images/tabOvl2-left1.jpg) no-repeat; 
}
html > body #tabOvl-network2  ul.obtabs span { display: block; }
#tabOvl-network2  ul.obtabs li#current { 
z-index: 1; 
background-image: url(../images/tabOvl2-right2.png ) ; 
}
#tabOvl-network2  ul.obtabs li#current span { background-image: url(../images/tabOvl2-left2.jpg )  ; }
#tabOvl-network2 ul.obtabs a {
text-decoration:none;  
color:#fff;   
text-align:center;
display:block ;  
line-height:15px; 
height:35px; 
padding-top: 10px; 
width:75px;   /*  tune area  mouse over */
}
/*============= UC Cat Link ==========================================*/  
.cat-link-warp { border: 1px solid #ddd;  padding: 5px 9px;width:850px ;
border-radius: 8px;
behavior: url(css/PIE-1/PIE.htc); top: 0px; left: 0px; /* IE8 CSS3 HACK */
}
.cat-link { float: left; width: 193px; border: 1px solid #ddd ;  padding: 5px; height: auto !important;  
height: 177px; min-height: 177px;position:relative;
border-radius: 8px;
behavior: url(css/PIE-1/PIE.htc); top: 0px; left: 0px; /* IE8 CSS3 HACK */ 
}
.cat-link-margin { margin-right: 10px; }
.cat-link h1 { font-family: 'RSULight'; font-size: 22px; padding-left: 40px;  color:#666;line-height: 33px;  }
.cat-link h1.icon1 { background : url('../images/icon-footer-1.png') no-repeat left top; }
.cat-link h1.icon2 { background : url('../images/icon-footer-2.png') no-repeat left top; }
.cat-link h1.icon3 { background : url('../images/icon-footer-3.png') no-repeat left top; }
.cat-link h1.icon4 { background : url('../images/icon-footer-4.png') no-repeat left top; }
.cat-link .row-list { margin-bottom:20px;}
.cat-link .row-list li { background : url('../images/bullet4.png') no-repeat -2px 3px; padding-left: 10px; line-height: 16px; width:190px; margin-bottom: 5px; }
.cat-link .row-list li a { text-decoration: none; color: #2852cd; }
.cat-link .row-list li a:hover { color: #333; text-decoration: underline; }
.cat-link  .btn-more a{ position:absolute; right:8px; bottom:5px;  color:#63605e  ;  display:block; color: #0087d5 ; font-weight:bold;    }
.cat-link  .btn-more a:hover{ color:#494848;text-decoration:none ; }
/* ======= Content CMS ( in Only Side-Right ) ============================== */ 
#content{ line-height:22px; position:relative ; font-size: 12px; color:#000;  }
#content .content-border { border: 1px solid #ddd ;  clear:both;margin-bottom:3px;padding :10px; height: auto !important; height: 690px; min-height: 690px;padding-top:7px;
behavior: url(css/PIE-1/PIE.htc);/* Hack IE8 - Border Radius */
border-radius: 9px;
}
#content h1 { color: #092896;   font-family: 'RSULight'; font-size: 23px; font-weight: normal ;line-height: 25px; }
#content p{ text-indent:17px;}
#content a { text-decoration: underline; }
#content a.btn-default { text-decoration: none ; }
#content ul {margin-left:20px;}
#content ul li{ list-style-type:disc ; line-height:22px; }
#content ul li a{  line-height:12px; }
#content ol {margin-left:20px;}
#content ol li{ list-style-type: decimal; line-height:22px; }
#content ol li ul li { list-style-type: disc;    } 
#content .content-title{font-size:30px; font-family:  'RSULight'; width:520px;color:#0b36c9; }
#content  .content-pic  
{
width:400px; height:251px ;  overflow:hidden;   margin: 0px auto; 
border : 5px solid #fff ; box-shadow: 0px 0px 15px #bbb; margin-bottom:20px; 
}
#content .content-pic img {width:400px;  }
#content  .content-order-btn{position:absolute; right: 10px; top:10px; } 
#content  .content-vdo { width:560px; height:315px ;  overflow:hidden;   margin: 0px auto;  border : 5px solid #fff ; box-shadow: 0px 0px 15px #bbb; margin-bottom:20px;  }
 
#content ul.dis1  { margin-left:  0px;  }
#content ul.dis1   li {  background : url('../images/bullet4.png') no-repeat  3px 5px;padding-left:20px;list-style-type:none;}
#content ul.dis2  { padding-left:   0px; }
#content ul.dis2   li {  background : url('../images/bullet3.png') no-repeat  3px 5px; list-style-type:none; padding-left:20px;}
 
  
#content a.commonLink  { text-decoration:none; font-weight:bold;  }
/* ======== Share All Page ===================================================*/ 
.speedApp{  text-align:center;   border-radius:  5px;   /* border : solid 1px #ddd  ;*/  margin-bottom: 7px;}
.speedApp-title{ color:#353537 ; font-size:20px;font-family: 'RSULight';  line-height:22px; margin-bottom:0px;}
 
.speedApp a { text-decoration:underline ;  }  
.subject1 { font-size:25px; font-family: 'RSULight'; color:#092896; margin : 5px 0px 8px 0px; line-height:18px;  clear:both; }
.subject2 {  font-size:18px; color:#0b36c9; margin : 8px 0px 5px 0px; font-family: 'RSULight';  clear:both; }
.subject3 {font-weight:bold ;  margin : 5px 0px 5px 0px;  clear:both; }
.fontSize12{font-size:12px;}
.tab {text-indent:200px;  } 
.bold{ font-weight:bold; }  
.ita { font-style: italic; text-decoration: underline; }
.star {color:Red;  } 
.notation { font-size: 12px; color:#1285c1; line-height: 15px; margin-top: 5px; margin-bottom: 5px;display:block; }
.notation2 { font-size: 12px; color: #000; line-height: 15px; margin-top: 5px; margin-bottom: 5px;display:block; }
.date-update { font-size: 12px; color: #999;  margin-top: 5px; margin-bottom: 5px;display:block;  height:30px;   position:absolute; top:10px; right:20px; }
a.commonLink  { text-decoration:none; font-weight:bold;  }
/* ======== Btn  Setup ======================================================*/
/* ======== Btn Default */
a.btn-default {color:#fff ; text-decoration:none; cursor:pointer ;padding-top:2px; }
 
.btn-default { position:relative; display:block; border:none;  padding: 1px 5px 0px 5px;
font-family: 'RSULight'; font-size:17px;font-weight:normal;  color:#fff ;  cursor:pointer ;  
float: left;border-radius:5px;
background : linear-gradient( 0deg, #2d56ce  0%, #7093f8 50%  ); /*  IE10 - Button Color   */
background-color: #577ce9  ; /* IE19 & Below - Button Color */  
behavior: url(css/PIE-1/PIE.htc);/* Hack IE8 - Border Radius */
} 
.btn-default:hover{
background : linear-gradient( 0deg, #2d56ce  0%, #2667df 50%  ); /*  IE10 - Button Color    */
background-color:#2667df ;  /* IE19 & Below - Button Color */
} 
.btn-default  span {
width:30px; height:30px;display:block ;right:0px;
position:absolute; top:1px; z-index:11;  /*border:1px solid red ;*/ 
}
 
/* ========== Btn  Icon */
.btn-iconMore {  margin-right: 7px;  right:0px;  
padding-right:20px;/*increse area  Icon in button */
} 
.btn-iconMore  span { 
background :  url('../images/btn-bg-more.png') no-repeat ;  
} 
.btn-iconOrder{   right:0px;
padding-right:30px; /*increse area  Icon in button */
} 
.btn-iconOrder   span {  
background : url('../images/btn-bg-order.png') no-repeat -3px  0px  ; 
}
  
.btn-selectdata-th { background : url('../images/btn-selectdata-th.png') no-repeat left top; width: 87px; height: 24px; border: none; float: right; padding-right: 5px; margin-top: 5px; cursor:pointer; }
.btn-confirm-mini-th { background : url('../images/btn-confirm-mini-th.png') no-repeat left top; width: 57px; height: 24px; border: none; float: right; padding-right: 5px; margin-top: 5px; cursor:pointer;  }
.btn-more-th  { background : url('../images/btn-more-th.png') no-repeat left top; width: 65px; height: 28px; padding: 0px 10px; color: #fff; font-family: 'RSULight'; font-size: 24px; border: none; border-radius: 5px; height: 28px; display:block; float:left ;margin-right:5px; }
.btn-order-th  { background : url('../images/btn-order-th.png') no-repeat left top; width: 82px; height: 28px; padding: 0px 10px; color: #fff; font-family: 'RSULight'; font-size: 24px; border: none; border-radius: 5px; height: 28px; float:left ;}
.btn-detail-th {background : url('../images/btn-detail-th.jpg') no-repeat left top; width: 85px; height: 28px; padding: 0px 10px; color: #fff; font-family: 'RSULight'; font-size: 24px;  border: none; border-radius: 5px; height: 28px; float:left ;margin-right:5px; }
.btn-order-mini-th{  background : url('../images/btn-order-mini-th.png') no-repeat left top;width: 55px;  height: 28px; border: none; float:left ;  }  
.btn-order-mini-th:hover{ background : url('../images/btn-order-mini-th.png') no-repeat left -27px; }
.bgClame1{ background-color:#fffeb3; }
.bgClame2{background-color:#e4f2fd; }   
/* ========== Page-Home ========================= */ 
#page-home{ }  
#key { height: 220px; width: 870px; border : 1px solid #ddd; display: block; border-radius: 8px; overflow: hidden; margin-bottom: 10px; }
.cat-show { width: 300px; float: left;   border : 1px solid   #ddd;padding: 8px 8px 8px 8px; height: auto !important; height: 160px; min-height: 160px; margin-bottom: 8px; position:relative;  
border-radius: 8px; 
behavior: url(css/PIE-1/PIE.htc);/* Hack IE8 - Border Radius */
} 
.cat-show .cat-purchase{ position:absolute;left:8px;bottom:8px;z-index: 11; }
.cat-show-margin { margin-right: 8px; }
.cat-col-left .cat-show h1 { font-family: 'RSULight'; font-size: 28px; margin-bottom: 0px; }
.cat-col-left { float: left; width: 220px;  position: absolute;z-index:2; }
.cat-col-left h1{ color: #485ed1; padding-bottom: 8px; font-family: 'RSULight'; font-size: 25px; font-weight: normal  }
.cat-col-left .cat-des { width: 160px; margin-bottom: 10px; height: 70px;  line-height:20px;}
.cat-col-left .cat-type { width: 130px; margin-bottom: 10px; }
.cat-col-left .cat-type a { text-decoration: underline; background : url('../images/bullet-1.png') no-repeat left 4px; padding-left: 15px; }
.cat-col-left .cat-type a:hover { color: #0f5ce7; }
.cat-col-right { float: right; height: 130px;   width: 150px; position:absolute;right:0px; 
top:0px; z-index:  1; /*overflow:hidden ;*/  }
.cat-col-right img { width: 150px;  opacity:0.8;   /* For IE8 and earlier */} 
 
/* ========== Page Prd-List  ========================== */ 
#page-prd-list{  }
#page-prd-list   h1{font-size:25px; font-family: 'RSULight'; line-height:20px;  }  
#page-prd-list   h2{font-size:23px; font-family: 'RSULight'; line-height:16px; margin-top: 5px; }
#page-prd-list  .pName{ 
font-size: 22px;
font-family: 'RSULight';
line-height: 25px; 
border-bottom: 1px solid #FFEF79; 
margin-bottom: 5px;
color: #8980EE; 
padding:0px; 
}
#page-prd-list .product-row{ border-bottom: 1px solid #eee ;  border-radius: 9px;  clear:both;margin-bottom:5px;padding :7px;padding-top :0px;   width:605px;  }
#page-prd-list .product-row .colLeft{float:left; width:200px;height:125px; display:block;margin-right:10px; border:1px solid #ccc ;  } 
#page-prd-list .product-row .colLeft img{width:200px;height:125px; }
#page-prd-list .product-row .colRight{float:left; width:390px; display:block; position:relative;  height: auto !important; height: 128px; min-height: 128px; }
#page-prd-list .product-row .colRight h2 {width:390px; word-wrap:break-word;}
#page-prd-list .product-row .colRight  .btnRow { position:absolute; left:0px ; bottom:4px; }
#page-prd-list .product-row .colRight  .detailShort { font-size:13px;  /*margin-bottom:30px;*/ line-height:22px; }
 
/* ======= Page News-List  =============================== */ 
#page-news-list{  }
#page-news-list   h1{font-size:23px; font-family: 'RSULight'; line-height:20px; margin-bottom:20px;    }  
#page-news-list   h2{font-size:18px; font-family: 'RSULight'; line-height:16px; margin-top: 5px; padding-left:15px; background:url('../images/bullet3.png') no-repeat left top ;   color:#485ed1; }
 
#page-news-list .news-row{ border-bottom : 1px dotted #bbb ;  /*border-radius: 9px;*/  clear:both;margin-bottom:5px;padding :7px;padding-top :0px;   width:605px;margin-bottom:10px;  padding-bottom: 10px;  line-height: 18px;
margin-bottom: 10px; }
 
#page-news-list .news-row  .detailShort { font-size:13px;  /*margin-bottom:30px;*/  line-height:16px; padding-left: 15px;}
#page-news-list .news-row .detailShort a {   color: #222; text-decoration:none;  }
#page-news-list .news-row .detailShort a:hover { color:#77787C; text-decoration:underline; }
/*======= Page Prd-View =========================== */ 
#page-prd-view{ } 
#page-prd-view  .prd-view-title {font-size:23px; font-family: 'RSULight'; width:520px;color:#0b36c9;  margin-bottom: 0px; }
.DateCreate { margin-bottom:20px; }
/* ====== Page Contact  ============================ */ 
#page-contact{ }
#page-contact td.label { width:160px; text-align:right; }
#page-contact  input[type='text'] {width:180px;  } 
#page-contact  input[type='checkbox'] {margin-right:10px  } 
#page-contact  table label {margin-right:5px  } 
#page-contact .btn-submit{ margin-left: 160px; width:190px;margin-top:5px;}
/*======= Page Callcenter ========================== */ 
#page-callcenter{ }
#page-callcenter td.label { width:160px; text-align:right; }
#page-callcenter h1{font-size:23px; font-family: 'RSULight'; line-height:20px;  }  
#page-callcenter h2{font-size:30px; font-family: 'RSULight'; line-height:18px;  } 
#page-callcenter  input[type='text'] {width:180px;  } 
#page-callcenter  input[type='checkbox'] {margin-right:10px  } 
#page-callcenter  table label {margin-right:5px  }
#page-callcenter  .btn-submit{ margin-left: 160px; width:190px;margin-top:5px;}
 
/* ======= Page OnlineIns =========================== */ 
#page-onlineIns  { }
#page-onlineIns  td.label { width:160px; text-align:right; }
#page-onlineIns  input[type='text'] {width:180px;  } 
#page-onlineIns  input[type='checkbox'] {margin-right:10px  } 
#page-onlineIns  table label {margin-right:5px  } 
#page-onlineIns  input[type='select'] {margin-right:10px  } 
#page-onlineIns  .btn-submit{ margin-left: 160px; width:190px;margin-top:5px;} 
 
/* ======== Page Online Insure Car =========================*/
#page-online-insCar { }
#page-online-insCar  .stepOnline{ margin-bottom: 0px; }    
#page-online-insCar  input[type='text'] {width:100px; margin-right:10px;font-size:12px; }
#page-online-insCar  input[type='checkbox'] {  margin-right:5px;  }
#page-online-insCar input[type='radio']{   margin-right:3px;  margin-top:5px; width: 20px; }
#page-online-insCar select {width:100px;  margin-right:10px; font-size:12px; height: 21px; }
.subject-detail{font-size:12px; color: #ef980f;padding-bottom:5px; margin-bottom:10px; margin-left: 5px;width:620px;  display:block;border-bottom:1px solid #64acf4 ;clear:both; /*height:50px;*/
/*font-weight:bold ;*/
}
.tb-online-insCar   {font-size:13px;    }
.tb-online-insCar   td{ height:23px;padding:0px;  color:#000 ; margin:0px;height:22px; }
.tb-online-insCar   .label{text-align:right; padding-right:5px;display:block;    }
.tb-online-insCar   table.tb-radioList{float:left; margin-right:10px;  } 
.tb-online-insCar   table.tb-radioList  label{ margin-right:5px;  } 
 
.tb-prd-result { font-size:13px;width:100%;text-align:center;vertical-align:top;  }
.tb-prd-result th{color:#fff; background-color:#2d3e85; padding: 5px 0px; border:1px solid #fff ; line-height:17px; }
.tb-prd-result td{color:#000;  border:1px solid #999 ;vertical-align:top;  }
.tb-prd-result th.col1{ width:200px; } 
.tb-prd-result th.col2{ width:100px; } 
.tb-prd-result th.col3{background-color: #ffa200 ; width: 100px; } 
.tb-prd-result th.col4{ background-color: #ffa200 ;width: 60px; } 
.tb-prd-result th.col5{ background-color: #3942f2 ;width: 100px; } 
.tb-prd-result th.col6{ background-color: #3942f2 ;width: 60px; } 
.tb-prd-result th.col7{ width: 60px; } 
.tb-prd-result th.col8{ width: 60px; } 
 
.tb-prd-result td.bgSer{background-color: #fffeb3 ;   } 
.tb-prd-result td.bgGar {background-color: #e4f2fd ;    }
 
.tb-prd-result td.bgSer a{ margin:0px auto; } 
.tb-prd-result td.bgGar a{ margin:0px auto; }



/*
.tb-prd-result td.bgGar2{background-color: #fffeb3;   }
.tb-prd-result td.bgGar2 a:hover{ color: #fff; text-decoration:none ; } 
.tb-prd-result td.bgService2{background-color: #e4f2fd ;  }
.tb-prd-result td.bgService2 a:hover{ color: #fff; text-decoration:none ; }
*/

 
.tb-prd-result  .product-name {color:#5f33ff ; text-align:left;padding-left:5px;   }
.tb-prd-result td a{text-decoration:none;  color:#071E99;     }
.tb-prd-result td a:hover{ color:#0989EE;    text-decoration:underline } 
.tb-prd-result  .break-line{background-color:#ffa200 ; height:3px;}
#content .tb-prd-result  .btn-default  { text-decoration:none ; color:#fff; padding-left:3px; padding-top:4px;font-size:19px;}
#content .tb-prd-result  .btn-iconOrder { padding-right: 28px; line-height: 22px;
              margin-left:3px;                            
                                           } 
#content   .btn-carbrand {color:#fff ; text-decoration:none; } 
#content   .btn-carbrand  {  display:block; border:none;  padding: 2px 7px 0px 7px; margin-right:10px; 
font-family: 'RSULight'; font-size:16px;font-weight:normal;  color:#fff ; 
position:relative; float: left;border-radius:5px;
background : linear-gradient(  0deg, #5f649c   20%, #7076b8 80%  ); /*  IE10 - Button Color   */
background-color: #5f649c  ; /* IE19 & Below - Button Color */
/*--- Hack IE9 -  Gardient ( got ploblem  border-radius not show )-----*/    
/*filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#2d56ce', endColorstr='#7093f8');*/
  
behavior: url(css/PIE-1/PIE.htc);/* Hack IE8 - Border Radius */
}
#content .btn-iconmore2{
    width: 40px;
}
 
#content .btn-iconmore2  span{  
background :  url('../images/btn-bg-more2.png') no-repeat ;  
width: 30px;
height: 30px;
display: block;
right: 0px;
position: absolute;
top: 1px;
z-index: 11; 

} 
#content  .btn-carbrand:hover
{
cursor:pointer ;   
background : linear-gradient( 0deg, #5b37a6  70%, #5b37a6 30%  ); /*  IE10 - Button Color    */
background-color:#5b37a6 ;  /* IE19 & Below - Button Color */
} 
 
/* ====== Page Online Insure Car  Detail ======================= */ 
#page-online-insCar-Detail { } 
/* ====== Page Investment =============================== */ 
#page-invest{ }
/* CSS Control Table  here effect with any page use  #page-invest for contain content */
/*------- table verticle control ---------*/
.tb-ver-center { text-align: center; background-color: white;  margin-bottom: 20px;width:100% ; margin-top:5px;  }
.tb-ver-center th{  color: #fff;     vertical-align:top; font-size: 13px;
border: 1px solid #c9c7c7 ;  background-color:#485ed1 ; text-align: center; padding:3px 5px 3px 5px ;}
.tb-ver-center td{ height: 18px;      padding:3px 5px 3px 5px ;font-size: 13px;
vertical-align:top;  border: 1px solid #c9c7c7 ;  /*background-color: #f9fbff ; */  }  
.tb-ver-center th.pad-zero{padding:0px;margin:0px;}
/*------- table horizontal control ---------*/
.tb-hor-left { text-align: left; background-color: white; font-size: 12px; margin-bottom: 20px;width:100% ;  margin-top:5px;  }
.tb-hor-left th{color: white;  vertical-align:top; 
border: 1px solid #fff ;  background-color:#6064D8;     margin:0px; padding:3px 5px 3px 5px ;   }
.tb-hor-left td{  height: 23px;     padding:3px 5px 3px 5px ;
vertical-align:top;  border: 1px solid #B9BEFC ; /* background-color: #f9fbff ;*/  margin:0px; } 
/*------- table border bottom ---------*/
.tb-border-bottom { text-align: center; background-color: #fff ;  margin-bottom: 20px;width:100% ;  }
.tb-border-bottom th{  color: #fff;      vertical-align:top; font-size: 12px;
border: 1px solid #c9c7c7 ;  background-color:#485ed1 ; text-align: center; padding:3px 5px 3px 5px ;}
.tb-border-bottom td{ height: 18px;      padding:3px 5px 3px 5px ;font-size: 12px;
vertical-align:top;   border-bottom: 1px solid #e5e5e5 ;  }  
.tb-border-bottom td.no-border{  border-bottom:none ; }  
/*------- table Quarter ---------*/ 
.tb-quarter { text-align: center; background-color: white;  margin-bottom: 20px;width:100% ;  }
.tb-quarter th{  color: #485ed1; vertical-align:top; font-size: 13px;  text-align: center; padding:3px 5px 3px 5px ;  background-color: #485ed1 ;
color:#fff;  border-left: 1px solid #d1d8ff ;border-right: 1px solid #d1d8ff ; }
.tb-quarter td{ height: 18px;      padding:0px 5px 0px 5px ;
vertical-align:middle;   border-left : 1px solid  #e5e5e5 ;  border-right : 1px solid  #e5e5e5 ;
border-bottom : 1px solid #e5e5e5 ; border-top: 1px solid #e5e5e5 ;}  
.tb-quarter td a{font-size:12px; line-height:16px; color: #485ed1 ; text-decoration:underline;  }
.tb-quarter td a:hover{color: #2c3056;}
/*------- table Padding Zero ---------*/
.tb-padding-zero { text-align: center; background-color: white;  margin-bottom: 20px;width:100% ; margin-top:5px;  }
.tb-padding-zero  th{  color: #fff;     vertical-align:top; font-size: 12px;
border: 1px solid #c9c7c7 ;  background-color:#485ed1 ; text-align: center; padding: 0px ;}
.tb-padding-zero  td{ height: 18px;      padding:0px ;font-size: 12px;
vertical-align:top;  border: 1px solid #c9c7c7 ;  /*background-color: #f9fbff ; */  }  
.tb-padding-zero  th.pad-zero{padding:0px;margin:0px;} 
 
/*------- config Table  ---------*/
.tb-fontSmall {font-size: 12px;}
.align-left{text-align:left;}
.align-right{text-align:right;} 
.align-center{text-align:center;} 
td.hilight1{ background-color: #ddf6fc; border-bottom:none;  color:#485ed1; }
td.hilight2{ background-color: #909bd4;  border-bottom:none; color:#fff ;  }
td.no-border{  border :none ; } 
td.no-border-leftright {  border-right:none ; border-left:none ; }
td.no-borderleft {  border-left:none ; }  
td.no-borderright {  border-right:none ; } 
th.align-left{text-align:left;}
 
/* ======= Accordient  =========================== */ 
#accordion {  padding-left:  0px; }
.acc-row { position:relative;clear:both ; }
.acc-title {   color: #000;   border-bottom: dotted 1px #ddd;  
height: auto !important; height: 28px; min-height: 28px;   position:relative;  }
.acc-title:hover { cursor: pointer; /*background-color: #f2f9ff;*/ } 
.acc-detail { display: none;   height: auto !important; height: 28px; min-height: 28px; 
font-size: 13px; line-height: 23px;  position:relative;   border-bottom: dotted 1px #1965DB;  }
.acc-icon {background:   url(../images/accordion-icon2.png) no-repeat 0px 0px; } 
.acc-icon2 { background:   url(../images/accordion-icon2.png) no-repeat 0px 0px; }
.acc-bullet { width:20px; height:20px;  float:left;}
/*.acc-icon {background:   url(../images/accordion-icon2.png) no-repeat 0px -5px; color:#245CCE; } 
.acc-icon2 {background:   url(../images/accordion-icon.png) no-repeat 10px -5px;  border-bottom: dotted 1px #F7E248;   color :  #E95712 ; }*/
/* ====== Page FAQ ============================= */ 
#page-faq { }
#page-faq .acc-title { width: 630px;   /*padding : 6px  10px  0px 65px    ;*/  font-size:13px;  border-bottom: dotted 1px #ddd;  }
#page-faq .acc-title .caption  { color:#0B74BB; font-size:20px;font-family: 'RSULight';   float:left;margin-right: 10px; }
#page-faq .acc-title .quiz  {float:right;  word-break: break-all; width:560px;}
#page-faq .acc-detail { padding :10px 10px 10px 18px; }
#page-faq .acc-detail   .caption  { color:#B31044 ; font-size:20px;font-family: 'RSULight';    float:left; margin-right: 10px;}
#page-faq .acc-detail   .answer  { float:right; word-break: break-all;width: 550px; }
 
/*.posi-icon {background:   url(../images/accordion-icon2.png) no-repeat 0px -5px; color:#245CCE; } 
.posi-icon2 {background:   url(../images/accordion-icon.png) no-repeat 10px -5px;   border-bottom: dotted 1px #F7E248;   color :  #E95712 ; }*/ 
/*.quiz { float:left;}
.ans { float:left; }*/
/* ====== Page jobOfficerRequire ============================ */ 
#page-jobRequire { } 
#page-jobRequire .acc-title { width: 630px;   padding : 5px  0px  0px  0px  ;    }
#page-jobRequire  .acc-detail { padding :10px  0px 10px  0px ;  position:relative ; padding-left: 20px;}
#page-jobRequire h2 {font-size: 23px; font-family: 'RSULight'; line-height: 16px; }
.posi-topic{  float:left;  width:300px; } 
.posi-name { width:480px;    display:block;  padding:0px; margin:0px; float:left ; word-break: break-all;font-size:19px;font-family: 'RSULight';  color:#333; } 
.posi-qnt {  text-align:right;   float:right; width:100px;    margin-right:0px; font-size:19px;font-family: 'RSULight';  }
.posi-branch {font-size:13px;  color:#5C56EB ;}
.posi-detail {  width:490px; word-break: break-all; float:left;  height:auto!important; height:20px;min-height:20px;  }
.posi-btn {float:right; }
.num-jobOfficerRequire{ font-size: 23px; margin-right:10px; }
/* ======  Page jobOfficerApply =============================== */
#page-jobApply { }
/*#page-jobApply  .acc-title {width:550px; }*/
/* ======  Page jobProfile ================================== */
#page-jobProfile h2{font-size: 20px; font-family: 'RSULight'; line-height: 30px; }
/* ======= Page Network ================================== */
#page-network { }
#page-network  .network-name { font-size: 13px; font-weight:bold; background: url('../images/bullet1.png') no-repeat left 5px; padding-left :18px; color:#0b36c9;  }
#page-network  .network-address {padding-left :18px; line-height:15px; }
#page-network  .network-tel {padding-left :18px; font-weight:bold; line-height:15px;font-size: 12px;margin-top:5px;  }
#page-network   #search-area {  margin-bottom:5px;  padding-top: 10px; padding-left: 10px;  border-top-left-radius :15px;   border-top-right-radius :15px;  background-image: linear-gradient(  0deg, #FFF  0%, #eee 85% ); }

#search-area  select  {
    width:130px;
}
 
.tb-network { text-align: center; background-color: white;  margin-bottom: 20px;width:100% ; margin-top:5px;  }
.tb-network th{  color: #fff; vertical-align:top; font-size: 13px;
border: 1px solid #c9c7c7 ;  background-color:#485ed1 ; text-align: center; padding:3px 5px 3px 5px ;}
.tb-network td{ height: 18px; padding:3px 5px 3px 5px ;font-size: 13px; background-color:#fff; vertical-align:top;       }  
.tb-network th.pad-zero{padding:0px;margin:0px;}
.rowAddress { padding-left:15px;background: url('../images/bullet1.png') no-repeat left -16px;}
/* ======= Page  Buy Insure =============================== */ 
#page-buy-insure { } 
/* CSS Control Table  here effect with any page use  #page-buy-insure   for contain content */
/* ========= table verticle control  */
.tb-buy-insure  {   background-color: white;  margin-bottom: 20px;width:100% ; margin-top:5px;  }
.tb-buy-insure   .label{text-align:right; margin-right:5px;  }
.tb-buy-insure   td{ height: 18px;      padding:3px 5px 3px 5px ;font-size: 13px;  vertical-align:top;   margin-bottom:0px;   }  
.tb-buy-insure   td input[type='text'] {width:120px; float:left;  margin-right:5px; }  
.tb-buy-insure   td input[type='select'] {margin-right:10px ;width:120px; margin-right:5px;  float:left; } 
.tb-buy-insure   td textarea {width:280px;  height:25px;margin-right:5px;float:left;  } 
.tb-buy-insure   td .btn-submit{ margin-left: 120px; width:190px;margin-top:5px;} 
.tb-buy-insure   td input[type='radio']{   margin-right:5px;  margin-top:5px; }
.tb-buy-Info { text-align: center; background-color: white;  margin-bottom: 20px;width:100% ; margin-top:5px;  }
.tb-buy-Info th{  color: #fff;     vertical-align:top; font-size: 13px;
border: 1px solid #c9c7c7 ;  background-color:#485ed1 ; text-align: center; padding:3px 5px 3px 5px ;}
.tb-buy-Info td{ height: 18px;      padding:3px 5px 3px 5px ;font-size: 13px;
vertical-align:top;  border: 1px solid #c9c7c7 ;  /*background-color: #f9fbff ; */  }  
.tb-buy-Info th.pad-zero{padding:0px;margin:0px;}
 
.bgGar1{background-color: #ffa200 ; }
.bgGar2{background-color: #fffeb3; }
.bgService1 {background-color: #3942f2 ;}
.bgService2{background-color: #e4f2fd ;}
/*========= For Table in CKEditor ==============================*/
.tbsmk { text-align: center; background-color: white;  margin-bottom: 20px;width:100% ; margin-top:5px;  }
.tbsmk th{  color: #fff;     vertical-align:top; font-size: 13px;
border: 1px solid #c9c7c7 ;  background-color:#485ed1 ; text-align: center; padding:3px 5px 3px 5px ;}
.tbsmk td{ height: 18px;      padding:3px 5px 3px 5px ;font-size: 13px;
vertical-align:top;  border: 1px solid #c9c7c7 ;  /*background-color: #f9fbff ; */  }  
.tbsmk  th.pad-zero{padding:0px;margin:0px;}
 
/*========= Hack IE8 ==============================*/
@media all\0  { 
#content  .content-pic  { border : 1px solid #ddd ;  padding:5px; }
}  