﻿#header  .logo  { background:  url(../images/logo_sinmonkong_en.jpg) no-repeat left 3px ;   }
/* ======= NavLeft Overide ================ */
#nav-top ul li a { padding: 5px 20px 0px 20px; }
#navProduct ul li { height: 26px; }
#navProduct ul li a {font-size: 21px; }
#navProduct .title { font-size: 24px; }


/* ======= NavTop Overide ================ */
#nav-top a { font-size: 21px; }
#nav-top .subNav li a {
    /*padding-left:2px;*/
    font-family: 'RSULight';
    font-size: 17px;
}
#nav-top  .subNav {/*width:140px;*/ height:auto !important;  height: 40px; min-height:40px; }
#nav-top   .subNav-01  {width:320px; height: 75px;}/*Control Sub Width */
#nav-top   .subNav-02  {width:280px;  }/*Control Sub Width */
#nav-top   .subNav-02 li  a{width:130px; /*border:solid 1px red ; */} 
#nav-top   .subNav-03  {width:145px; }/*Control Sub Width */ 
#nav-top   .subNav-03 li  a{width:130px; /*border:solid 1px red ; */} 
#nav-top   .subNav-04  { }/*Control Sub Width */ 
#nav-top   .subNav-05 {width:180px; height: 180px; left: 0px;}/*Control Sub Width */  
#nav-top   .subNav-05 li  a{width:170px;  /*border:solid 1px red ; */} 
#nav-top   .subNav-06 {width:125px; height: 100px;}/*Control Sub Width */
#nav-top   .subNav-06 li  a{  /*border:solid 1px red ; */}

a.btn-default { font-size: 18px; }

.speedApp {padding-top: 0px; }