﻿/*------  Share  All------------------------------------------------------*/
* { -webkit-box-sizing:border-box; 
-moz-box-sizing:border-box; 
box-sizing:border-box; 
}


#manageArea {position:relative ; height:auto !important ;height:75px;  min-height:75px; }

#manageArea .colLeft {
float: left;
width: 35%;
/*border: 1px solid red;*/
padding-right: 1%;
word-wrap: break-word;
line-height: 24px;
margin-bottom:5px;
}

#manageArea  .colRight {float:left;width:65%;/*border : 1px solid red ;*/
}


#manageArea  .notaion { position:absolute; right:0px; color:#2667df ; font-size:11px; bottom:5px; } 
#manageArea  .areaBtnBottom { margin-left:400px; position:relative;} 
#manageArea  .areaConTrol {position:absolute; top:0px;right:0px; border-radius:8px ; padding: 3px 3px ; border:1px solid #ddd;}


 .navManage{margin-bottom:10px;position:relative;bottom:0px;left:0px; }
.subject1 {  
color: #485ed1;
padding-bottom: 10px;
font-family: 'RSULight';
font-size: 23px;
font-weight: normal; 
 }
.label {  text-align:right ;}
.descript { color:#2667df ; font-size:12px; }
.star1 { color:#2667df ; font-size:12px;line-height: 20px; }
.star2 { color:red ; font-size:12px; line-height: 20px;}

/*------ Btn  Setup  --------------------------------------------------*/
/*------ Btn Default  ----------*/
a.btn-default {color:#fff ; text-decoration:none; cursor:pointer;  }
 
.btn-default {  border-style: none; border-color: inherit; border-width: medium;  padding: 2px 3px 0px 3px;
font-family: 'RSULight'; font-size:18px;font-weight:normal;  color:#fff;   cursor:pointer; 
position:relative;   

border-radius:5px;  /* IE9 &  Over */  
background : linear-gradient( 0deg, #2d56ce  0%, #6C9BFF 50%  );  /* IE9 &  Over */  
background-color: #577ce9;  /* IE8 & Below  */ 
behavior: url(css/PIE-1/PIE.htc); top: 0px; left: 0px;  /* IE8 CSS3 HACK */

} 
.btn-default:hover{
background : linear-gradient( 0deg, #2d56ce  0%, #2667df 50%  ); /* IE9 &  Over */   
background-color:#27A5EC ;  /* IE8 & Below  */ 
text-decoration:none;
color: #fff;
} 
.btn-default  span {
width:30px; height:30px;display:block ;
position:absolute; right:3px; top:1px; z-index:111;  /*border:1px solid red ;*/ 
}


.btn-small {font-size:16px; padding: 2px 3px 0px 3px; min-width: 35px; }

   
/*------ Page-Login ------------------------------------------------------*/  
#page-login  { width:750px; height:500px; background: #fff url('../images/bg-page-login.png') no-repeat right top ;
margin:0px auto  ; margin-top:20px; position:relative; margin-top:30px; border: 1px solid #c8d6ff; 
border-radius: 8px; margin-bottom:15px;box-shadow: 0px 0px 20px #888888;
behavior: url(css/PIE-1/PIE.htc);/* Hack IE8 - Border Radius */
}
#page-login  .logoWeb{ position:absolute; left:10px; top:10px;z-index:11; width:215px; height:54px;
background: #fff url('../images/logo_sinmonkong.jpg') no-repeat right top ; } 
#page-login .section-login{ width:320px; height:120px; margin:0px auto  ; position:absolute; left: 230px; 
bottom:150px; border: 1px solid  #ddd; padding:20px; border-radius: 8px;  background-color:#ecf3fd ;
behavior: url(css/PIE-1/PIE.htc);/* Hack IE8 - Border Radius */
}
#page-login .rowLogin{margin-bottom:10px; width:300px; height:20px; display:block ;  }
#page-login .label{text-align:right; width:70px; margin-right:10px;display:block ; float:left;} 
#page-login .btnLogin{ margin-left:80px; } 
.copy-page-login{  margin:0px auto  ; text-align:center;  width: 750px; } 
  
/*------ Page-ProductAdd ------------------------------------------------------*/  
#page-prdAdd{ }

/*------ Page-ContentList ------------------------------------------------------*/
#page-prdList{ position:relative ;height: auto !important ; height:400px; min-height :400px;  }

 /*------ Page-ContentView ------------------------------------------------------*/  
#page-ViewCms { }
#page-ViewCms  .label {text-align:right; }

.areaControl {height :  65px; }



/*------ nav-backend ------------------------------------------------------*/
#menuArea { position: relative; height: 38px; border-radius: 7px; padding: 0px 10px;
border-radius:5px;   /* IE9 &  Over */  
background : linear-gradient( 0deg, #0e3ce7   0%, #2f75f1 50%  );   /* IE9 &  Over */  
background-color: #2f75f1; /* IE8 & Below  */ 
behavior: url(css/PIE-1/PIE.htc); top: 0px; left: 0px; /* IE8 CSS3 HACK */
} 

/*====  mainmenu ======*/
#nav-backend { clear: both; width: 870px; height: 38px; font-family: 'RSULight'; font-size: 15px;  margin-bottom:10px; }
#nav-backend ul {  height: 38px; }
#nav-backend ul li {   position:relative ; float:left;  border-radius: 0px;   }

#nav-backend ul li a { float: left; text-decoration: none;   border-right: 1px solid #fff; color: #fff;  height: 38px;  padding:8px 5px 0px 5px  ;  
 
}
.subNav a { float: left; text-decoration: none;  height : 28px;  border-right: 1px solid #fff; color: #fff;  height: 38px;  padding:8px 5px 0px 5px  ;  
background-image: linear-gradient(  0deg, #0e3ce7  0%, #2f75f1 50% );  /* IE9 &  Over */  
background-color: #2f75f1; /* IE8 & Below  */ 
}
.subNav li a:hover, .subNav  li .active { 
     background-image: linear-gradient(  0deg, #1472fa  0%, #5bbdfc 85% );  /* IE9 &  Over */  
     background-color:#5bbdfc;   /* IE8 & Below  */
}
#nav-backend ul li.selected { 
     background-color:#5793FF;  /* IE8 & Below  */
} 
 
/*====  submenu ======*/
#nav-backend  .subNav{position:absolute; left:0px; top:38px; z-index:111; border:1px solid #ccc ; 
background-color:#fff ;   padding:10px;  padding-right: 0px; font-family: 'Tahoma' ; font-size:13px; 
padding-bottom:10px;
width:140px; height:auto !important;  height: 40px; min-height:40px;


} 
#nav-backend   .subNav li { clear:both;display :block; float:none; }
#nav-backend   .subNav li a{  background: url('../images/bullet1.png') no-repeat left 3px;  margin: 0px ; padding:0px; font-size:13px;  text-indent:15px; height : 20px;  color:#666;    } 
#nav-backend   .subNav li a:hover{ color:Blue; background: url('../images/bullet1.png') no-repeat left -17px;  }
/*
#nav-backend  .subNav-01  {width:140px;height: 150px; }
#nav-backend  .subNav-02  {width:120px;  height: 100px;  }
#nav-backend  .subNav-03  {width:150px;  height: 100px;  } 
#nav-backend  .subNav-04  {width:140px;  height: 80px;  }   
#nav-backend   .subNav-06  {width:130px;  height: 60px;  }  
#nav-backend   .subNav-07  {width:130px;  height: 60px;  }
*/       
#nav-backend   .subNav-05  {width:180px;   }    
#nav-backend   .subNav-06  {width:160px;   }    

     
/*------ GridView  ------------------------------------------------------*/   
[id*=GridView]  th {height:20px; background-color:#356DC2; color:#fff ; padding:5px 5px  2px 5px; font-size:13px;  vertical-align:top ; background-color:#0943AD; color:#fff; }
[id*=GridView]  td {padding:2px 3px;height:20px; vertical-align:top; }
[id*=GridView]  .cssPager span { background-color: #2667DF; padding:1px 3px;   color:#fff; } 
 
[id*=dtgData]  th {height:20px; background-color:#356DC2; color:#fff ; padding:5px 5px  2px 5px; font-size:13px;  vertical-align:top ; background-color:#0943AD; color:#fff; }
[id*=dtgData] th a { color:#fff;  }
[id*=dtgData] th a:hover {color: #ccc; }
[id*=dtgData]  td {padding:2px 3px;height:20px; vertical-align:top; }
[id*=dtgData]  .cssPager span { background-color: #2667DF; padding:1px 3px;   color:#fff; } 

 