﻿@charset "utf-8";
/*----- Font Face ---------------------------------------------------------------*/ 
@font-face { font-family: 'DBHelvethaicaX45Li'; 
             src: url('font/DBX45/db_helvethaica_x_li_v3.2-webfont.eot'); 
             src: url('font/DBX45/db_helvethaica_x_li_v3.2-webfont.eot?#iefix') format('embedded-opentype'),  
             url('font/DBX45/db_helvethaica_x_li_v3.2-webfont.ttf') format('truetype'), 
             url('font/DBX45/db_helvethaica_x_li_v3.2-webfont.svg#DBHelvethaicaX45Li') format('svg'); 
             font-weight: normal; font-style: normal; }

@font-face { font-family: 'RSULight'; 
             src: url('font/RSULight/rsu_light-webfont.eot'); 
             src: url('font/RSULight/rsu_light-webfont.eot?#iefix') format('embedded-opentype'),  
             url('font/RSULight/rsu_light-webfont.ttf') format('truetype'), 
             url('font/RSULight/rsu_light-webfont.svg#RSULight') format('svg'); 
             font-weight: normal; font-style: normal; }


/*------ Ganeral ------------------------------------------------------*/ 
body { font-family:  Tahoma, Verdana, Arial ;   font-size: 13px;  color: #333; background: #FFFFFF url(../images/bg-body.jpg) repeat-x left top; }
a:link, a:visited { color: #50a3fc; border: none; text-decoration: none; color: #485ed1}
a:hover, a:active { color: #073c75; border: none; text-decoration: underline; color: #2c3056;  } 

.clear { clear: both }
/*a span{display:none;}*/

h1 { color: #485ed1; padding-bottom: 0px; font-family: 'RSULight'; font-size: 35px; font-weight: normal }
h2 { color: #485ed1; margin-bottom: 0px; padding-bottom: 10px; font-family: Verdana, Geneva, sans-serif; font-size: 19px; font-weight: lighter; }
h3 { }
p {  margin-bottom: 5px; }

       
/*------ Layout ------------------------------------------------------*/ 
#container { width: 870px; margin: 0px auto; }
#header { height: 63px; position: relative;  display: block; top: 0px; left: 0px;   }
#header .callcenter { position: absolute; right: 0px; top : 0px; background: url(../images/header_callcenter.jpg) no-repeat left top; width:251px ; height: 63px; }
#header  .logo  { position: absolute; left: 0px; top : 5px;  width:240px;  height:54px; background:  url(../images/logo_sinmonkong.jpg) no-repeat left 3px ;   } 
#header  .logo  a   { width:215px; height:54px; display:block;  }
#header  .logo  span{display:none; }   
#header  .lang-select {position:absolute;right:110px; bottom:7px;z-index:11;   }
#header  .lang-select  a{text-decoration:underline; color:#485ed1; font-weight:bold ; }
#header  .lang-select  a:hover{color:#000; } 

#warper { height: auto !important; min-height: 530px; height: 530px; margin-bottom: 10px;
 width: 100%; border : 1px solid #ddd; border-radius: 8px; padding: 8px 8px 8px 8px; background-color: #fff;margin-top:10px }
#side-right { width: 650px; float: right; height: auto !important; height: 310px; min-height: 310px; /* border: 1px solid #eee; */ }
#side-left { width: 195px; float:left ; display: block; height: auto !important; height: 300px; min-height: 300px; /* border: 1px solid #eee; */ margin-top: 0px; }
#footer { height: 50px; display: block; margin-bottom: 20px; padding-top: 20px; width: 870px; }
#footer .footlink { margin-bottom: 10px; clear: both; height: 30px; text-align: center; margin: 0px auto; display: block; width: 500px; }
#footer .footlink li { float: left; font-size: 12px; }
#footer .footlink li a { text-align: center; padding: 0px 5px; color: #2852cd; }
#footer .footlink li a:hover { color: #24439d; }
#footer .copy { color: #525253; font-size: 11px; float: left; text-align: center; margin-bottom: 10px; }
#footer .policy { margin-bottom: 5px; float: right; font-size: 11px; }
#footer .policy li { float: left; }
#footer .policy a { color: #525253; padding: 0px 5px; }
#footer .policy a:hover { color: #ccc; }

  