/*
Copyright (c) 2003-2013, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/

body
{
	/* Font */
	font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
	font-size: 12px;

	/* Text color */
	color: #333;

	/* Remove the background color to make it transparent */
	background-color: #fff;

	margin: 5px; /* Default =>  margin: 20px;*/
}

.cke_editable
{
	font-size: 13px;
	line-height: 1.6em;
}

blockquote
{
	font-style: italic;
	font-family: Georgia, Times, "Times New Roman", serif;
	padding: 2px 0;
	border-style: solid;
	border-color: #ccc;
	border-width: 0;
}

.cke_contents_ltr blockquote
{
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}

.cke_contents_rtl blockquote
{
	padding-left: 8px;
	padding-right: 20px;
	border-right-width: 5px;
}

a
{
	color: #0782C1;
}

ol,ul,dl
{
	/* IE7: reset rtl list margin. (#7334) */
	*margin-right: 0px;
	/* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
	padding: 0 20px;/* Default =>  margin: 40px;*/
}

h1,h2,h3,h4,h5,h6
{
	font-weight: normal;
	line-height: 1.2em;
}

hr
{
	border: 0px;
	border-top: 1px solid #ccc;
}

img.right {
    border: 1px solid #ccc;
    float: right;
    margin-left: 15px;
    padding: 5px;
}

img.left {
    border: 1px solid #ccc;
    float: left;
    margin-right: 15px;
    padding: 5px;
}

img:hover {
	opacity: .9;
	filter: alpha(opacity = 90);
}

pre
{
	white-space: pre-wrap; /* CSS 2.1 */
	word-wrap: break-word; /* IE7 */
}

.marker {
    background-color: Yellow;
}





/*==============  Add CSS SMK ===========================================*/
table { border-collapse: collapse;}    /*border-spacing: 0;*/ 
.tbsmk { text-align: center; background-color: white;  margin-bottom: 20px;width:100% ; margin-top:5px;  }
.tbsmk th{  color: #fff;     vertical-align:top; font-size: 13px;
border: 1px solid #c9c7c7 ;  background-color:#485ed1 ; text-align: center; padding:3px 5px 3px 5px ;}
.tbsmk td{ height: 18px;      padding:3px 5px 3px 5px ;font-size: 13px;
vertical-align:top;  border: 1px solid #c9c7c7 ;  /*background-color: #f9fbff ; */  }  
.tablesmk th.pad-zero{padding:0px;margin:0px;}

/*============== Page Investment Table  Style ===========================================*/

/* CSS Control Table  here effect with any page use  #page-invest for contain content */
/*------- table verticle control ---------*/
.tb-ver-center { text-align: center; background-color: white;  margin-bottom: 20px;width:100% ; margin-top:5px;  }
.tb-ver-center th{  color: #fff;     vertical-align:top; font-size: 13px;
border: 1px solid #c9c7c7 ;  background-color:#485ed1 ; text-align: center; padding:3px 5px 3px 5px ;}
.tb-ver-center td{ height: 18px;      padding:3px 5px 3px 5px ;font-size: 13px;
vertical-align:top;  border: 1px solid #c9c7c7 ;  /*background-color: #f9fbff ; */  }  
.tb-ver-center th.pad-zero{padding:0px;margin:0px;}

/*------- table horizontal control ---------*/
.tb-hor-left { text-align: left; background-color: white; font-size: 12px; margin-bottom: 20px;width:100% ;  margin-top:5px;  }
.tb-hor-left th{color: white;  vertical-align:top; 
border: 1px solid #fff ;  background-color:#6064D8;     margin:0px; padding:3px 5px 3px 5px ;   }
.tb-hor-left td{  height: 23px;     padding:3px 5px 3px 5px ;
vertical-align:top;  border: 1px solid #B9BEFC ; /* background-color: #f9fbff ;*/  margin:0px; } 

/*------- table border bottom ---------*/
.tb-border-bottom { text-align: center; background-color: #fff ;  margin-bottom: 20px;width:100% ;  }
.tb-border-bottom th{  color: #fff;      vertical-align:top; font-size: 12px;
border: 1px solid #c9c7c7 ;  background-color:#485ed1 ; text-align: center; padding:3px 5px 3px 5px ;}
.tb-border-bottom td{ height: 18px;      padding:3px 5px 3px 5px ;font-size: 12px;
vertical-align:top;   border-bottom: 1px solid #e5e5e5 ;  }  
.tb-border-bottom td.no-border{  border-bottom:none ; }  

/*------- table Quarter ---------*/ 
.tb-quarter { text-align: center; background-color: white;  margin-bottom: 20px;width:100% ;  }
.tb-quarter th{  color: #485ed1; vertical-align:top; font-size: 13px;  text-align: center; padding:3px 5px 3px 5px ;  background-color: #485ed1 ;
color:#fff;  border-left: 1px solid #d1d8ff ;border-right: 1px solid #d1d8ff ; }
.tb-quarter td{ height: 18px;      padding:0px 5px 0px 5px ;
vertical-align:middle;   border-left : 1px solid  #e5e5e5 ;  border-right : 1px solid  #e5e5e5 ;
 border-bottom : 1px solid #e5e5e5 ; border-top: 1px solid #e5e5e5 ;}  
.tb-quarter td a{font-size:12px; line-height:16px; color: #485ed1 ; text-decoration:underline;  }
.tb-quarter td a:hover{color: #2c3056;}

/*------- table Padding Zero ---------*/
.tb-padding-zero { text-align: center; background-color: white;  margin-bottom: 20px;width:100% ; margin-top:5px;  }
.tb-padding-zero  th{  color: #fff;     vertical-align:top; font-size: 12px;
border: 1px solid #c9c7c7 ;  background-color:#485ed1 ; text-align: center; padding: 0px ;}
.tb-padding-zero  td{ height: 18px;      padding:0px ;font-size: 12px;
vertical-align:top;  border: 1px solid #c9c7c7 ;  /*background-color: #f9fbff ; */  }  
.tb-padding-zero  th.pad-zero{padding:0px;margin:0px;} 
 
 /*------- config Table  ---------*/
.tb-fontSmall {font-size: 12px;}
.align-left{text-align:left;}
.align-right{text-align:right;} 
.align-center{text-align:center;} 
td.hilight1{ background-color: #ddf6fc; border-bottom:none;  color:#485ed1; }
td.hilight2{ background-color: #909bd4;  border-bottom:none; color:#fff ;  }
td.no-border{  border :none ; } 
td.no-border-leftright {  border-right:none ; border-left:none ; }
td.no-borderleft {  border-left:none ; }  
td.no-borderright {  border-right:none ; } 
th.align-left{text-align:left;}
 






