﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="header_th.ascx.cs" Inherits="uc_header_th" %>


 <div id="header">
            <div class="logo">
                <a href="<%=Config.SiteUrl%>home.aspx"><span>สินมั่นคงประกันภัย</span></a>
            </div>
            <div class="callcenter">
            </div>
            <div class="lang-select">
                <a href="<%=Config.SiteUrl%>home.aspx">
                    <img src="<%=Config.SiteUrl%>images/icon-home.png" /></a>
                <a href="<%=Config.SiteUrl%>home.aspx">TH</a> | <a href="<%=Config.SiteUrl%>en/home.aspx">
                    EN</a>
            </div>
        </div>
        <!-- End id="header" --> 