﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="metaTag_th.ascx.cs" Inherits="uc_metaTag_th" %>
<meta http-equiv="X-UA-Compatible" content="IE=IE8" /> 
<meta charset="utf-8" /> 
<meta name="robots" content="noindex, nofollow">
<!-- <meta name="robots" content="index, follow" /> -->
<meta name="revisit-after" content="8 days" />   
<meta name="Keywords" content="ประกันภัย, พรบ., อุบัติเหตุ รถยนต์, เคลม, เบี้ยประกัน, ประกันชั้น 3, ประกันวินาศภัย, ประกันชั้นหนึ่ง, การประกันรถยนต์, ประกันภัยทะเล, ประกันอัคคีภัย, ประกันภัยขนส่ง, การประกันภัย, ประกันภัยทางทะเล, เคลมประกัน, ประกันภัยทางทะเลและการขนส่ง, ประกันภัยเบ็ดเตล็ด, ประกันภัยรถยนต์, ประกันออนไลน์, ประกันภัยออนไลน์, Comprehensive Motor Insurance, Compulsary Motor Insurance, Micellaneous Insurance, Fire Insurance, Marine Insurance, Insurance" />
<meta name="Description" content="สินมั่นคงประกันภัย บริการประกันภัยทุกประเภท -ประกันภัยรถยนต์ภาคสมัครใจให้ความคุ้มครองประเภท 1,2,3 ตามความต้องการของลูกค้า - ประกันภัยรถยนต์ภาคบังคับ การประกันภัยที่กฏหมายบังคับให้รถทุกคัน ทุกประเภทต้องทำ เพื่อชดเชยค่าเสียหายเบื้องต้นได้อย่างทันท่วงที - ประกันภัยเบ็ดเตล็ด เป็นประเภทหนึ่งของการประกันวินาศภัย โดยให้ความคุ้มครองต่อความสูญเสีย หรือความเสียหายอันเนื่องมาจากภัยอื่นๆ ที่อยู่นอกเหนือจากการคุ้มครองของกรมธรรม์ประกันอัคคีภัย - ประกันอัคคีภัย คุ้มครองความเสียหายต่อสิ่งปลูกสร้างและทรัพย์สิน อันเนื่องมาจากไฟไหม้ ฟ้าผ่า และระเบิด - ประกันภัยทางทะเลและขนส่ง ให้บริการประกันภัยการขนส่งสินค้าทางทะเล ทางบก และทางอากาศ " />
