﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="navLeft_en.ascx.cs" Inherits="uc_navLeft_en" %>

 
<div class="banner">
  <a href="<%=Config.SiteUrl%>buyVoluntary_step1.aspx">  <img src="<%=Config.SiteUrl%>images/banner-en/banner-insure-online.gif" /></a>
</div>
<div id="navLeft">
<div class="title">Select Insurance</div>
 
<ul>
<li><a href="<%=Config.SiteUrl%>en/product.aspx?cat=1">Health Insurance</a></li>
<li><a href="<%=Config.SiteUrl%>en/product.aspx?cat=2">Car Insurance</a></li>
<li><a href="<%=Config.SiteUrl%>en/product.aspx?cat=3">Cancer Insurance</a></li>
<li><a href="<%=Config.SiteUrl%>en/product.aspx?cat=4">Accident Insurance</a></li>
<li><a href="<%=Config.SiteUrl%>en/product.aspx?cat=5">Fire Insurance</a></li>
<li><a href="<%=Config.SiteUrl%>en/product.aspx?cat=6">Travel Insurance</a></li>
<li><a href="<%=Config.SiteUrl%>en/product.aspx?cat=7">Other Insurance</a></li>
</ul>  
</div>

 <div class="speedApp"> 
<div class="speedApp-title">
    <div style="font-size:25px; color:#ed1424;margin-bottom:3px;margin-top:2px; ">SMK Speed App</div>
<div style="font-size:19px;  line-height:18px; margin-bottom:2px; ">Download Free On<br />
     iOS & Andriod</div> 
</div>
<div  >
<a href="https://itunes.apple.com/th/app/smk-speed-app/id621145200?mt=8" target="_blank"><img src="<%=Config.SiteUrl%>images/iconAppStore.png" width="85px"  /></a>
 
<a  href="https://play.google.com/store/apps/details?id=app.android.assurance&hl=en" target="_blank"><img src="<%=Config.SiteUrl%>images/iconGooglePlay.png" width="85px"   /></a>
</div> 
<div style="font-size:12px; line-height:15px; font-family:Tahoma; ">For Tablet Version<br />During Adjust </div> 
</div> 

<div class="banner">
<a href="<%=Config.SiteUrl%>en/network.aspx?cat=2">
<img src="<%=Config.SiteUrl%>images/banner-en/b1_gar.png"    />
</a>
</div>

<div class="banner">
<a href="<%=Config.SiteUrl%>en/callcenter.aspx">
<img src="<%=Config.SiteUrl%>images/banner-en/banner1.png" />
</a>
</div>

<div class="banner">
<a href="<%=Config.SiteUrl%>en/news.aspx?cat=4">
<img src="<%=Config.SiteUrl%>images/banner-en/banner2.png" />
</a>
</div>

   
<asp:Repeater ID="Repeater2" runat="server" OnItemDataBound="RepeaterData_ItemDataBound"   >
<ItemTemplate> 
 
<div><asp:Literal ID="ltlBanner" runat="server"></asp:Literal> </div>
 
</ItemTemplate> 
</asp:Repeater>
 