﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="sideLeft1_th.ascx.cs" Inherits="uc_sideLeft1_th" %>


<div class="banner">
  <a href="<%=Config.SiteUrl%>buyVoluntary_step1.aspx">  <img src="<%=Config.SiteUrl%>images/banner-th/banner-insure-online.gif" /></a>
</div>

<div id="navProduct">
<div class="title">เลือกชนิดประกันภัย</div> 
<ul>
<li><a href="<%=Config.SiteUrl%>product.aspx?cat=1">ประกันสุขภาพ</a></li>
<li><a href="<%=Config.SiteUrl%>product.aspx?cat=2">ประกันรถยนต์</a></li>
<li><a href="<%=Config.SiteUrl%>product.aspx?cat=3">ประกันมะเร็ง</a></li>
<li><a href="<%=Config.SiteUrl%>product.aspx?cat=4">ประกันอุบัติเหตุ</a></li>
<li><a href="<%=Config.SiteUrl%>product.aspx?cat=5">ประกันอัคคีภัย</a></li>
<li><a href="<%=Config.SiteUrl%>product.aspx?cat=6">ประกันการเดินทาง</a></li>
<li><a href="<%=Config.SiteUrl%>product.aspx?cat=7">ประกันประเภทอื่นๆ</a></li>
</ul>  
</div>
 

<div class="speedApp"> 
<div class="speedApp-title">
    <div style="font-size:21px; color:#B31044;margin-bottom:3px; ">SMK Speed App โหลดฟรี</div>
<div style="font-size:19px;   line-height:18px; margin-bottom:2px; ">ทั้ง
     iOS และ Andriod</div> 
</div>
<div    >
     <a href="https://itunes.apple.com/th/app/smk-speed-app/id621145200?mt=8" target="_blank"><img src="<%=Config.SiteUrl%>images/iconAppStore.png"  width="85px"   /></a> &nbsp;
 <a  href="https://play.google.com/store/apps/details?id=app.android.assurance&hl=en" target="_blank"><img src="<%=Config.SiteUrl%>images/iconGooglePlay.png" width="85px"  /></a>
</div> 
<div style="font-size:12px; line-height:15px; font-family:Tahoma; ">Tablet เวอร์ชั่น<br />อยู่ระหว่างการปรับปรุง</div> 
</div> 

<div class="banner">
<a href="<%=Config.SiteUrl%>callcenter.aspx">
<img src="<%=Config.SiteUrl%>images/banner-th/banner1.png"    />
</a>
</div>

<div class="banner">
<a href="<%=Config.SiteUrl%>news.aspx?cat=4">
<img src="<%=Config.SiteUrl%>images/banner-th/banner2.png"   />
</a>
</div>

 
  
<asp:Repeater ID="Repeater2" runat="server" OnItemDataBound="RepeaterData_ItemDataBound"   >
<ItemTemplate> 
 
<div><asp:Literal ID="ltlBanner" runat="server"></asp:Literal> </div>
 
</ItemTemplate> 
</asp:Repeater>
 



<script>

    ////////////////// Get Paramiter from QueryString
    function getParameterByName(name, url) { 
        var match = RegExp('[?&]' + name + '=([^&]*)').exec(url); 
        return match && decodeURIComponent(match[1].replace(/\+/g, ' ')); 
    }
    ////////////////// Set Class Active In Navigation
    $(function(){  
        $('#navProduct li a').each(function() { // Loop
            var href = $(this).attr('href');
            var linkId = getParameterByName('cat', href); // get id from link 

           <%  
              int  intCat = Convert.ToInt32(Request.QueryString["cat"]); 
           %>  
            var querystringCat =  <%= intCat %> ; 
            if (linkId ==  querystringCat){ 
                $(this).addClass("active"); // add class after selected
                $(this).attr("href" , "#") ; // replace empty link after selected
            }
        }) // end each
    }); // end ready

</script> 
