﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="sitemapPath.ascx.cs" Inherits="uc_sitemapPath" %>
   <div class="breadcrumb">
                <asp:SiteMapPath ID="SiteMapPath1" runat="server" PathSeparator="  -&gt;  ">
                    <CurrentNodeStyle Font-Underline="False" ForeColor="#50A3FC" />
                    <NodeStyle ForeColor="#999999" Font-Underline="True" />
                </asp:SiteMapPath>
            </div>