﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="slidePic_en.ascx.cs" Inherits="uc_slidePic_en" %>

   <!--###### bxSlider Image   ######## -->        
<div> 
<ul class="bxslider">
<asp:Repeater ID="Repeater1" runat="server" OnItemDataBound="RepeaterData_ItemDataBound"   >
<ItemTemplate> 
 
<asp:Literal ID="ltlPic" runat="server"></asp:Literal> 
 
</ItemTemplate> 
</asp:Repeater>

 </ul>
</div>

