<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucCalendar.ascx.cs" Inherits="UserControl_ucCalendar" %>
<asp:Literal ID="litDateCalendar" Runat="server"></asp:Literal>
<img name="btnCalendar" style="CURSOR:hand" src="<%=Request.ApplicationPath%>/images/18_calendar.gif" border="0" onclick="openCalendar<%=textboxName %>('<%=textboxName%>');">
