﻿@charset "utf-8";
/*----- Font Face ---------------------------------------------------------------*/ 
@font-face { font-family: 'DBHelvethaicaX45Li'; src: url('font/DBX45/db_helvethaica_x_li_v3.2-webfont.eot'); src: url('font/DBX45/db_helvethaica_x_li_v3.2-webfont.eot?#iefix') format('embedded-opentype'), url('font/DBX45/db_helvethaica_x_li_v3.2-webfont.woff') format('woff'), url('font/DBX45/db_helvethaica_x_li_v3.2-webfont.ttf') format('truetype'), url('font/DBX45/db_helvethaica_x_li_v3.2-webfont.svg#DBHelvethaicaX45Li') format('svg'); font-weight: normal; font-style: normal; }
/*------ Ganeral ------------------------------------------------------*/ 
body { font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #999; background: #FFFFFF url(../images/bg-body.jpg) repeat-x left top; }
a:link, a:visited { color: #50a3fc; border: none; text-decoration: none; }
a:hover, a:active { color: #073c75; border: none; text-decoration: underline;   }
.clear { clear: both }
h1 { color: #485ed1; padding-bottom: 0px; font-family: 'DBHelvethaicaX45Li'; font-size: 35px; font-weight: normal }
h2 { color: #485ed1; margin-bottom: 0px; padding-bottom: 10px; font-family: Verdana, Geneva, sans-serif; font-size: 19px; font-weight: lighter; }
h3 { }
p { line-height: 20px; color: #999999; margin-bottom: 5px; }
/*------ Layout ------------------------------------------------------*/ 
#container { width: 870px; margin: 0px auto; }
#header { height: 63px; position: relative;  display: block; top: 0px; left: 0px;   }
.logo  { position: absolute; left: 0px; top : 5px;  width:215px;  height:54px; background:  url(../images/logo_sinmonkong.jpg) no-repeat left 3px ;   } 
.logo  a   { width:215px; height:54px; display:block;  }
.logo  span{display:none; } 



.callcenter { position: absolute; right: 0px; top : 0px; background: url(../images/header_callcenter.jpg) no-repeat left top;
                width:251px ; height: 63px; }
.breadcrumb { clear: both; width: 800px; height: 20px; }
.breadcrumb ul li { display: inline; }
.breadcrumb ul li a { float: left; text-decoration: underline; }
#nav-backend { clear: both; width: 870px; height: 33px; font-family: 'DBHelvethaicaX45Li'; font-size: 21px;  margin-bottom:10px; }
#nav-backend ul {  height: 38px;    }
#nav-backend ul li {   position:relative ; float:left; }
#nav-backend ul li a { float: left; text-decoration: none;  height : 28px;  border-right: 1px solid #fff; background : url('../images/nav-top.jpg') no-repeat  -10px top; color: #fff;  height: 30px;  padding:8px 13px 0px 13px  ;  }
#nav-backend ul li a:hover, .navMain ul li .active { background : url('../images/nav-top.jpg') no-repeat  -10px -38px; }
 
#nav-backend ul li  a.first {padding-left:17px; background : url('../images/nav-top.jpg') repeat-x left top;}
#nav-backend ul li  a.first:hover {  background : url('../images/nav-top.jpg') repeat-x left -38px;}
#nav-backend ul li  a.last {padding-right:17px;background : url('../images/nav-top.jpg') repeat-x right top;}
#nav-backend ul li  a.last:hover { background : url('../images/nav-top.jpg') repeat-x right -38px; }
#nav-backend ul li a.last{border-right:none; }

 
#nav-backend ul.subNav{position:absolute; left:0px; top:35px; z-index:111; border:1px solid #ccc ; 
background-color:#fff ;   padding:10px; border-radius: 8px; padding-right: 0px;   } 
#nav-backend  ul.subNav li {float:left;  height:auto;  }
#nav-backend  ul.subNav li a{  background: url('../images/bullet-2.png') no-repeat left 3px;  margin: 0px ; padding:0px; font-size:18px;  text-indent:15px; height : 20px;  color:#666;  width:120px;  /* border:1px solid #ccc ; */  } 
#nav-backend  ul.subNav li a:hover{ color:Blue; background: url('../images/bullet-1.png') no-repeat left 3px;  }


/* ###### Control Each Width ####### */
#nav-backend  ul.subNav-01  {width:270px; height: 40px;}
#nav-backend  ul.subNav-02  {width:130px; height: 40px;}
#nav-backend  ul.subNav-03  {width:130px; height: 60px;}
/*
#nav-top  .subNav-01 li a{ width:120px;}
#nav-top  .subNav-02 li a{ width:120px;}
#nav-top  .subNav-03 li a{ width:120px;}
*/


#warper { height: auto !important; min-height: 280px; height: 280px; margin-bottom: 20px; width: 854px; border : 1px solid #ddd; border-radius: 8px; padding: 8px 8px 8px 8px; background-color: #fff; }
#side-left { width: 655px; float: left; height: auto !important; height: 310px; min-height: 310px; /* border: 1px solid #eee; */ }
#side-right { width: 195px; float: right; display: block; height: auto !important; height: 300px; min-height: 300px; /* border: 1px solid #eee; */ margin-top: 0px; }
#footer { height: 50px; display: block; margin-bottom: 20px; padding-top: 20px; width: 870px; }
#footer .footlink { margin-bottom: 10px; clear: both; height: 30px; text-align: center; margin: 0px auto; display: block; width: 700px; }
#footer .footlink li { float: left; font-size: 12px; }
#footer .footlink li a { text-align: center; padding: 0px 5px; color: #2852cd; }
#footer .footlink li a:hover { color: #24439d; }
#footer .copy { color: #525253; font-size: 11px; float: left; text-align: center; margin-bottom: 10px; }
#footer .policy { margin-bottom: 5px; float: right; font-size: 11px; }
#footer .policy li { float: left; }
#footer .policy a { color: #525253; padding: 0px 5px; }
#footer .policy a:hover { color: #ccc; }

/*---- Side Right---------------------------------------------------*/
#side-right .select-ins { border-radius: 9px; background-color: #f0f0f0; height: auto !important; height: 160px; min-height: 160px; width: 185px; margin-bottom: 10px; background : #f0f0f0 url('../images/icon-search-1.png') no-repeat 7px 3px; padding: 5px; }
#side-right .select-ins h1 { font-family: 'DBHelvethaicaX45Li'; font-size: 25px; color: #000; text-align: right; }
#side-right .select-ins h2 { font-family: 'DBHelvethaicaX45Li'; font-size: 21px; text-align: right; margin-bottom: 0px; padding-bottom: 0px; }
#side-right .online-ins { border-radius: 9px; background-color: #f0f0f0; height: auto !important; height: 160px; min-height: 160px; width: 185px; margin-bottom: 10px; background : #f0f0f0 url('../images/icon-search-2.png') no-repeat right 5px; padding: 5px; }
#side-right .online-ins h1 { font-family: 'DBHelvethaicaX45Li'; font-size: 24px; color: #000; }
#side-right .online-ins h2 { font-family: 'DBHelvethaicaX45Li'; font-size: 21px; text-align: left; margin-bottom: 0px; padding-bottom: 0px; }
#side-right select { width: 183px; }
 

/*---- UC Cat Link ------------------------------------------------------*/
.cat-link-warp { border: 1px solid #ddd; border-radius: 8px; padding: 10px 10px; }
.cat-link { float: left; width: 190px; border: 1px solid #ddd; border-radius: 8px; padding: 5px; height: auto !important; height: 140px; min-height: 140px; background-color: #f9fbff; }
.cat-link-margin { margin-right: 12px; }
.cat-link h1 { font-family: 'DBHelvethaicaX45Li'; font-size: 29px; padding-left: 40px; }
.cat-link h1.icon1 { background : url('../images/icon-footer-1.png') no-repeat left top; }
.cat-link h1.icon2 { background : url('../images/icon-footer-2.png') no-repeat left top; }
.cat-link h1.icon3 { background : url('../images/icon-footer-3.png') no-repeat left top; }
.cat-link h1.icon4 { background : url('../images/icon-footer-4.png') no-repeat left top; }
.cat-link .row-list { }
.cat-link .row-list li { background : url('../images/bullet-2.png') no-repeat left 6px; padding-left: 18px; line-height: 23px; }
.cat-link .row-list li a { text-decoration: underline; color: #2852cd; }
.cat-link .row-list li a:hover { color: #8f9195; }



/*---- BTN------------------------------------------------------*/

.btn-bg { background : url('../images/btn-bg.jpg') repeat-x left top; padding: 0px 10px; color: #fff; font-family: 'DBHelvethaicaX45Li'; font-size: 24px; border: none; border-radius: 5px; height: 28px; }
.btn-order-thai { background : url('../images/btn-order-t.png') no-repeat left top; width: 82px; height: 28px; padding: 0px 10px; color: #fff; font-family: 'DBHelvethaicaX45Li'; font-size: 24px; border: none; border-radius: 5px; height: 28px; }
.btn-more-thai { background : url('../images/btn-more-t.png') no-repeat left top; width: 82px; height: 28px; padding: 0px 10px; color: #fff; font-family: 'DBHelvethaicaX45Li'; font-size: 24px; border: none; border-radius: 5px; height: 28px; }
.btn-selectdata-t { background : url('../images/btn-selectdata-t.png') no-repeat left top; width: 87px; height: 24px; border: none; float: right; padding-right: 5px; margin-top: 5px; }
.btn-confirm-t { background : url('../images/btn-confirm-t.png') no-repeat left top; width: 57px; height: 24px; border: none; float: right; padding-right: 5px; margin-top: 5px; }

/*---- BTN All  -------------------------------------------------*/

.btnRow {}
.btnRow .btn-detail-th {background : url('../images/btn-detail-th.jpg') no-repeat left top; width: 105px; 
 height: 28px; padding: 0px 10px; color: #fff; font-family: 'DBHelvethaicaX45Li'; font-size: 24px; 
 border: none; border-radius: 5px; height: 28px;}
.btnRow .btn-order-th {background : url('../images/btn-order-t.png') no-repeat left top; width: 82px; 
height: 28px; padding: 0px 10px; color: #fff; font-family: 'DBHelvethaicaX45Li'; font-size: 24px; 
border: none; border-radius: 5px; height: 28px;}

/*------ Page-Home ------------------------------------------------------*/ 
#key { height: 220px; width: 870px; border : 1px solid #ddd; display: block; border-radius: 8px; overflow: hidden; margin-bottom: 10px; }
.cat-show { width: 300px; float: left; border : 1px solid #ddd; border-radius: 8px; padding: 5px 5px 5px 5px; height: auto !important; height: 200px; min-height: 200px; margin-bottom: 15px; }
.cat-show-margin { margin-right: 15px; }
.cat-col-left .cat-show h1 { font-family: 'DBHelvethaicaX45Li'; font-size: 32px; margin-bottom: 0px; }
.cat-col-left { float: left; width: 130px; }
.cat-col-left .cat-des { width: 130px; margin-bottom: 10px; height: 70px; }
.cat-col-left .cat-type { width: 130px; margin-bottom: 10px; }
.cat-col-left .cat-type a { text-decoration: underline; background : url('../images/bullet-1.png') no-repeat left 4px; padding-left: 15px; }
.cat-col-left .cat-type a:hover { color: #0f5ce7; }
.cat-col-right { float: right; height: 130px; overflow: hidden;
	width: 150px;
}
.cat-col-right img { width: 150px; border 1px solid #eee;
}
/*---- Page Service -------------------------------------------------*/
.product-row{ border: 1px solid #ddd ;  border-radius: 9px;  clear:both;margin-bottom:10px;padding :10px;   }
.product-row .colLeft{float:left; width:148px;height:123px; display:block;margin-right:10px; border:1px solid #ccc ;  } 
.product-row .colRight{float:left; width:300px; display:block; } 
.product-row .colRight h1{font-size:25px; font-family: 'DBHelvethaicaX45Li'; } 
.product-row .colRight .des-short {}

/*------ Page Prd-Detail ------------------------------------------------------*/ 
#page-prd-detail{ position:relative; padding: 0px 20px; }
#page-prd-detail  .prd-top{ height:239px;margin-bottom:50px; }
#page-prd-detail  .prd-btn{position:absolute; right:20px; top:0px; }

#page-prd-detail  .btn-order{ background : url('../images/btn-order-t.png') no-repeat left top; width: 82px; 
height: 28px; padding: 0px 10px; color: #fff; font-family: 'DBHelvethaicaX45Li'; font-size: 24px; 
border: none; border-radius: 5px; height: 28px;

}

#page-prd-detail  .prd-name{font-size:25px; font-family: 'DBHelvethaicaX45Li'; width:550px;color:#0b36c9;   }
#page-prd-detail  .prd-pic-border{ background:url('../images/prd-detail-bg.jpg') no-repeat left top  ;
margin-bottom: 20px; padding-left:20px; padding-top:20px;width:380px; height:250px ; 
margin:0px auto; /*  border : 1px solid Green ; */
  } 


#page-prd-detail .prd-pic-border .prd-pic { width:312px; height:196px ;  overflow:hidden; }
#page-prd-detail .prd-pic-border .prd-pic  img{  width:350px; }
#page-prd-detail  .context{ line-height:21px; padding-bottom:30px;  }
